<section class="mb-4">
    <div class="row justify-content-center mb-2">
      <div class="col">
        <h2 class="mb-0">{{ title|default:"From The Archives" }}</h2>
        <p class="mb-0">{{ subtitle|default:"Explore the depths of the Blender cloud and jump in somewhere random!" }}</p>
      </div>
      <div class="col-md-auto d-none d-md-block carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_film_assets|length <= 1 %}onlyOne{% elif featured_film_assets|length <= 4 %} lessThanThree {% endif %}"
          href="#fromTheArchives" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_film_assets|length <= 1 %}onlyOne{% elif featured_film_assets|length <= 4 %} lessThanThree {% endif %}"
          href="#fromTheArchives" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="fromTheArchives" class="carousel carousel-card-4 slide w-100" data-touch="true" data-ride="carousel"
        data-interval="0">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            {% for asset in featured_film_assets|slice:':1' %}
            {% include "common/components/file_carousel.html" with film_asset=asset card_sizes="col-lg-3 col-6 col-md-4" %}
            {% comment %}
            {% include "common/components/cards/card_featured_asset.html" with film_asset=asset card_sizes="col-md-3" %}
            {% endcomment %}
            {% endfor %}
          </div>
          {% for asset in featured_film_assets|slice:'1:6' %}
          <div class="carousel-item">
            {% include "common/components/file_carousel.html" with film_asset=asset card_sizes="col-lg-3 col-6 col-md-4" %}
            {% comment %}
            {% include "common/components/cards/card_featured_asset.html" with film_asset=asset card_sizes="col-md-3" %}
            {% endcomment %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row d-block d-md-none">
      <div class="col-md-auto carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_film_assets|length <= 1 %}onlyOne{% elif featured_film_assets|length <= 4 %} lessThanFour {% endif %}"
          href="#fromTheArchives" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_film_assets|length <= 1 %}onlyOne{% elif featured_film_assets|length <= 4 %} lessThanFour {% endif %}"
          href="#fromTheArchives" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </section>
