<div class="{% block classes %}grid-item{% endblock classes %}">
  <div class="card">
    <div class="card-header">
      <a class="card-header-link" href="{% url 'post-detail' slug=post.slug %}" aria-label="{{ post.title }}">
        {% if post.thumbnail %}
          {% block image %}
            <img alt="{{ post.title }}" class="card-img" src="{{ post.thumbnail_s_url }}">
          {% endblock image %}
        {% endif %}
      </a>
    </div>
    <a href="{% url 'post-detail' slug=post.slug %}" class="card-body">

      <h3 class="card-title">
        {% if post.is_new and post.is_published %}
          <div class="badge badge-primary mt-n1">New</div>
        {% endif %}
        {{ post.title }}
      </h3>
      <p class="card-text">{{ post.excerpt }}</p>

    </a>
    <a href="{% url 'post-detail' slug=post.slug %}" class="card-footer">
      <div class="card-subtitle-group">

        {% comment %} <p class="card-subtitle">
          {{ post.category|title }}
        </p> {% endcomment %}
        {% if not post.is_published %}
          <div class="badge badge-danger">
            Unpublished
          </div>
        {% else %}
          <p class="card-subtitle">
            <i class="material-icons icon-inline small">schedule</i>
            <span class="date">
              {{ post.date_published|date:"U" }}
            </span>
          </p>
        {% endif %}

      </div>
    </a>


  </div>
</div>
