<div class="{{ card_sizes|default:"col-12 col-sm-6 col-lg-4" }} card-grid-item">
  <div class="card card-dark card-media card-hover" data-favorite-url="{{ film_asset.favorite_url }}">

    <div class="card-header" {% if film_asset.static_asset.thumbnail_s_url %} style='background-image: url("{{ film_asset.static_asset.thumbnail_s_url }}")'{% endif %}>
      <a href="{{ film_asset.url }}" class="card-header-link"></a>
    </div>

    <a class="card-body" href="{{ film_asset.url }}">
      <div class="card-subtitle-group">
        <p class="card-subtitle">{{ film_asset.get_type_display }}</p>
      </div>
      <h3 class="card-title">{{ film_asset.name }}</h3>
      <p class="card-text">{{ film_asset.description|truncatewords:10 }}</p>
    </a>

    {% if film_asset.tags.all %}
    <div class="card-footer">
      <div class="pills {% comment %}{{ class|join(' ') }}{% endcomment %}">
        {% for tag in film_asset.tags.all %}
        {% include 'common/components/cards/pill.html' with label=tag.name %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>
