{% load thumbnail %}
<div class="grid-item">
  <div class="card card-dark card-media">
    <div class="card-header">
      <a href="{% url 'post-detail' post_slug=post.slug %}">
        <img class="card-image" src="{{ post.picture_16_9 }}">
        {#        {% include "common/components/helpers/image_set.html" with alt="alt" classes="file-image" img_source=post.picture_16_9 xsmall_width="350" small_width="350" medium_width="350" large_width="350" xlarge_width="350" %}#}
      </a>
    </div>
    <a href="{% url 'post-detail' post_slug=post.slug %}" class="card-body">
      <div class="card-subtitle-group">

        <p class="card-subtitle">
        {% comment %} TODO(Mike): Add topic when Nat adds it in the backend {% endcomment %}
          Topic
        </p>

        {% if post.is_new %}
        <div class="badge badge-primary">
          New
        </div>
        {% else %}
        <p class="card-subtitle">
          <i class="material-icons btn-material-icons">schedule</i>
          {{ post.date_updated|date:"jS F Y" }}
        </p>
        {% endif %}

      </div>
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text">{{ post.description }}</p>

    </a>
  </div>
</div>
