<div class="{{ card_sizes|default:"col-12 col-sm-6 col-lg-4" }} card-grid-item">
  <div class="card card-dark card-media card-hover" data-favorite-url="{{ training.favorite_url }}">

    <div class="card-header" style='background-image: url("{{ training.thumbnail.url }}")'>
      <a href="{{ training.url }}" class="card-header-link"></a>
      {% if request.user.is_authenticated %}
      {% include 'training/components/card_button_favorite.html' with class='btn-save-media card-training-favorite' checked=training.favorited %}
      {% endif %}
    </div>

    <a class="card-body" href="{{ training.url }}">
      <div class="card-subtitle-group">
        <p class="card-subtitle">{{ training.get_type_display }}</p>
        <p class="card-subtitle">
          <i class="material-icons icon-inline small">school</i>
          {{ training.get_difficulty_display }}
        </p>
      </div>
      <h3 class="card-title">{{ training.name }}</h3>
      <p class="card-text">{{ training.description }}</p>
    </a>

    {% if training.tags.all %}
    <div class="card-footer">
      <div class="pills {% comment %}{{ class|join(' ') }}{% endcomment %}">
        {% for tag in training.tags.all %}
        {% include 'common/components/cards/pill.html' with label=tag.name %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>
