<div class="col-12 col-sm-6 col-lg-4 card-grid-item">
    <div class="card card-media card-training" data-favorite-url="{{ training.favorite_url }}">

        <div class="card-header" style='background-image: url("{{ training.picture_16_9 }}")'>
            <a href="{{ training.url }}" class="card-header-link"></a>
            <div class="badge badge-difficulty badge-{{ training.difficulty.value }}">
                <i class="material-icons btn-material-icons">extension</i>
                {{ training.difficulty.label }}
            </div>
            {% include 'training/components/card_button_favorite.html' with class='btn-save-media card-training-favorite' checked=training.favorited %}
            {% comment %}
            {{ card_training_checkbox_favorite(checked=training.favorited, class=['btn-save-media', 'card-training-favorite']) }}
            {% endcomment %}
        </div>

        <a class="card-body" href="{{ training.url }}">
            <p class="card-subtitle">{{ training.type.label }}</p>
            <h2 class="card-title">{{ training.name }}</h2>
            <p class="card-text">{{ training.description }}</p>
        </a>

        <div class="card-footer">
            <div class="pills {% comment %}{{ class|join(' ') }}{% endcomment %}">
                {% for tag in training.tags %}
                {% include 'components/cards/pill.html' with label=tag %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>