<div class="col-12 col-sm-6 col-lg-4 card-grid-item">
    <div class="card card-media">
        <div class="card-header" style='background-image: url("{{ image_placeholder }}")'>
            {% comment %}
            {{ progressbar(section.progress_fraction) }}
            {% endcomment %}
        </div>
        <a class="card-body" href="{{ section.url }}">
            <p class="card-subtitle">{{ section.training_name }}</p>
            <p class="card-subtitle">{{ section.chapter_name_with_index }}</p>
            <h2 class="card-title">{{ section.name_with_index }}</h2>
        </a>
    </div>
</div>