<button class="btn btn-ctrl-xs checkbox-favorite btn-ctrl-sm {{ class }} {% if checked %} checked" data-checked="checked" data-toggle="tooptip" data-placement="left" title=" Remove from saved for later"
    {% endif %}" data-toggle="tooltip" data-placement="left" title="Save for later">
    {% if checked %}
    <i class="material-icons btn-material-icons checkbox-favorite-icon-checked">check</i>
    {% else %}
    <i class="material-icons btn-material-icons checkbox-favorite-icon-unchecked">add</i>
    {% endif %}
</button>