{% load pipeline %}
{% load static %}
{% load common_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'common/images/favicon/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{% block title_prepend %}{% endblock title_prepend %}Blender
    Cloud Subscription{% block title_append %}{% endblock title_append %}</title>
  <meta name="google-site-verification" content="r-8DuUEYwMyb14SRVj0I4mSUSEPmdRRMrT-zMSbFkas">

  {% block meta %}
  {% include 'common/components/meta.html' %}
  {% endblock meta %}

  {% stylesheet 'studio' %}
</head>

<body class="{% block bodyclasses %}{% endblock bodyclasses %}"
  data-authenticated="{% if request.user.is_authenticated %}true{% else%}false{% endif %}">

  <nav class="navbar">
    <div class="navdrawer-offset">
      <div class="container-xl flex-nowrap">

        <a href="/" class="navbar-brand">
          <img src="{% static 'common/images/blender_cloud_logo.svg' %}" alt="Blender Cloud">
        </a>

      </div>
    </div>
  </nav>

  {% block content %}{% endblock content %}

  {% block scripts %}{% endblock scripts %}
</body>

</html>
