{% extends "checkout/checkout_base_empty.html" %}
{% load looper %}
{% load pipeline %}
{% load common_extras %}

{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <a class="text-muted" href="/"><i class="fa fa-angle-left pr-3"></i>back to Blender Cloud</a>
    <section class="plan-info">
      <h3 class="my-0 pt-4">{{ plan.description }}</h3>
      <h2 class="ml-auto my-0 pt-4"><span>{{ order.price.with_currency_symbol }} for {{ subscription.interval_length }} {{ subscription.interval_unit }}</span></h2>
    </section>
    <hr/>
    <form class="checkout-form" id="payment-form" method="post"
          data-looper-payment-form="true"
          data-braintree-client-token="{{ client_token }}">{% csrf_token %}
      <div class="payment-content-inner">
        <section class="checkout-form-fields">
          {% with form|add_form_classes as form %}
          {% include "subscriptions/components/billing_address_form.html" %}
          {% include "subscriptions/components/payment_form.html" %}
          {% endwith %}
        </section>
      </div>
      {# will be enabled when payment gateways are initialized successfully #}
      <button id="submit-button" class="btn btn-payment-confirm" type="submit"
              aria-disabled="true"
              disabled>Pay {{ order.price.with_currency_symbol }}
      </button>
    </form>
  </section>
</div>
{% javascript "subscriptions" %}
{% include "looper/scripts.html" %}
{% endblock %}
