{% extends 'films/base.html' %}
{#{% import 'common/components.html' as components %}#}
{#{% import 'films/components.html' as film_components %}#}

<!-- TODO(Mike): Remove this file and parent folder when no longer needed as refrence -->

{% block jumbotron %}
{#{% call film_components.wide_jumbotron(bg_path="films/images/coffee-run-header.png") %}#}
<img class="mb-3" src="{{ static('films/images/coffee-run-logo.png') }}">
<p>
    Coffee Run (currently in development) is directed by Hjalti Hjalmarsson and produced by the team at Blender
    Animation Studio.</p>
<p>
    This 2d-scroller-inspired short film will take you on the journey of a lifetime, as we sip on a cup of coffee. Read
    the project announcement on the blog.
</p>
<a class="btn btn-primary mb-0">Explore Content</a>
{#{% endcall %}#}

<div class="navbar-secondary">
    <div class="container">
        <div class="list-group list-group-flush list-group-horizontal small">
            <a class="list-group-item active" href="{% url 'film-detail' slug=film.slug %}">
                {{ film.title }}
            </a>
            <a class="list-group-item" href="{% url 'film-about' slug=film.slug %}">
                About
            </a>
            <a class="list-group-item" href="{% url 'film-gallery' slug=film.slug %}">
                Gallery
            </a>
            <a class="list-group-item" href="{% url 'film-weeklies' slug=film.slug %}">
                Weeklies
            </a>
        </div>
    </div>
</div>
{% endblock jumbotron %}


{% block content %}
<section class="mb-5">
    <!-- Latest Updates -->
    <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
            <h2 text>Latest Updates</h2>
            <p clas="mb-0">Want to see more updates from Coffee Run? <a href="#">See all weeklies</a></p>
        </div>
	</div>

	{% call film_components.update_feed() %}
			{% call film_components.update_feed_week("1st - 7th March","7") %}
				<p>hello</p>
			{% endcall %}
	{% endcall %}

    <div class="update-feed">

        <div class="update-feed-week">
            <div class="update-feed-week-column column-left">
                <div class="update-feed-week-icon">
                    <i class="material-icons">calendar_today</i>
                </div>
            </div>
            <div class="update-feed-week-column column-right">
                <div class="update-feed-week-header">
                    <p>1st - 7th March</p>
                    <h3>Production Week 7</h3>
                </div>

                <div class="update-feed-individual">
                    <div class="update-feed-individual-summary">
                        <a href="#">
                            <img src="{{ static('films/images/coffee-run-16-9.png') }}">
                        </a>
                    </div>
                    <div class="update-feed-individual-files">
                        <h3>This week on Coffee Run</h3>
                        <p>This week i’m working on the paint-overs for the Restaurant and Coffee shop. Getting the
                            atmosphere for these settings right is important to the story delivery.</p>
                        <p>This week i’m working on the paint-overs for the Restaurant and Coffee shop. Getting the
                            atmosphere for these settings right is important to the story delivery.</p>
                        <a href="#">Read the full blog</a>
                    </div>
                </div>

                <div class="update-feed-individual">
                    <div class="update-feed-individual-summary">
                        <div class="update-feed-individual-summary-profile">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');" class="profile-image profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row update-feed-individual-files-show-more">
                            <div class="col text-center">
                                <a href="#" class="btn btn-sm btn-secondary">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="update-feed-individual">
                    <div class="update-feed-individual-summary">
                        <div class="update-feed-individual-summary-profile">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
                                class="profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row update-feed-individual-files-show-more">
                            <div class="col text-center">
                                <a href="#" class="btn btn-sm btn-secondary">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="update-feed-week">
            <div class="update-feed-week-column column-left">
                <div class="update-feed-week-icon">
                    <i class="material-icons">calendar_today</i>
                </div>
            </div>
            <div class="update-feed-week-column column-right">
                <div class="update-feed-week-header">
                    <p class="subtitle small">1st - 7th March</p>
                    <h3>Production Week 7</h3>
                </div>
                <div class="update-feed-individual">
                    <div class="update-feed-individual-summary">
                        <div class="update-feed-individual-summary-profile">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
                                class="profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({{ static('films/images/files-example.jpg') }})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col text-center">
            <p clas="mb-0">Want to see more updates from Coffee Run? <a href="#">See all weeklies</a></p>
        </div>
    </div>
</section>

<section>
    <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
            <h2 text>Latest Blog Posts</h2>
            <p clas="mb-0">Want to see more updates from Spring? <a href="#">See all the latest blog posts</a></p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card-deck">
                <div class="card card-dark mb-3"><a class="card-body" href="#">
                        <p class="text-primary card-subtitle">News</p>
                        <h2 class="card-title">Blender 2.81 released</h2>
                        <p class="card-text">The much anticipated update of the Blender 2.80 milestone is
                            here!</p>
                    </a></div>
                <div class="card card-dark mb-3"><a class="card-body" href="#">
                        <p class="text-primary card-subtitle">News</p>
                        <h2 class="card-title ">AMD signs up as a Patron member of Development Fund</h2>
                        <p class="card-text">This will add more support for core Blender development, Vulkan
                            migration and to keep AMD GPU technology well supported for our users.</p>
                    </a></div>
                <div class="card card-dark mb-3"><a class="card-body" href="#">
                        <p class="text-primary card-subtitle">News</p>
                        <h2 class="card-title">Blender Benchmark 2020 update</h2>
                        <p class="card-text">The Blender Benchmark software and the Open Data platform
                            received a significant update!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br><br><br><br>

<div class="modal modal-asset" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <button class="modal-navigation modal-close btn btn-ctrl" href="#" data-dismiss="modal">
        <i class="material-icons btn-material-icons">close</i>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">

            <div class="modal-header p-0 bg-secondary">
                <button class="modal-navigation previous btn btn-ctrl" href="#">
                    <i class="material-icons btn-material-icons">navigate_before</i>
                </button>
                <a data-toggle="modal" data-target="#modal5-zoom" class="modal-asset-image-wrapper" href="#">
                    <img class="" src="{{ static('films/images/masonry/5.jpg') }}">
                </a>
                <button class="modal-navigation next btn btn-ctrl" href="#">
                    <i class="material-icons btn-material-icons">navigate_next</i>
                </button>
            </div>
            <div class="modal-body">
                <p class="subtitle small">Image</p>
                <h2 class="mb-0">Spring Movie Poster</h2>
                <div class="training-toolbar-container">
                    <div class="training-toolbar-details">
                        <div class="text-muted x-small">
                            <p class="d-inline mr-3">12th July 2019</p>
                        </div>
                    </div>

                    <div class="training-toolbar">
                        <a class="btn btn-sm btn-dark"><i
                                class="material-icons btn-material-icons btn-material-icons-lg">favorite_border</i>
                            Like</a>
                        <a class="btn btn-sm btn-dark">Download</a>
                        <button data-toggle="dropdown" class="btn btn-sm btn-ctrl-sm btn-dark">

                            <i class="material-icons btn-material-icons">more_horiz</i>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">
                                    <i class="material-icons">flag</i>
                                    <span>Report Problem</span>
                                </a>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');" class="profile ml-2">
                    </div>
                    <div class="col-auto">
                        <p class="subtitle text-white-50 x-small">Author</p>
                        <h4 class="comment-name">Mike Newbon</h4>
                    </div>
                </div>
                <p>Finally we are creating the high-res model for our scene! In this chapter we will go over a few basic
                    modeling techniques as well as the first part of the production timelapse.</p>

                <div class="comment-section mt-3" data-comment-url="/training/api/sections/1/comment/"
                    data-profile-image-url="https://blender.chat/avatar/fsiddi">
                    <h3>2 Comments</h3>


                    <div class="comment-input row comment-main-input">
                        <div class="col-auto pr-0 d-flex">
                            <div style="background-image:url(https://blender.chat/avatar/fsiddi);" class="profile">
                            </div>
                        </div>
                        <div class="col">
                            <form class="input-group input-group-sm" _lpchecked="1">
                                <input type="text" placeholder="Comment publicly" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-input">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col text-center">
                            <a href="#" class="btn btn-sm btn-secondary">Show Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-navigation modal-close btn btn-ctrl" href="#" data-dismiss="modal">
        <i class="material-icons btn-material-icons">close</i>
    </button>
</div>

<div class="modal modal-asset-zoom" id="modal5-zoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">

            <div class="modal-header p-0">
                <div class="training-toolbar">
                    <a class="btn btn-sm btn-dark"><i
                            class="material-icons btn-material-icons btn-material-icons-lg">favorite_border</i>
                        Like</a>
                    <a class="btn btn-sm btn-dark">Download</a>
                    <button data-toggle="dropdown" class="btn btn-sm btn-ctrl-sm btn-dark">

                        <i class="material-icons btn-material-icons">more_horiz</i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">flag</i>
                                <span>Report Problem</span>
                            </a>
                        </div>
                    </button>
                    <button data-dismiss="modal" class="btn btn-sm btn-ctrl-sm btn-dark">
                        <i class="material-icons btn-material-icons">close</i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <img class="" src="{{ static('films/images/masonry/5.jpg') }}">
            </div>
        </div>
    </div>

</div>

<script>
    var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-item',
        percentPosition: true,
    });

    $grid.imagesLoaded().progress(function () {
        $grid.masonry('layout');
    });
</script>

{% endblock content %}
