{% extends 'training_main/base.html' %}

{% block content %}
    <div>
        <a href="{{ url('home') }}">Home</a>
        >
        <span>{{ training.name }}</span>
    </div>
    <hr/>
    <div>
        <div>Type: {{ training.get_type_display() }}</div>
        <div>Name: {{ training.name }}</div>
        <div>Description: {{ training.description }}</div>
        <div>Difficulty: {{ training.get_difficulty_display() }}</div>
        <div>Tags: {{ training.tags.all() | map(attribute='name') | join(', ') }} </div>
    </div>
    <hr/>
    <div>
        <h3>Chapters</h3>
        {% for chapter in chapters|sort(attribute='index') %}
            <div>URL: <a href="{{ chapter.url }}">{{ chapter.url }}</a></div>
            <div>Name: {{ chapter.name }}</div>
        {% endfor %}
    </div>
{% endblock content %}
