{% extends 'training_main/base.html' %}
{% import 'common/components.html' as components %}

{% block breadcrumbs %}
    {% call components.breadcrumbs() %}
        {{ components.breadcrumb(label='Home', url=url('home')) }}
        {{ components.breadcrumb(label=training.name, url=training.url) }}
        {{ components.breadcrumb(label=chapter.name_with_index) }}
    {% endcall %}
{% endblock breadcrumbs %}

{% block content %}
    <div>
        <div>Name: {{ chapter.name }}</div>
    </div>
    <hr/>
    <div>
        <h3>Sections</h3>
        {% for section in sections|sort(attribute='index') %}
            <div>URL: <a href="{{ section.url }}">{{ section.url }}</a></div>
            <div>Name: {{ section.name }}</div>
        {% endfor %}
    </div>
{% endblock content %}
