# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*~

.cache
.coverage
.pytest_cache
.mypy_cache/

# Distribution / packaging
node_modules/

/studio/settings.py
/public/
/yarn-error.log
.venv/
.python-version
studio/blender-cloud-credentials.json
data.ms/
.vscode
