<div class="row blogs grid">
  {% for record in records %}
    {% if record.obj_type == 'post' %}
      {% include "common/components/cards/card_blog.html" with post=record.object %}
{#    {% elif record.obj_type == 'production log' %}#}
{#      TODO(Natalia): Include a production log card here #}
    {% elif record.obj_type == 'training' %}
      {% include "common/components/cards/card_training.html" with training=record.object %}
{#      TODO(Natalia): Training cards overlap with the blog cards, classes need adjustment#}
    {% endif %}

  {% endfor %}


  <div class="grid-sizer col-md-4"></div>

</div>
