{% spaceless %}

  {% if not field.is_hidden %}
    <div class="payment-input-header">
      <label for="{{ field.id_for_label }}">
        <span class="h4">{{ field.label }}</span>
        {% if field.help_text %}
          <span class="small subtitle ms-2">{{ field.help_text }}</span>
        {% endif %}
      </label>
      {% if field.field.required %}<span class="ms-1 subtitle fw-bold">*</span>{% endif %}
      {% if collapse_link == True %}
        <a class="subtitle-light small text-decoration-underline ms-auto" data-bs-toggle="collapse" href="#{{ collapse_link_target }}"
          role="button" aria-expanded="false" aria-controls="{{ collapse_link_target }}"><span class="add-remove">{% if collapse_field.value %}Remove{% else %}Add{% endif %}</span>
          {{ collapse_link_text }}
        </a>
      {% endif %}
    </div>
  {% endif %}
  {{ field }}
  <div class="invalid-feedback">{{ field.errors }}</div>
{% endspaceless %}
