{% spaceless %}

{% if not field.is_hidden %}
<div class="payment-input-header">
  <label for="{{ field.id_for_label }}">
    <span class="h4">{{ field.label }}</span>
    {% if field.help_text %}
    <span class="small subtitle ml-2">{{ field.help_text }}</span>
    {% endif %}
  </label>
  {% if field.field.required %}<span class="ml-1 subtitle font-weight-bold">*</span>{% endif %}
  {% if collapse_link == True %}
  <a class="subtitle small text-decoration-underline ml-auto" data-toggle="collapse" href="#{{ collapse_link_target }}"
    role="button" aria-expanded="false" aria-controls="{{ collapse_link_target }}"><span class="add-remove">Add</span>
    {{ collapse_link_text }}</a>
  </a>
  {% endif %}
</div>
{% endif %}
{{ field }}
<div class="invalid-feedback">{{ field.errors }}</div>
{% endspaceless %}
