{% load static %}
{% load thumbnail %}
{% load common_extras %}

<div class="file grid-item {{ aspect_ratio }} {{ card_sizes|default:"col-12 col-sm-6 col-md-6 col-lg-4" }} {% if aspect_ratio == "16:9" %}widescreen{% elif aspect_ratio == "4:3" %}fourbythree{% elif aspect_ratio == "1:1" %}square{% endif %} {% if user_can_view_asset or asset.is_free %}{% else %}locked{% endif%}">
  <div class="file-header">
    <a href="?asset={{ asset.id }}" class="file-modal-link" data-asset-id="{{ asset.id }}"
      data-url="{% url 'api-asset' asset.id %}?site_context={{ site_context }}">

      {% if asset.static_asset.preview %}
      {% if user_can_view_asset or asset.is_free %}
      {% include "common/components/helpers/image_set.html" with alt=asset.name classes="file-image" img_source=asset.static_asset.preview xsmall_width="350" small_width="350" medium_width="350" large_width="350" xlarge_width="350" %}
      {% else %}
      <div class="file-lock-text">
        <h4 class="mb-0"><i class="material-icons icon-inline small">lock</i>Subscribe to view</h4>
      </div>
      {% include "common/components/helpers/image_set.html" with alt=asset.name classes="file-image locked" img_source=asset.static_asset.preview xsmall_width="200" small_width="200" medium_width="200" large_width="200" xlarge_width="200" %}
      {% endif %}
      {% if asset.contains_blend_file %}
      <img class="file-icon" src="{% static "common/images/icons/blend.svg" %}" alt="asset preview">
      {% elif asset.static_asset.source_type == "file" %}
      <img class="file-icon" src="{% static "common/images/icons/file.svg" %}" alt="asset preview">
      {% elif asset.static_asset.source_type == "video" %}
      <div class="badge badge-video-duration badge-darkhighlight-strong">
        {{ asset.static_asset.video.duration_label }}
      </div>
      {% endif %}
      {% else %}
      {% if asset.contains_blend_file %}
      <img class="file-icon" src="{% static "common/images/icons/blend.svg" %}" alt="asset preview">
      {% elif asset.static_asset.source_type == "file" %}
      <img class="file-icon" src="{% static "common/images/icons/file.svg" %}" alt="asset preview">
      {% elif asset.static_asset.source_type == "video" %}
      <img class="file-icon" src="{% static "common/images/icons/video.svg" %}" alt="asset preview">
      <div class="badge badge-video-duration badge-darkhighlight-strong">
        {{ asset.static_asset.video.duration }}
      </div>
      {% endif %}
      {% endif %}


    </a>
    {% if user_can_edit_asset %}
    <a href="{{ asset.admin_url }}" target="_blank" class="btn btn-secondary btn-xs btn-icon btn-float">
      <i class="material-icons btn-material-icons">create</i>
    </a>
    {% endif %}
  </div>
  <a class="file-body" href="?asset={{ asset.id }}"
    data-url="{% url 'api-asset' asset.id %}?site_context={{ site_context }}">

    {% if asset.is_free %}
    <i class="material-icons icon-inline small text-success mr-1" data-toggle="tooltip" data-placement="top"
      title="Free">lock_open</i>
    {% endif %}
    <span data-tooltip="tooltip-overflow" data-placement="top" title="{{ asset.name }}" class="overflow-text">
      <h4 class="overflow-text">{{ asset.name }}</h4>
    </span>

  </a>

</div>
