{% load static %}
{% load thumbnail %}
{% load common_extras %}

<div class="file folder grid-item {{ card_sizes|default:"col-12 col-sm-6 col-md-6 col-lg-4" }} {% if aspect_ratio == "16:9" %}widescreen{% elif aspect_ratio == "4:3" %}fourbythree{% elif aspect_ratio == "1:1" %}square{% endif %}">
  <div class="file-header">
    <a class="file-folder-link" href="{{ child_collection.url }}">
      {% if child_collection.thumbnail %}
        <img class="file-image ms-auto me-auto" src="{{ child_collection.thumbnail.url }}" alt="collection preview">
        <img class="file-icon" src="{% static "common/images/icons/folder.svg" %}" alt="Folder Icon">
      {% else %}
        <img class="file-icon" src="{% static "common/images/icons/folder.svg" %}" alt="collection preview">
      {% endif %}
    </a>
  </div>
  <a class="file-body" href="{{ child_collection.url }}">
    <h4>{{ child_collection.name }}</h4>
  </a>
</div>
