{% load static %}

<div class="modal modal-asset-zoom" id="asset-{{ asset.id }}-zoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">

            <div class="modal-header p-0">
                <div class="training-toolbar">
                    <a class="btn btn-sm btn-dark"><i
                            class="material-icons btn-material-icons btn-material-icons-lg">favorite_border</i>
                        Like</a>
                    <a href="{{ asset.static_asset.source.url }}" download class="btn btn-sm btn-dark">Download</a>
                    <button data-toggle="dropdown" class="btn btn-sm btn-ctrl-sm btn-dark">

                        <i class="material-icons btn-material-icons">more_horiz</i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">flag</i>
                                <span>Report Problem</span>
                            </a>
                        </div>
                    </button>
                    <button data-dismiss="modal" class="btn btn-sm btn-ctrl-sm btn-dark">
                        <i class="material-icons btn-material-icons">close</i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <img class="" src="{{ asset.static_asset.preview.url }}">
            </div>
        </div>
    </div>

</div>
