{% load static %}

<div id="asset-{{ asset.id }}" class="modal-inner-wrapper">
  <button class="modal-navigation modal-close btn btn-ctrl d-none d-md-block" data-dismiss="modal">
    <i class="material-icons btn-material-icons">close</i>
  </button>
  <div class="modal-dialog" role="document">
    {% if previous_asset %}
    <button class="modal-navigation previous btn btn-ctrl"
      data-url="{% url 'api-asset' previous_asset.id %}?site_context={{ site_context }}">
      <i class="material-icons btn-material-icons">navigate_before</i>
    </button>
    {% endif %}
    <div class="modal-content bg-dark">

      <div class="modal-header p-0 bg-secondary">

        <div class="modal-mobile-header d-md-none bg-dark">
          <div class="modal-mobile-header-text  d-block d-md-none">
            <p class="subtitle x-small">{{ asset.static_asset.get_source_type_display }}</p>
            <h3 class="mb-0">{{ asset.name }}</h3>
          </div>
          <button class="modal-navigation modal-close btn btn-ctrl" data-dismiss="modal">
            <i class="material-icons btn-material-icons">close</i>
          </button>
        </div>

        {% if asset.static_asset.source_type == "video" %}
        {% include 'common/components/video_player.html' with url=asset.static_asset.source.url %}
        {% else %}
        <a data-toggle="modal" data-target="#file-zoom-modal" class="modal-asset-image-wrapper" href="#"
          data-url="{% url 'api-asset-zoom' asset.id %}">
          {% include "common/components/helpers/image_set.html" with alt=asset.name classes="img-fluid" img_source=asset.static_asset.preview xsmall_width="576" small_width="768" medium_width="768" large_width="870" xlarge_width="780" %}
        </a>
        {% endif %}

      </div>
      <div class="modal-body">
        <div class="d-none d-md-block">
          <p class="subtitle small">{{ asset.static_asset.get_source_type_display }}</p>
          <h2 class="mb-0">{{ asset.name }}</h2>
        </div>
        <div class="training-toolbar-container">
          <div class="training-toolbar-details">
            <div class="text-muted x-small">
              <p class="d-inline mr-3">{{ asset.date_created|date:"jS F Y" }}</p>
            </div>
          </div>

          <div class="training-toolbar">
            <a class="btn btn-sm btn-dark"><i
                class="material-icons btn-material-icons btn-material-icons-lg">favorite_border</i>
              Like</a>
            <a href="{{ asset.static_asset.source.url }}" download class="btn btn-sm btn-dark">Download</a>
            <div class="dropdrown">
              <button data-toggle="dropdown" class="btn btn-sm btn-ctrl-sm btn-dark">

                <i class="material-icons btn-material-icons">more_horiz</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="google.com" class="dropdown-item">
                  <i class="material-icons">flag</i>
                  <span>Report Problem</span>
                </a>
                {% if request.user.is_staff %}
                <!-- TODO(Mike): Get Nat to provide this link on the backend -->
                <a href="/admin/films/asset/{{ asset.id }}/" class="dropdown-item">
                  <i class="material-icons">create</i>
                  <span>Admin Edit</span>
                </a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        <div class="row mb-2">
          <div style="background-image:url('{% static 'common/images/blank-profile-pic.jpg' %}');" class="profile ml-2">
          </div>
          <div class="col-auto">
            <p class="subtitle text-white-50 x-small">Author</p>
            <h4 class="comment-name">{{ asset.static_asset.author_name }}</h4>
          </div>
        </div>
        <p>{{ asset.description|linebreaks }}</p>

        <section>{% include 'comments/components/comment_section.html' %}</section>

      </div>
    </div>
    {% if next_asset %}
    <button class="modal-navigation next btn btn-ctrl"
      data-url="{% url 'api-asset' next_asset.id %}?site_context={{ site_context }}">
      <i class="material-icons btn-material-icons">navigate_next</i>
    </button>
    {% endif %}
  </div>
</div>
