{% load static %}

<div class="jumbotron jumbotron-fluid jumbotron-overlay jumbotron header spacer-n">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{% static 'common/images/home/sf-dark-background.jpg' %}" alt="A tiny mushroom-headed imp hides amongst the forrest.">
  </div>
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="jumbotron-body text-center">
          <div class="spacer"></div>
          <a href="/films/sprite-fright">
            <img class="mb-3 mr-n3 film-logo" src="{% static "common/images/home/sf-logo_gradient.png" %}" alt="Sprite Fright Logo">
          </a>
          <h1 class="mb-3">New Open Movie Out Now!</h1>
          <div class="d-inline-block mb-2">
            <button href="https://youtube.com/watch?v=_cMxraX_5RE" class="btn btn-sprites mr-2 mb-2 video-modal-link" data-toggle="modal" data-target="#videoModal" data-video="https://www.youtube.com/watch?v=_cMxraX_5RE" rel="nofollow" target="_blank">Watch Sprite Fright</button>
            <a href="/films/sprite-fright/" class="btn btn-transparent mb-2">See the project</a>
          </div>
          <p class="mb-3">When
            a group of rowdy teenagers trek into an isolated forest, they discover peaceful mushroom creatures that turn
            out to be an unexpected force of nature.</p>
        </div>
      </div>
    </div>
  </div>

</div>
