<section class="mb-4">
  <div class="row">

    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="rounded embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/0vGNOtX9iPk" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-5 offset-lg-1 d-flex flex-column justify-content-center">
      <p class="mb-1">
        <span class="badge badge-danger me-1">Live</span>
        <span class="subtitle">Artist Livestream</span>
      </p>
      <h2 class="mb-1">Snow: Stylized Character Shading #1</h2>
      <p>In this series, Julien Kaspar will guide you through the creation of "Snow", the next character in the
        lineup of creative commons rigs on the Blender Studio.
      </p>
      <p>Join in the chat on YouTube while Julien answers questions from the community.</p>
      <div class="button-group">
        <a href="https://www.youtube.com/watch?v=0vGNOtX9iPk" rel=”nofollow” target="_blank"
          class="btn btn-danger">Watch on YouTube
        </a>
      </div>
    </div>
  </div>
</section>
