{% extends 'common/base.html' %}

{% block content %}
<div class="container-xl">
  <section class="my-4 text-center">
    {% include "common/components/simple_header.html" with title="Notifications" subtitle="All the latest likes and replies to your content are here." %}
    <button class="btn btn-dark btn-sm mb-3" data-mark-all-read-url="{% url 'api-notifications-mark-read' %}">
      <i
        class="material-icons {% if user.profile.notifications_unread.count >= 1 %}unread{% endif %}">markunread_mailbox</i>
      <span>Mark all as read</span>
    </button>
    <ul class="list-group activity-list">

      {% for notification in notifications %}
      {% with action=notification.action %}
      {% include 'profiles/components/action.html' %}
      {% endwith %}
      {% empty %}
      <li class="activity-list-item">
        No notifications yet
      </li>
      {% endfor %}
    </ul>

    <div class="row justify-content-center mt-3">
      <div class="col-auto text-center">
        <nav aria-label="Notification page navigation">
          <ul class="pagination mb-0">
            {% if page_obj.has_previous %}
            {% comment %} <li class="page-item">
              <a href="?page=1" class="page-link">First</a>
            </li> {% endcomment %}
            <li class="page-item">
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
            {% if not page_obj.previous_page_number == 1 %}
            <li class="page-item">
              <a href="?page=1"
                class="page-link">1</a>
            </li>
            <li class="page-item disabled">
              <span class="page-link">...</span>
            </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link"
                href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% else %}
            {% comment %} <li class="page-item disabled">
              <span class="page-link">First</span>
            </li> {% endcomment %}
            <li class="page-item disabled">
              <span class="page-link">Prev</span>
            </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
              </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
            <li class="page-item disabled">
              <span class="page-link">...</span>
            </li>
            <li class="page-item">
              <a href="?page={{ page_obj.paginator.num_pages }}"
                class="page-link">{{ page_obj.paginator.num_pages }}</a>
            </li>
            {% endif %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
            {% comment %} <li class="page-item">
              <a href="?page={{ page_obj.paginator.num_pages }}"
                class="page-link">Last</a>
            </li> {% endcomment %}
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
            {% comment %} <li class="page-item disabled">
              <span class="page-link">Last</span>
            </li> {% endcomment %}
            {% endif %}

          </ul>
        </nav>
      </div>
    </div>

    {% comment %} <div class="row justify-content-md-center py-3">
      <div class="col col-lg-6 text-center">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div> {% endcomment %}


  </section>
</div>
{% endblock %}

{% block scripts_footer %}

{% endblock %}
