{% extends 'training_main/base.html' %}
{% import 'common/components.html' as components %}

{% block jumbotron %}
    {% call components.jumbotron() %}
        <h1>Training</h1>
        <p class="mb-0">
            Learn from our expert team. Classes, workshops and production lessons with .blend files
            included.
        </p>
    {% endcall %}
{% endblock jumbotron %}

{% block content %}
    <section class="mb-3">
        <div class="row">
            <div class="col-6">
                {{ components.searchbar(placeholder="Search tags and keywords") }}
            </div>
            <div class="col-3">
                {% call components.select() %}
                    {% for type in TrainingType %}
                        <option value="{{ type.value }}">{{ type.label }}</option>
                    {% endfor %}
                {% endcall %}
            </div>
            <div class="col-3">
                {% call components.select() %}
                    {% for type in TrainingDifficulty %}
                        <option value="{{ type.value }}">{{ type.label }}</option>
                    {% endfor %}
                {% endcall %}
            </div>
        </div>
    </section>
    <section class="mb-3">
        <h2>Continue training</h2>
        <p>Recently watched training will appear here with your position saved</p>
        {% call components.cards() %}
            {% for training in recently_watched_trainings %}
                {{ components.card_training(training) }}
            {% endfor %}
        {% endcall %}
    </section>
    <section class="mb-3">
        <h2>Your saved training</h2>
        <p>You can add and remove items from this list by clicking the plus or the tick</p>
        {% call components.cards() %}
            {% for training in favorited_trainings %}
                {{ components.card_training(training) }}
            {% endfor %}
        {% endcall %}
    </section>
    <section>
        <h2>All training</h2>
        {% call components.cards() %}
            {% for training in all_trainings %}
                {{ components.card_training(training) }}
            {% endfor %}
        {% endcall %}
    </section>
{% endblock content %}
