[Unit]
Description=MeiliSearch
After=systemd-user-sessions.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/meilisearch --http-addr 127.0.0.1:7700 --env production --master-key <CHANGE_ME>
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
