.container-blog {
  @extend .container;

  max-width: 780px;
  position: relative;
}

.jumbotron {
  &.jumbotron-blog {
    display: flex;
    min-height: 400px;
    padding-bottom: $spacer;

    @include media-breakpoint-down(sm) {
      min-height: 30vh;
    }

    .container-blog {
      margin-top: auto;
    }

  }

  &.jumbotron-overlay {
    &.overlay-blog {
      .jumbotron-bg-wrapper {
        &::before {
          background: $highlight-black-xstrong;
        }
      }
    }
  }
}
