.blogs {
  .grid-item:first-of-type {
    @extend .grid-item-large;

    h3 {
      @extend .h2;
      margin-bottom: 0;
    }
  }
}

.blog {
  @extend .card;
  @extend .card-media;
  @extend .card-dark;

  &:hover {
    background-color: tint($navigation-gray, 10%);
    text-decoration: none;

    h1,
    h2,
    h3,
    h4 {
      text-decoration: underline;
    }

    .blog-footer {
      text-decoration: none;
    }
  }
}

.blog-header {
  padding: 0;
  position: relative;
  width: 100%;

  img {
    width: 100%;
  }

  >a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.blog-body {
  @extend .card-body;
  display: block;
  position: relative;

  >* {
    margin-bottom: 0;
  }

  a {
    color: $white;
  }

  button {
    position: absolute;
    right: $spacer / 2;
    top: $spacer / 2;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.blog-footer {
  @extend .card-footer;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.blog-date {
  align-items: center;
  color: $highlight-white-xstrong;
  display: flex;
  font-size: $small-font-size;

  i {
    margin-right: $spacer / 4;
  }

  * {
    margin-bottom: 0;
  }
}

.blog-topic {
  color: $highlight-white-xstrong;
  font-size: $small-font-size;
  margin-bottom: 0;
}

a.blog {
  &:hover {
    text-decoration: none;
  }
}
