.btn {
  .material-icons {
    font-size: 1.5em;
    line-height: 1;
    margin: calc(-.25em * .667);
    vertical-align: top;
  }

  &.btn-icon {
    padding: $btn-padding-y;
  }

  &:not(.btn-icon) {
    .material-icons {
      margin-right: 0;
    }
  }
}

//This button should have underline on hover
.btn-transparent {
  @include hover-focus {
    color: $white;
  }
}

//This button has special text colours
.btn-nav {
  color: $highlight-white-xstrong;
  font-weight: $font-weight-normal;

  @include hover-focus {
    color: $white;
    background: $highlight-white;
  }

  &.active {
    background: $transparent !important;
    background-color: $transparent !important;

    @include hover-focus {
      background: $highlight-white !important;
    }
  }

  +.btn-nav {
    margin-left: $spacer / 2;
  }
}

.btn-profile {
  padding: $profile-nav-padding;
}

//
// Button Sizes
//

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);

  &.btn-icon {
    padding: $btn-padding-y-xs;
  }
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);

  &.btn-icon {
    padding: $btn-padding-y-sm;
  }
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);

  &.btn-icon {
    padding: $btn-padding-y-lg;
  }
}

.btn-float {
  position: absolute;
  right: $spacer / 2;
  top: $spacer / 2;
  transition: $transition-base;
  z-index: 1;
}

.likes-count {
  margin-left: .25em;
}

.checkbox-like {

  span {
    color: $highlight-white-xstrong;
    pointer-events: none;
    // font-weight: $font-weight-normal;
  }

  i {
    pointer-events: none;
  }

  .checkbox-like-icon-unchecked {
    display: inline-block;
  }

  .checkbox-like-icon-checked {
    display: none;
  }

  &[data-checked] {
    .checkbox-like-icon-unchecked {
      display: none;
    }

    .checkbox-like-icon-checked {
      display: inline-block;
    }

  }
}
