.btn {
  @include hover {
    p {
      text-decoration: none;
    }
  }

  &.btn-ctrl {
    &+.btn.btn-ctrl {
      margin-left: $spacer;
    }
  }
}

.btn-transparent {
  &:hover {
    background: $transparent;
    text-decoration: underline;
  }

  &+.btn {
    margin-left: $spacer / 2;
  }
}


//
// Button Sizes
//

.btn-ctrl {
  @include button-size($btn-padding-y-ctrl,
    $btn-padding-x-ctrl,
    $btn-font-size-ctrl,
    $btn-line-height-ctrl,
    $border-radius);
}

.btn-nav {
  align-items: center;
  display: flex;
  position: relative;
  @include button-size($btn-padding-y-nav,
    $btn-padding-x-nav,
    $btn-font-size-nav,
    $btn-line-height-nav,
    0);

  .material-icons {
    line-height: 1;
    // display: block;
  }

  @include hover {
    background: $highlight-white;
    text-decoration: none;
  }
}

.btn-ctrl-sm {
  @include button-size($btn-padding-y-ctrl-sm,
    $btn-padding-x-ctrl-sm,
    $btn-font-size-ctrl-sm,
    $btn-line-height-ctrl-sm,
    $border-radius);
}

.btn-ctrl-xs {
  @include button-size($btn-padding-y-ctrl-xs,
    $btn-padding-x-ctrl-xs,
    $btn-font-size-ctrl-xs,
    $btn-line-height-ctrl-xs,
    $border-radius);
}
