.carousel-inner {

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
    justify-content: flex-start;
  }

  .carousel-item-right.active,
  .carousel-item-next {

    transform: translateX(100%);

    @include media-breakpoint-up(sm) {
      transform: translateX(50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translateX(33.33%);
    }
  }

  .carousel-item-left.active,
  .carousel-item-prev {

    transform: translateX(-100%);

    @include media-breakpoint-up(sm) {
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(lg) {
      transform: translateX(-33.33%);
    }
  }

  .carousel-item-right,
  .carousel-item-left {
    transform: translateX(0);
  }
}

.carousel-card-3 {
  .carousel-inner {

    .carousel-item {
      @include media-breakpoint-down(xs) {
        &>div {
          display: none;

          &:first-child {
            display: block;
          }
        }
      }
    }

  }
}

.carousel-card-4 {
  .carousel-inner {

    .carousel-item-right.active,
    .carousel-item-next {

      transform: translateX(50%);

      @include media-breakpoint-up(md) {
        transform: translateX(33.33%);
      }

      @include media-breakpoint-up(lg) {
        transform: translateX(25%);
      }
    }

    .carousel-item-left.active,
    .carousel-item-prev {
      transform: translateX(-50%);

      @include media-breakpoint-up(md) {
        transform: translateX(-33.33%);
      }

      @include media-breakpoint-up(lg) {
        transform: translateX(-25%);
      }
    }

    .carousel-item-right,
    .carousel-item-left {
      transform: translateX(0);
    }

  }
}

.lessThanThree,
.lessThanFour {
  @include media-breakpoint-up(md) {
    opacity: .5;
    pointer-events: none;
  }
}

.onlyOne {
  opacity: .5;
  pointer-events: none;
}

.carousel {
  .card {
    margin-bottom: 0;
  }

  .file {
    background: $dark;
  }
}

.carousel-card-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacer / 2;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    margin-top: 0;
  }

  a:first-of-type {
    margin-right: $spacer / 2;
  }
}
