.card {
  @include button-float;

  flex-grow: 1;
  margin-bottom: $spacer;
  transition: $transition-base;

  .card-header {
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .btn-save-media {
    @extend .btn-secondary;
    opacity: 0;
    right: $spacer / 2;
    top: $spacer / 2;
    transition: $transition-base;

    &.checked {
      @extend .btn-primary;
    }
  }

  &.card-hover {
    @include hover-focus {
      background-color: shade($white, 10%);

      .progress-bar {
        background: $primary;
      }
    }

    &.card-dark {
      @include hover-focus {
        background-color: tint($navigation-gray, 10%);

        .card-body {
          color: $white;
        }
      }
    }

    .card-body {
      @include hover {
        color: $card-color;
        text-decoration: none;
      }
    }

    .progress-bar {
      transition: $transition-base;
    }
  }

  &.card-media {
    border: 1px solid $input-gray;

    &.card-poster {


      .card-header {
        padding: 0;
      }

      .card-header-link {
        position: static;

        img {
          width: 100%;
        }
      }
    }

    .card-header {
      padding-bottom: 56.25%;
      padding-top: 0;
      position: relative;
      width: 100%;

      >* {
        position: absolute;
      }

      .progress {
        bottom: $spacer / 2;
        left: $spacer / 2;
        position: absolute;
        width: calc(100% - #{$spacer});
        border-radius: $border-radius;
      }
    }
  }
}

.card-dark {
  background-color: $navigation-gray;

  .card-body {
    color: $white;
  }

  .card-subtitle {
    color: $highlight-white-xstrong;
  }
}

.card-subtitle-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer / 2;

  p {
    margin-bottom: 0;
  }
}

.card-subtitle {
  @extend .small;
  color: $highlight-black-xstrong;
  margin-bottom: $spacer / 2;
  margin-top: 0;
}

.card-title {
  margin-bottom: $spacer / 4;
}

.card-header-link {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.card-grid-item {
  display: flex;
}

.card-link {
  @include hover {
    text-decoration: none;
  }

  +.card-link {
    margin-left: $card-spacer-x;
  }
}

.film-title-date {
  @extend .subtitle
}

.badge-production {
  margin-left: $spacer / 4;
}

// Optional textual caps
//

.card-footer {
  margin-top: -$spacer / 2;
  padding: 0 $card-spacer-x 20px;
}

.card-img,
.card-img-top,
.card-img-bottom,
.card-img-top-left {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img-top-left {
  @include border-top-left-radius($card-inner-border-radius);
}

// Card deck

.card-deck {
  &.card-deck-lg {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-flow: row wrap;
      margin-right: -$card-deck-margin;
      margin-left: -$card-deck-margin;

      .card {
        // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
        flex: 1 0 0%;
        margin-bottom: 0; // Override the default
        margin-left: $card-deck-margin;
        margin-right: $card-deck-margin;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$card-deck-margin;
    margin-right: -$card-deck-margin;

    .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
      margin-right: $card-deck-margin;
    }
  }
}

//
// Accordion
//


.accordion {
  >.card {
    margin-bottom: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $input-gray;
    }

    .card-body {
      padding-top: 0;
    }

    >.card-header {
      padding: 0;

      .btn {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $spacer;
        text-align: left;
        text-decoration: none;
        width: 100%;

        &:hover {


          i {
            text-decoration: none;
          }
        }
      }
    }


    @include hover-focus {
      background-color: shade($white, 10%);
    }

    &.card-dark {
      @include hover-focus {
        background-color: tint($navigation-gray, 10%);

        .card-body {
          color: $white;
        }
      }
    }

  }
}

//
// Custom Scroll
//

.card-scrollbar {
  .card-body {
    @include media-breakpoint-up(lg) {
      height: 100%;
      overflow-y: scroll;
      position: absolute;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $highlight-white;
    }
  }
}

.card-comment {
  .card-body {
    display: block;
  }
}
