@media (max-width: 576px) {
  .carousel-card-3 .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-card-3 .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: flex-start;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(100%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-100%);
}

.carousel-card-4 .carousel-inner .carousel-item-right.active,
.carousel-card-4 .carousel-inner .carousel-item-next {
  transform: translateX(50%);
}

.carousel-card-4 .carousel-inner .carousel-item-left.active,
.carousel-card-4 .carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}

@media (min-width: 576px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }


  .carousel-card-4 .carousel-inner .carousel-item-right.active,
  .carousel-card-4 .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-card-4 .carousel-inner .carousel-item-left.active,
  .carousel-card-4 .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }


  .carousel-card-4 .carousel-inner .carousel-item-right.active,
  .carousel-card-4 .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }

  .carousel-card-4 .carousel-inner .carousel-item-left.active,
  .carousel-card-4 .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
}

@media (min-width: 992px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }


  .carousel-card-4 .carousel-inner .carousel-item-right.active,
  .carousel-card-4 .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-card-4 .carousel-inner .carousel-item-left.active,
  .carousel-card-4 .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-card-4 .carousel-inner .carousel-item-right,
.carousel-card-4 .carousel-inner .carousel-item-left {
  transform: translateX(0);
}
































.lessThanThree,
.lessThanFour {
  @include media-breakpoint-up(md) {
    opacity: .5;
    pointer-events: none;
  }
}

.onlyOne {
  opacity: .5;
  pointer-events: none;
}

.carousel {
  .card {
    margin-bottom: 0;
  }

  .file {
    background: $dark;
  }
}

.carousel-card-toolbar {
  justify-content: flex-end;
  display: flex;
  margin-top: $spacer / 2;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    margin-top: 0;
  }

  a:first-of-type {
    margin-right: $spacer / 2;
  }
}
