.card {
  flex-grow: 1;
  margin-bottom: $spacer;

  &:hover {
    .btn-save-media {
      opacity: 1;
    }
  }

  &.card-dark {
    background-color: $navigation-gray;

    .card-body {

      @include hover {
        color: $white;
      }

      color: $white;
    }

    .card-subtitle {
      color: $highlight-white-xstrong;
    }
  }

  .card-body {
    @include hover {
      color: $card-color;
      text-decoration: none;

      .card-title {
        text-decoration: underline;
      }
    }
  }

  .card-header {
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .btn-save-media {
    @extend .btn-secondary;
    opacity: 0;
    right: $spacer / 2;
    top: $spacer / 2;
    transition: $transition-base;

    &.checked {
      @extend .btn-primary;
    }
  }

  &.card-media {
    &.card-poster {
      text-align: center;

      .card-header {
        padding: 0;
      }

      .card-header-link {
        position: static;

        img {
          width: 100%;
        }
      }
    }

    .card-header {
      border-radius: $border-radius;
      padding-bottom: 56.25%;
      padding-top: 0;
      position: relative;
      width: 100%;

      >* {
        position: absolute;
      }

      .badge-difficulty {
        left: $spacer / 2;
        top: $spacer / 2;
      }


      .progress {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.card-subtitle-group {
  display: flex;
  justify-content: space-between;
}

.card-subtitle {
  @extend .small;
  color: $highlight-black-xstrong;
  margin-bottom: $spacer / 2;
  margin-top: 0;
}

.card-header-link {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.card-grid-item {
  display: flex;
}

.card-link {
  @include hover {
    text-decoration: none;
  }

  +.card-link {
    margin-left: $card-spacer-x;
  }
}

// Optional textual caps
//

.card-footer {

  padding: 0 $card-spacer-x 20px;
}

.card-img,
.card-img-top,
.card-img-bottom,
.card-img-top-left {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img-top-left {
  @include border-top-left-radius($card-inner-border-radius);
}

// Card deck

.card-deck {
  &.card-deck-lg {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-flow: row wrap;
      margin-right: -$card-deck-margin;
      margin-left: -$card-deck-margin;

      .card {
        // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
        flex: 1 0 0%;
        margin-bottom: 0; // Override the default
        margin-left: $card-deck-margin;
        margin-right: $card-deck-margin;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$card-deck-margin;
    margin-right: -$card-deck-margin;

    .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
      margin-right: $card-deck-margin;
    }
  }
}

//
// Accordion
//


.accordion {
  >.card {
    margin-bottom: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $highlight-white;
    }

    .card-body {
      padding-top: 0;
    }

    >.card-header {
      padding: 0;

      .btn {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $spacer;
        text-align: left;
        text-decoration: none;
        width: 100%;

        &:hover {
          span {
            text-decoration: underline;
          }

          i {
            text-decoration: none;
          }
        }
      }
    }
  }
}

//
// Custom Scroll
//

.card-scrollbar {
  .card-body {
    @include media-breakpoint-up(lg) {
      height: 100%;
      overflow-y: scroll;
      position: absolute;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $highlight-white;
    }
  }
}

.card-comment {
  .card-body {
    display: block;
  }
}
