.comment {
  display: flex;
  flex-direction: column;
  margin-top: $spacer / 2;

  >.comment {
    margin-top: $spacer;
  }

  .comment {
    padding-left: $spacer;
    position: relative;

    &::before {

      background: $highlight-white-strong;
      content: close-quote;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;

    }
  }

  &.archived {

    .profile {
      opacity: .5;
    }

    .comment-name {
      color: $highlight-white-xstrong;
    }

    .comment-date {
      color: $highlight-white-strong;
    }

    .badge {
      color: $highlight-white-xstrong;
    }

    .comment-expand-archived {
      @include hover-focus {
        color: $white;
      }

      color: $highlight-white-xstrong;
      font-size: $x-small-font-size;
      margin-left: $spacer / 2;
      text-decoration: underline;
      transition: $transition-base;
    }

    .comment-text {
      color: $highlight-white-xstrong;
    }

  }

}

.comment-section {

  .checkbox-like {

    span {
      color: $highlight-white-xstrong;
      font-weight: $font-weight-normal;
    }

    .checkbox-like-icon-unchecked {
      display: inline-block;
    }

    .checkbox-like-icon-checked {
      display: none;
    }

    &[data-checked] {
      .checkbox-like-icon-unchecked {
        display: none;
      }

      .checkbox-like-icon-checked {
        display: inline-block;
      }

    }
  }
}

.comment-input {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacer / 2;
  margin-top: $spacer / 2;
}

.more-comments-button {
  display: none;
  margin: $spacer / 2 $spacer / 2;

  &.collapsed {
    display: inline-block;
  }
}

.comment-name-date-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: $spacer / 4;
  // margin-top: $spacer / 4;

  >* {
    margin-bottom: 0;
  }

  .badge {
    margin-left: $spacer / 2;
  }

  .profile {
    border-radius: $border-radius-sm;
    height: $font-size-md;
    margin-right: $spacer / 4;
    padding: 0;
    width: $font-size-md;
  }
}

.comment-text {
  font-size: $small-font-size;
  margin-bottom: $spacer / 4;
}

.comment-toolbar {


  .btn {
    color: $highlight-white-xstrong;

    &:hover {
      color: $white;
    }
  }

  .btn+.btn,
  .dropdown-menu+.btn {
    margin-left: $spacer / 2;
  }
}

.comment-dropdown {
  padding: 4px;
}

.comment-name {}

.comment-date {
  color: $text-muted;
  font-size: $x-small-font-size;

  margin-left: $spacer / 2;
}

.comment-input-div {
  @include border-radius($input-border-radius-sm);
  @include font-size($input-font-size-sm);
  height: auto;
  line-height: $input-line-height-sm;
  min-height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  position: relative;

  &:empty {

    &::before {
      color: $input-placeholder-color;
      content: 'Comment publicly...';
      left: $spacer / 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
