.comment {
  padding: $spacer / 2;
  display: flex;
  flex-direction: column;
  margin-top: $spacer / 2;

  >.comment {
    margin-top: $spacer;
  }

  &.archived {

    .profile {
      opacity: .5;
    }

    .comment-name {
      color: $highlight-white-xstrong;
    }

    .comment-date {
      color: $highlight-white-strong;
    }

    .badge {
      margin-left: $spacer / 2;
      background: $highlight-white;
      color: $highlight-white-xstrong;
    }

    .comment-expand-archived {

      &:hover,
      &:focus {
        color: $white;
      }


      color: $highlight-white-xstrong;
      font-size: $x-small-font-size;
      margin-left: $spacer / 2;
      text-decoration: underline;
      transition: $transition-base;
    }

    .comment-text {
      color: $highlight-white-xstrong;
    }

  }

  &.highlight {
    box-shadow: inset 0 0 0 2px $primary;
  }
}

.comment-section {
  margin-top: $spacer;
}

.comment-input {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacer / 2;
  margin-top: $spacer / 2;
}

.more-comments-button {
  display: none;
  margin-top: $spacer / 2;

  &.collapsed {
    display: inline-block;
  }
}

.comment-name-date-wrapper {
  align-items: center;
  display: flex;
  // margin-top: $spacer / 4;

  >* {
    margin-bottom: 0;
  }

  .badges {
    margin-left: $spacer / 4;
    padding: 0;
  }

  .profile {
    border-radius: $border-radius-sm;
    height: $font-size-md;
    margin-right: $spacer / 2.5;
    padding: 0;
    width: $font-size-md;
  }
}

.comment-text {
  text-align: left;
  font-size: $small-font-size;
  margin-bottom: $spacer / 4;

  img {
    max-height: 300px;
    display: block;
  }
}

.comment-toolbar {


  .btn {
    color: $highlight-white-xstrong;

    &:not(.disabled) {
      &:hover,
      &:focus {
        color: $white;
      }
    }

  }

  .btn+.btn,
  .dropdown-menu+.btn {
    margin-left: $spacer / 4;
  }
}

.comment-dropdown {
  padding: 4px;
}

.comment-content-inner {
  margin-top: $spacer / 4;
}

.comment-name {}

.comment-date {
  color: $text-muted;
  font-size: $x-small-font-size;

  margin-left: $spacer / 2;
}

.comment-input-div {
  @include border-radius($input-border-radius-sm);
  @include font-size($input-font-size-sm);
  height: auto;
  line-height: $input-line-height;
  min-height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  position: relative;
  text-align: left;

  &.disabled {
    opacity: $btn-disabled-opacity;
  }

  &:empty {

    &::before {
      color: $input-placeholder-color;
      content: 'Comment publicly...';
      left: $spacer / 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.top-level-comment {
  background: $navigation-gray;
  border-radius: $border-radius;
  border: 1px solid $input-gray;
}

.replies {
  .comments {
    text-align: center;
  }

  .comment {
    margin-left: -$spacer / 2;
    margin-right: -$spacer / 2;
    background: $highlight-black-strong;
  }
}
