.dropdown-menu {
  .material-icons {
    line-height: 1;
    margin-right: $spacer/2;
    vertical-align: middle;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }
}

.profile-dropdown {
  left: auto;
  right: 0;
  z-index: 1060;
}
