.dropdown-menu {
  border: 1px solid $input-gray;
  min-width: 240px;
  margin-top: $spacer / 2;

  .material-icons {
    line-height: 1;
    // margin-right: $spacer / 4;
    vertical-align: middle;

    &+span {
      margin-left: $spacer / 4;
    }
  }


  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }
}

.profile-dropdown {
  left: auto;
  right: 0;
  z-index: 1060;
}

.dropdown-item {
  font-weight: $font-weight-bold;
  transition: $transition-base;
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }

    color: $white;
  }

  &::before {
    background: $highlight-white;
    border-radius: $border-radius;
    content: close-quote;
    height: calc(100% - #{$spacer / 2});
    left: $spacer / 2;
    opacity: 0;
    position: absolute;
    top: $spacer / 4;
    transition: $transition-base;
    width: calc(100% - #{$spacer});
    pointer-events: none;
  }

  &.icon {
    width: auto;
    padding: $spacer / 2 $spacer * .75;

    .material-icons {
      margin-right: 0;
    }
  }

  span,
  .material-icons {
    position: relative;
    z-index: 1;
  }
}

.dropdown-menu-nested {
  background: $dark;
  padding: $spacer / 4 0;
  margin: ($spacer / 4) 0;
}

.dropdown-double {
  display: flex;

  .dropdown-item {
    &:first-child {
      margin-right: - $spacer / 2;
    }
  }
}

.dropdown-menu-grid {
  padding: $spacer / 4;
  flex-wrap: wrap;
  justify-content: stretch;
  max-width: 600px;
  width: calc(100vw - 20px);
  box-sizing: content-box;

  &.show {
    display: flex;
  }

  .dropdown-item {
    width: 50%;
    padding: $spacer * .75;
    display: flex;
    flex-direction: row;

    &-text {
      padding: 0;
      margin-left: $spacer / 2;
    }

    &::before {
      left: $spacer / 4;
      width: calc(100% - #{$spacer / 2});
    }

    p {
      white-space: normal;
      font-size: $font-size-sm;
      line-height: 1.25;
      margin-top: $spacer / 4;
      font-weight: normal;
    }

    .icon {
      fill: $highlight-white-xstrong;
      transition: $transition-base;
    }

    &:hover {
      .icon {
        fill: $white;
      }
    }
  }
}

.dropdown-toggle {
  &:after {
    content: none;
  }
}
