.files {
  .card-columns {
    column-gap: $spacer;
    orphans: 1;
    widows: 1;

    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 2;
    }

    @include media-breakpoint-down(xs) {
      column-count: 2;
    }
  }
}

.file {
  @extend .card;
  @extend .card-media;
  @extend .card-dark;
  margin-bottom: 0;
  height: 100%;
  text-align: center;
  display: inline-block;
  width: 100%;

  &:hover {
    background-color: tint($navigation-gray, 10%);

    .subtitle {
      text-decoration: none;
    }

    .file-image+.file-icon {
      background-color: tint($navigation-gray, 10%);
    }

    h4 {
      text-decoration: underline;
    }
  }

  .subtitle {
    font-size: $x-small-font-size;
  }

  h4 {
    margin-bottom: 0;
  }

  &-body {
    @extend .card-body;
    padding: $spacer/2;
    display: block;
  }

  &-header {
    position: relative;
    width: 100%;
    padding: 0;

    >a {
      // padding: $spacer/2;
      width: 100%;
      height: 100%;
      // position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      position: absolute;
      top: $spacer / 2;
      right: $spacer / 2;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &-icon {
    height: 100%;
    width: 50%;
  }

  &-image {
    width: 100%;

    +.file-icon {
      position: absolute;
      top: $spacer / 2;
      left: $spacer / 2;
      width: $spacer * 2;
      height: $spacer * 2;
      padding: $spacer / 2;
      background: $navigation-gray;
      border-radius: $spacer;
    }
  }
}

a.file {
  &:hover {
    text-decoration: none;
  }
}

.update-feed {
  .files {
    .col {
      margin-bottom: $spacer;
    }
  }

  .file-header {
    padding-bottom: 56.25%;

    a {
      padding: $spacer / 2;
    }

    >* {
      position: absolute;
    }
  }

  .file-image {
    width: auto;
    max-height: calc(100% + #{$spacer});
    max-width: calc(100% + #{$spacer});
  }
}


.video-preview {
  position: relative;

  &::after {
    @extend .material-icons;
    content: "play_arrow";
    display: block;
    color: $primary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $spacer * 3;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background: $highlight-black-xstrong;
    border-radius: 50%;
  }
}
