.files {
  .card-columns {
    column-gap: $spacer;
    orphans: 1;
    widows: 1;

    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 2;
    }

    @include media-breakpoint-down(xs) {
      column-count: 2;
    }
  }
}

.file {
  @extend .card;
  @extend .card-media;
  @extend .card-dark;
  margin-bottom: 0;
  height: 100%;
  display: inline-block;
  width: 100%;
  transition: $transition-base;

  &:hover,
  .file-body a:hover {
    background-color: tint($navigation-gray, 10%);
    text-decoration: none;

    .subtitle {
      text-decoration: none;
    }

    .file-image+.file-icon {
      background-color: tint($navigation-gray, 10%);
    }

    h4 {
      text-decoration: none;
    }

    .video-preview {
      &::after {
        background: rgba($primary, 1);
      }
    }
  }

  .subtitle {
    color: $highlight-white-xstrong;
    font-size: $x-small-font-size;
  }

  h4 {
    margin-bottom: 0;
  }

  &-body {
    @extend .card-body;
    padding: $spacer/2;
    position: relative;
    display: block;

    a {
      color: $white;
    }

    button {
      position: absolute;
      top: $spacer / 2;
      right: $spacer / 2;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &-header {
    position: relative;
    width: 100%;
    padding: 0;

    >a {
      // padding: $spacer/2;
      width: 100%;
      height: 100%;
      // position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .badge-video-duration {
      position: absolute;
      bottom: $spacer / 4;
      right: $spacer / 4;
      color: $white;

      // background: $highlight-black-xstrong;
    }
  }

  &-icon {
    height: 100%;
    width: 50%;
  }

  &-image {
    width: 100%;

    +.file-icon {
      position: absolute;
      top: $spacer / 2;
      left: $spacer / 2;
      width: $spacer * 2;
      height: $spacer * 2;
      padding: $spacer / 2;
      background: $navigation-gray;
      border-radius: $spacer;
    }
  }
}

a.file {
  &:hover {
    text-decoration: none;
  }
}

.update-feed {
  .files {
    .col {
      margin-bottom: $spacer;
    }
  }

  .file-header {
    padding-bottom: 56.25%;

    a {
      padding: $spacer / 2;
    }

    >* {
      position: absolute;
    }
  }

  .file-image {
    width: auto;
    max-height: calc(100% + #{$spacer});
    max-width: calc(100% + #{$spacer});
  }
}

// This is a play-button overlay for videos
// .video-preview {
//   position: relative;

//   &::after {
//     @extend .material-icons;
//     content: "play_arrow";
//     display: block;
//     color: $white;
//     position: absolute;
//     padding: $spacer / 2;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     font-size: $spacer * 1.5;
//     text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
//     background: rgba($primary, .8);
//     border-radius: 50%;
//     transition: $transition-base;
//   }
// }

.gallery-load-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{$nav-drawer-width});
  height: 100%;
  background: $highlight-black-xstrong;
  justify-content: center;
  align-items: center;
  margin-left: $nav-drawer-width;
  pointer-events: none;
  transition: $transition-fade;
  display: flex;
  backdrop-filter: blur(10px);

  &.show {
    opacity: 1;
  }
}
