.flat-page-content {
  margin: 0 auto;
  max-width: 780px;
  position: relative;

  img {
    border-radius: $border-radius;
    max-width: 100%;
  }

  table {
    @extend .table;
  }

  blockquote {
    @extend .blockquote;
  }
}
