footer {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  border-top: 1px solid $highlight-white;
  margin-top: auto;
  z-index: $zindex-dropdown;

  ul {
    @include list-unstyled;
  }
}

.footer-social-media {
  img {
    @include media-breakpoint-down(sm) {
      width: 48px;
    }
  }
}

// Pushes the footer down the the bottom of the page using margin-top auto on footer
body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$navbar-height});
}
