.img-width-100 {
  width: 100%;
}

//
// Porifle Pictures
//

.contributors {
  .profile.rounded-circle {
    margin-right: -4px;
    width: 24px;
    height: 24px;
  }
}

.profile {
  // align-self: center;
  background: center / cover;
  border-radius: $border-radius-sm;
  height: $profile-size;
  width: $profile-size;
  // to hide alt text if the image is missing.
  font-size: 0;
}

// Sprite Fright Landing Page
.image-float-section {
  margin: 0 0 $spacer * 2;

  @include media-breakpoint-up(md) {
    position: relative;
    padding: 5vw 0;
    margin: 10vw 0;
  }
}

.image-float-container {
  position: relative;
}

.image-float {
  @include media-breakpoint-up(md) {
    position: absolute;
    transform: translateY(-50%);
    max-width: 40vw;
  }

  &-left {
    right: 0;
  }

  max-width: 100%;
}

.image-fade {

  width: 100%;


  &-wrapper {
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      position: absolute;
      transform: translateY(-50%);
      max-width: 70vw;
      right: 0;
      top: 50%;
      margin-bottom: 0;

      &::after {
        content: close-quote;
        background: radial-gradient(78.15% 50% at 78.15% 50%, rgba($dark, 0) 56.55%, $dark 100%);
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        display: block;
        position: absolute;
        top: -1px;
        right: 0;
      }
    }

  }
}

.flow-cards {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.flow-cards-inner {
  white-space: nowrap;
  animation: flow-card 30s linear infinite;
  width: 200vw;
  display: flex;

  &.reverse {
    animation-direction: reverse;
  }

  @include media-breakpoint-down(md) {
    animation-duration: 20s;
  }
}

.flow-card {
  width: 15vw;
  margin: $spacer / 2;
  border-radius: $border-radius;

  @include media-breakpoint-down(md) {
    width: 30vw;
  }
}

@keyframes flow-card {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100vw);
  }
}
