.input-group-text {
  padding: $input-padding-y 0 $input-padding-x $input-padding-y;
}

.input-group-sm {

  .input-group-prepend>*,
  .input-group-append>* {
    height: calc(1.5em + .8125rem);
    line-height: 1!important;
  }
}
