.has-nav-drawer {
  .content-holder {
    @include media-breakpoint-up(md) {
      margin-left: $nav-drawer-width;
    }
  }

  .nav-drawer {
    @include media-breakpoint-down(sm) {
      transform: translateY(-100%);
    }

    transform: translateX(0);
  }

  &.nav-drawer-open {
    .content-holder {
      @include media-breakpoint-up(md) {
        margin-left: $nav-drawer-width;
      }
    }

    .nav-drawer {
      @include media-breakpoint-down(sm) {
        transform: translateY(0%);
      }

      transform: translateX(0);


    }
  }
}

.nav-drawer-open {
  .nav-drawer {
    @include media-breakpoint-down(sm) {
      transform: translateY(0%);
    }
  }
}

.global-navigation {
  @include media-breakpoint-down(sm) {
    display: flex;
    padding: $spacer / 2 0;

    .nav-drawer-sub-list {
      display: none;
    }
  }

  border-bottom: 1px solid $highlight-white;
  display: none;
  margin: 0;
}

.nav-drawer {
  background: $navigation-gray;
  border-right: 1px solid $highlight-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  transform: translateX(-$nav-drawer-width);
  transition: transform $nav-drawer-animation-duration;
  width: $nav-drawer-width;
  z-index: 1020;


  .navbar-secondary {

    .list-group,
    .breadcrumb {
      padding: 0 ($spacer / 2);
    }
  }

  &-body {
    @include media-breakpoint-up(md) {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar-thumb {
        background: $highlight-white;
      }
    }

    height: 100%;
    max-height: calc(100vh - #{$navbar-height});
    overflow-y: auto;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    height: auto;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    border-right: 0;
  }
}

.nav-drawer-spacer {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  align-items: stretch;
  display: flex;
  height: 0;
  width: 100%;
}

.has-secondary-nav {
  .nav-drawer-spacer {
    height: auto;
  }
}

.nav-drawer-list {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &>li {
      width: 25%;
      text-align: center;
    }
  }

  list-style: none;
  padding: 0;

  li {
    a {
      color: $white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &.active {
        color: $primary;
      }
    }

    .btn-nav {
      line-height: 1.5;
      padding: $spacer / 2;
    }

    i {
      padding-left: $spacer / 2;
      padding-right: $spacer / 2;
    }
  }
}

.nav-drawer-sub-list {
  list-style: none;
  padding-left: 54px;
}

.content-holder {
  transition: margin-left $nav-drawer-animation-duration;
}

// Training & Films

.drawer-nav-group,
.drawer-nav-header {
  border-bottom: 1px solid $highlight-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    margin-bottom: 0;
  }
}

.drawer-nav-list {
  color: $highlight-white-xstrong;
  background: $highlight-black-strong;
  list-style: none;
  margin: 0;
  padding: 0;

  &.training {
    list-style: none;
    margin: 0;
    padding: 0;

    .drawer-nav-section-icon {

      &::before,
      &::after {
        background: $input-gray;
        content: close-quote;
        height: 500%;
        left: 50%;
        position: absolute;
        width: 2px;
        z-index: -1;
      }

      &::before {
        transform: translate(-50%, 50%);
      }

      &::after {
        transform: translate(-50%, -50%);
      }
    }

    .drawer-nav-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-link {
        flex-grow: 1;
      }

      &.complete {
        +.drawer-nav-section .drawer-nav-section-icon:after {
          background-color: $primary;
        }

        .drawer-nav-section-icon:before {
          background-color: $primary;
        }
      }

      &:first-of-type {
        .drawer-nav-section-icon:after {
          content: none;
        }
      }

      &:last-of-type {
        .drawer-nav-section-icon:before {
          content: none;
        }
      }
    }
  }
}

.drawer-nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  button {
    position: absolute;
    top: $spacer / 2;
    right: $spacer / 2;
  }

  &.complete {
    +.drawer-nav-section .drawer-nav-section-icon {
      &::after {
        background-color: $primary;
      }
    }

    .drawer-nav-section-icon {
      ::before {
        background-color: $primary;
      }
    }
  }

  &:first-of-type {
    .drawer-nav-section-icon {
      ::after {
        content: none;
      }
    }
  }

  &:last-of-type {
    .drawer-nav-section-icon {
      ::before {
        content: none;
      }
    }
  }
}

.drawer-nav-section-link {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: ($spacer / 4 * 3) $spacer;
  transition: $transition-base;

  &:hover {
    background-color: $highlight-white;
    color: $white;
    text-decoration: none;
  }

  >i {
    margin-right: ($spacer / 2);
  }

  &.active {
    background-color: $highlight-white;
    color: $white;

    .subtitle {
      color: $primary;
    }

    h4 {
      color: $white;
    }

    .drawer-nav-section-icon {
      color: $white;
    }
  }

  .subtitle {
    color: $gray-500;
    font-size: $x-small-font-size;
  }
}

.drawer-nav-section-edit {
  color: $white;
  line-height: 0;
  opacity: .5;
  padding: ($spacer / 2);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);


  &:hover {
    color: $white;
    opacity: 1;
  }
}


.drawer-nav-header {
  padding: $spacer;
}

$circle-radius: 14;
$circle-diameter: $circle-radius * 2;
$circle-circumference: $circle-diameter * 3.14;

.drawer-nav-section-icon {
  align-items: center;
  align-self: flex-start;
  background-color: $input-gray;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 30px;
  justify-content: center;
  margin-right: ($spacer / 2);
  position: relative;
  width: 30px;

  &.progress {
    border: 2px solid $primary;
  }

  i {
    font-size: $font-size-base * 1.125;
  }

  &-progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);

    circle {
      stroke: $primary;
      stroke-width: 2px;
      fill: none;
      stroke-dasharray: $circle-circumference;
      stroke-dashoffset: calc((1 - var(--progress-fraction, 0)) * #{$circle-circumference}px);
      stroke-linecap: square;
    }
  }
}

.drawer-nav-dropdown-wrapper {
  display: flex;
  position: relative;

  button {
    position: absolute;
    top: $spacer / 2;
    right: $spacer / 2;
  }

  .btn-ctrl {
    line-height: 0;
    padding: 20px;
    position: relative;

    i {
      transition: transform .15s ease-in-out;
    }

    &:hover {
      background: $highlight-white;
    }

    &.collapsed {
      i {
        transform: rotate(-90deg);
      }
    }
  }
}

.drawer-nav-dropdown {
  align-items: center;
  color: $highlight-white-xstrong;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  padding: $spacer;
  transition: $transition-base;

  &.collapsed {
    i {
      transform: rotate(-90deg);
    }
  }

  &.active {
    background: $highlight-white;
    color: $white;
  }

  &:hover {
    background: $highlight-white;
    color: $white;
    text-decoration: none;
  }

  i {
    align-self: flex-start;
    margin-right: $spacer / 2;
    transition: transform .35s ease;
    vertical-align: text-top;

    &+span {
      // if the span is next to an icon, no margin
      margin-left: 0;
    }
  }

  span {
    // 24px is the size of the material icon
    margin-left: 24px + ($spacer / 2);
  }

}
