body {
  margin-top: $navbar-height;
}

.navbar {
  @include fixed-top;
  align-items: stretch;
  background: $navigation-gray;
  border-bottom: 1px solid $highlight-white;
  flex-wrap: nowrap; // allow us to do the line break for collapsing content
  min-height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;
  transition: margin-left $nav-drawer-animation-duration;
  z-index: 1040;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  .profile {
    margin-left: 0;
  }

  .dropdown-menu {
    border-top: 1px solid $transparent;
  }

  .navdrawertoggle {
    @include media-breakpoint-down(sm) {
      display: flex;
    }

    display: none;

    i {
      font-size: $x-large-font-size;
    }
  }

  .searchbar-wrapper {
    padding: 0 $spacer / 2;
  }

  .navbar-main-nav {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    align-items: center;
    color: $highlight-white-xstrong;
    flex-grow: 1;

    .list-group-item {
      @include hover-focus {
        background: $highlight-white;
        color: $white;
        text-decoration: none;
      }

      align-items: center;
      display: flex;
      height: 100%;
      transition: $transition-base;
      white-space: nowrap;

    }

    span {
      margin: 0;

    }
  }


  .searchbar {
    align-items: stretch;
    display: flex;
    margin: 0 auto;
    max-width: 380px;
    padding-bottom: $spacer/2;
    padding-top: $spacer/2;
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    .container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .navdrawertoggle {
      display: flex;
    }

    .search-button {
      display: none;
    }

    .searchbar-wrapper {
      display: none;
    }
  }

  .container,
  .container-fluid {
    align-items: stretch;
  }
}

.navbar-secondary {
  @include media-breakpoint-down(sm) {
    position: static;
    z-index: 1020;
  }

  background: $navigation-gray;
  border-bottom: 1px solid $highlight-white;
  // border-top: 1px solid $highlight-white;
  position: sticky;
  top: $navbar-height;
  z-index: 1030;

  .content-holder {
    border-top: 0;
    margin-top: 0;
  }

  .container,
  .container-fluid {
    padding: 0;
  }

  .list-group,
  .breadcrumb {
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
    }

    flex-wrap: wrap;
    overflow-x: scroll;
    padding: 0 $spacer;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .breadcrumb-item {
    display: flex;
    padding-bottom: $spacer/2;
    padding-top: $spacer/2;
    white-space: nowrap;

    &:last-child {
      padding-right: $spacer;
    }
  }

  .list-group-item {
    @include hover-focus {
      background: $highlight-white;
      color: $white;
      text-decoration: none;
    }

    transition: $transition-base;
    white-space: nowrap;

    &.search {
      margin-left: auto;
      padding: $spacer / 8 $spacer / 4;
    }
  }
}

.navbar-brand {
  @include media-breakpoint-down(sm) {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }

  align-items: center;
  display: flex;
  margin-right: 0;
  padding: 0 $spacer;

  img {
    @include img-fluid;
  }
}

.navbar-login-wrapper {
  padding: $spacer / 2;
  white-space: nowrap;

  .btn {
    margin: 0;
  }
}
