.has-nav-drawer {

	.content-holder {
		@include media-breakpoint-up(md) {
			margin-left: $nav-drawer-width-open;
		}
	}
	.nav-drawer{
		transform: translateX(0px);
		@include media-breakpoint-down(sm) {
			transform: translateY(-100%);
		}
	}

	&.nav-drawer-open {
		.content-holder {
			@include media-breakpoint-up(md) {
				margin-left: $nav-drawer-width-open;
			}
		}

		.nav-drawer {
			transform: translateX(0px);
			@include media-breakpoint-down(sm) {
				transform: translateY(0%);
			}

			.drawer-overlay {
				@include media-breakpoint-down(lg) {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
}

.nav-drawer-open{
	.nav-drawer{
		@include media-breakpoint-down(sm) {
			transform: translateY(0%);
		}
	}
}

.global-navigation {
	display: none;
	border-bottom: 1px solid $highlight-white;
	margin: 0;
	@include media-breakpoint-down(sm) {
		display: flex;
		padding: $spacer/2 0;

		.nav-drawer-sub-list {
			display: none;
		}
	}
}

.nav-drawer {
	background: $navigation-gray;
	width: $nav-drawer-width-open;
	height: 100vh;
	position: fixed;
	z-index: 1020;
	top: 0;
	border-right: 1px solid $highlight-white;
	transform: translateX(-$nav-drawer-width-open);
	transition: transform $nav-drawer-animation-duration;
	&-body {
		height: 100%;
		max-height: calc(100vh - #{$navbar-height});
		overflow-y: auto;
		@include media-breakpoint-up(md) {
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: none;
			}
			&::-webkit-scrollbar-thumb {
				background: $highlight-white;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		width: 100%;
		height: auto;
		left: 0;
		transform: translateY(-100%);
		display: block;
	}

	.drawer-overlay {
		pointer-events: none;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transition: opacity $nav-drawer-animation-duration;
		@include media-breakpoint-down(sm) {
			left: 0;
			top: 100%;
		}
	}
}

.nav-drawer-spacer {
	height: $navbar-height;
	width: $nav-drawer-width-open;
	display: flex;
	align-items: stretch;
}

.has-secondary-nav{
	.nav-drawer-spacer {
		@include media-breakpoint-down(sm) {
			height: $navbar-height;
		}
		height: $navbar-height + 41px;
	}
}

.nav-drawer-list {
	list-style: none;
	padding: 0;
	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		& > li {
			width: 50%;
		}
	}

	li {
		a {
			color: $white;
			display: flex;
			flex-wrap: wrap;
		}

		.btn-nav {
			padding: $spacer/2;
			line-height: 1.5;
		}

		i {
			padding-left: $spacer/2;
			padding-right: $spacer/2;
		}

		a.active {
			color: $primary;
		}
	}
}

.nav-drawer-sub-list {
	padding-left: 54px;
	list-style: none;
}

.content-holder {
	transition: margin-left $nav-drawer-animation-duration;
}

// Training & Films

.drawer-nav-group,
.drawer-nav-header {
	padding: $spacer/2 0;
	border-bottom: 1px solid $highlight-white;

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	a {
		margin-bottom: 0;
	}
}

.drawer-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;

	.drawer-nav-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&-link {
			flex-grow: 1;
			&.active{
				.subtitle{
					color: $primary;
				}
			}
			.subtitle{
				font-size: $x-small-font-size;
				color: $gray-500;
			}
		}

		.subtitle{

		}

		&.complete {
			+ .drawer-nav-section .drawer-nav-section-icon:after {
				background-color: $primary;
			}
			.drawer-nav-section-icon:before {
				background-color: $primary;
			}
		}
		&:first-of-type {
			.drawer-nav-section-icon:after {
				content: none;
			}
		}

		&:last-of-type {
			.drawer-nav-section-icon:before {
				content: none;
			}
		}
	}
}

.training-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	.drawer-nav-section-icon {
		&:before {
			content: close-quote;
			width: 2px;
			background: $input-gray;
			height: 500%;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 50%);
			z-index: -1;
		}
		&:after {
			content: close-quote;
			width: 2px;
			background: $input-gray;
			height: 500%;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
	.drawer-nav-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&-link {
			flex-grow: 1;
		}

		&.complete {
			+ .drawer-nav-section .drawer-nav-section-icon:after {
				background-color: $primary;
			}
			.drawer-nav-section-icon:before {
				background-color: $primary;
			}
		}
		&:first-of-type {
			.drawer-nav-section-icon:after {
				content: none;
			}
		}

		&:last-of-type {
			.drawer-nav-section-icon:before {
				content: none;
			}
		}
	}
}

.drawer-nav-header {
	padding: $spacer;
}

.drawer-nav-section {
	overflow: hidden;

	a {
		padding: $spacer/2 $spacer;
		color: inherit;
		display: flex;
		flex-direction: row;
		align-items: center;

		&.active {
			background-color: $highlight-white;
		}

		&:hover {
			text-decoration: none;
			background-color: $highlight-white;
		}
	}
}

$circle-radius: 14;
$circle-diameter: $circle-radius * 2;
$circle-circumference: $circle-diameter * 3.14;

.drawer-nav-section-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $input-gray;
	margin-right: $spacer;
	position: relative;
	flex-shrink: 0;
	align-self: flex-start;

	&.progress {
		border: 2px solid $primary;
	}

	i {
		font-size: $font-size-base * 1.125;
	}

	&-progress {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(-90deg);

		circle {
			stroke: $primary;
			stroke-width: 2px;
			fill: none;
			stroke-dasharray: $circle-circumference;
			stroke-dashoffset: calc((1 - var(--progress-fraction, 0)) * #{$circle-circumference}px);
			stroke-linecap: square;
		}
	}
}

.drawer-nav-dropdown {
	padding: $spacer/2 $spacer;
	cursor: pointer;

	&.collapsed {
		i {
			transform: rotate(-90deg);
		}
	}

	i {
		transition: transform 0.35s ease;
		margin-right: $spacer/2;
		vertical-align: text-top;
	}
}
