.join {
  margin-top: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.join-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    &::after {
      content: close-quote;
      display: block;
      width: 100%;
      height: 100%;
      background: radial-gradient(94.11% 100% at 50% 0%, rgba(31, 31, 31, 0) 76.84%, #{$dark} 100%), radial-gradient(40.26% 143.41% at 50% 51.9%, rgba(0, 0, 0, 0) 30.35%, rgba(0, 0, 0, 0.75) 100%);
      position: absolute;
      top: 0;
      left: 0;


    }

    &-image {
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      z-index: -1;

      @include media-breakpoint-down(md) {
        height: 200px;
      }
    }
  }

  &-brand {
    height: 30px;
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 2;
    z-index: 1;
    position: relative;

    @include media-breakpoint-down(md) {
      margin-top: $spacer * 2;
    }
  }
}

.checkout-done-container {
  margin-top: 300px !important;
  // background: $dark;
  border-radius: $border-radius;

  @include media-breakpoint-down(md) {
    margin-top: 100px !important;
    background: none;
  }
}

.checkout {
  position: sticky;
  top: 84px;
}

.payment-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.payment-header {
  border: 1px solid $input-gray;
  border-bottom-width: 0;
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  padding: $spacer;
  background: $navigation-gray;
}

.payment-header-title {
  margin-bottom: 0;
}

.payment-tab {
  background: $navigation-gray;
  padding: $spacer;
  cursor: pointer;
  border: 1px solid $input-gray;
  border-bottom-width: 0;
  width: 50%;
  text-align: center;
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  position: relative;

  &.active {
    cursor: auto;
    background: $dark;

    &::after {
      content: none;
    }
  }

  &:first-child {
    &::after {
      border-bottom-left-radius: 0;
    }

    &.active {
      margin-right: -1px;
    }
  }

  &:last-child {
    &::after {
      border-bottom-right-radius: 0;
    }

    &.active {
      margin-left: -1px;
    }
  }

  &::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: '';
    background: $navigation-gray;
    display: block;
    width: calc(100% + 2px);
    height: $border-radius;
    border: 1px solid $input-gray;
    border-top-width: 0;
    border-radius: 0 0 $border-radius $border-radius;
    margin: 0 -1px;
  }
}

.payment-tab-title {
  margin-bottom: -$border-radius;
  pointer-events: none;
}

.payment-content {
  background: $dark;
  border: 1px solid $input-gray;
  border-top-width: 0;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
  overflow: hidden;
}

.payment-content-inner {
  padding: $spacer;
}

.checkout-form {
  &-billing-address-readonly {
    [readonly] {
      background-color: $transparent;
      padding: 0;
      width: auto;
      height: unset;
      display: inline;
      border: none;
      // Dropdown still works even with readonly attribute set.
      pointer-events: none;
      // opacity: .5;
    }

    .font-weight-bold-child {
      >* {
        // opacity: .75;
      }
    }

    select[readonly] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
    }
  }
}

.checkout {
  [readonly] {
    pointer-events: none;
  }
}

.payment-tabs-footer {
  background: $navigation-gray;
  padding: $spacer;
}

.payment-input-header {
  display: flex;
  align-items: center;
  margin-bottom: $spacer / 4;

  label {
    text-transform: capitalize;
  }

  >* {
    margin-bottom: 0
  }
}

// This is to over-write the default btn-success thats added from looper.
.col .btn-payment-confirm {
  @extend .btn-primary;

  &:disabled {
    @extend .btn-input;
  }

  &.btn-success {
    @extend .btn-primary;
  }
}

.expand {
  height: 0;

  overflow: hidden;

  &.show {
    height: 100%;
  }
}

// BRAINTREE CUSTOMIZATION

#id_gateway {
  @extend .list-unstyled;
  margin-bottom: 0;
}

.braintree-option {
  @extend .btn,
  .btn-input;

  border-top: 0;
  width: 100%;
  display: flex;
  padding: $spacer / 2;
  font-weight: $font-weight-base;
  // background: $dark;
  // border-color: $input-gray;
  text-align: left;
  margin-bottom: $spacer / 2;
  border-radius: $border-radius !important;

  .braintree-option__label {
    color: $headings-color;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    // background: $input-gray;

    .braintree-option__label {
      font-weight: $font-weight-normal;
    }
  }
}

.braintree-sheet__container {
  margin-bottom: $spacer / 2;
}

.braintree-upper-container {
  &::before {
    background-color: $transparent;
    border-color: $input-gray;
    border-radius: $border-radius;
    bottom: 0;
    margin-bottom: $spacer / 2;
  }
}

.looper-select-option-0 {

  .looper-select-label {
    color: $headings-color;
    margin-bottom: $spacer / 2;
  }

  .gateway-options-label {
    display: none;
  }
}

.braintree-placeholder {
  display: none;
}

.choose-a-way-to-pay,
.braintree-heading {
  display: none;
}

.looper-select-option {
  .gateway-options-label {
    @extend .subtitle;
    @extend .x-small;
  }

  input {
    display: none;
  }

  .looper-select-option-label {
    width: 100%;
    margin-bottom: 0;

    :checked+span {
      // background: $input-gray;
      // color: $headings-color;
    }

    span {
      // background: $dark;
      // border: 1px solid $input-gray;
      // border-radius: $border-radius;
      // padding: $spacer * .75 $spacer / 2 $spacer * .75 #{$spacer * 1.5 + 24px};
      width: 100%;
      // position: relative;
      display: block;
      font-weight: $headings-font-weight;

      &:hover {
        // background: $input-gray;
        cursor: pointer;
      }
    }
  }
}

.looper-select-option-0 {
  :not(:checked)+span {

    @extend .btn,
    .btn-input;

    background: $input-gray;
    border-radius: $border-radius;
    font-weight: $font-weight-normal;
    // margin-top: $spacer * 1.5;
    padding-left: $spacer * 2.5;
    position: relative;
    text-align: left;
    margin: 34px 0 0;

    &:before {
      color: $headings-color;
      content: 'Credit Card or PayPal';
      display: block;
      font-weight: $headings-font-weight;
      left: 0;
      position: absolute;
      top: - $spacer * 1.5;
    }

    &::after {
      @extend .material-icons;
      content: 'credit_card';
      display: block;
      left: $spacer * .75;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.looper-select-option-1 {
  padding-top: calc(24px + #{$spacer});
  position: relative;

  &:before {
    color: $headings-color;
    content: 'Bank Transfer';
    display: block;
    font-weight: $headings-font-weight;
    left: 0;
    position: absolute;
    top: $spacer / 2;
  }

  .looper-select-option-label {

    :checked+span {
      border: 2px solid $success;
    }
  }

  .looper-select-label {
    @extend .btn,
    .btn-input;

    background: $input-gray;
    border-radius: $border-radius;
    font-weight: $font-weight-normal !important;
    // margin-top: $spacer * 1.5;
    padding-left: $spacer * 2.5;
    position: relative;
    text-align: left;
  }

  span {
    text-align: left;

    &::after {
      @extend .material-icons;
      content: 'account_balance';
      display: block;
      left: $spacer * .75;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      background: none;
    }
  }
}

.gateway-options-label {
  margin-top: $spacer / 4;
}

.braintree-sheet__logo--header {
  width: $spacer * 2;
}

.braintree-sheet {
  background: $navigation-gray;
  border: 1px solid $input-gray;
  border-radius: $border-radius;
  margin-bottom: $spacer / 2;
  overflow: hidden !important;
}

.braintree-sheet__header {
  border-color: $input-gray;

  .braintree-sheet__text {
    color: $body-color;
    margin-left: $spacer;

  }
}


.braintree-sheet__content--form {
  background: $dark;
  padding: $spacer $spacer / 2 $spacer / 2;

  .braintree-form__field-group {
    padding: 0 $spacer / 2;
    margin-bottom: $spacer / 4;

    &.braintree-form__field-group--has-error {
      margin-bottom: $spacer / 4;

      .braintree-form__field {
        border-color: $danger;

        &:hover {
          border-color: darken($danger, 7.5%);
        }
      }
    }

    .braintree-form__field {
      .braintree-form__hosted-field {
        background-color: $input-gray;
        border-color: $input-gray;
        border-radius: $border-radius;
        border-width: 2px;
        color: $headings-color;

        &:hover {
          border-color: $input-gray;
        }
      }

      &-error {
        color: $danger;
        margin: 0;
      }
    }

    .braintree-form__label {
      color: $headings-color;
      font-weight: $headings-font-weight;
    }
  }
}

.braintree-heading {
  font-weight: $headings-font-weight;
  color: $headings-color;
}

// Choose another way to pay button
[data-braintree-id='toggle'] {
  background: none;
  padding: 0;
  font-weight: normal;
  color: $body-color;

  &:hover {
    font-weight: $font-weight-normal;
    background: none;
    text-decoration: underline;
  }

  span {
    border-width: 0;
    padding: 0;
  }
}

[data-braintree-id='methods'] {
  margin-bottom: 0;
  border: 0px;
}

[data-braintree-id='methods-container'] {
  // padding: $spacer / 2 0;
  margin-bottom: $spacer / 2;
}

.braintree-method {
  @extend .btn,
  .btn-input;

  border-radius: $border-radius !important;
  border: 0 solid $input-gray;
  color: $body-color;
  display: flex;
  font-weight: $font-weight-base;
  margin: 0 0 $spacer / 2 0;
  padding: $spacer / 2;
  width: 100%;

  .braintree-method__label {
    color: $headings-color;

    .braintree-method__label--small {
      @extend .subtitle;
    }
  }

  .braintree-method__icon {
    width: $spacer * 1.25;
    height: $spacer * 1.25;
    position: relative;
    background-color: $success !important;

    svg {
      width: $spacer * .75;
      height: $spacer * .75;
      position: absolute;
      top: $spacer / 4;
      left: $spacer / 4;
    }
  }

  &:hover {
    .braintree-method__label {
      font-weight: $font-weight-base;
    }
  }

  &:first-child {
    border-top-width: 0 !important;
    margin: 0 0 $spacer / 2 0 !important;
  }

  &:last-child {
    margin: 0 0 $spacer / 2 0 !important;
  }
}

.braintree-methods--active:not(.braintree-methods--edit) .braintree-method--active {
  // background: $success;
  margin-bottom: $spacer / 2;
  border-color: $success;

  .braintree-method__label {
    font-weight: $font-weight-base !important;
  }

  &:first-child {
    border-top-width: 2px !important;
  }
}

[data-braintree-id="other-ways-to-pay"] {
  margin: 0 0 $spacer / 2 0;
  // padding: $spacer;
  // border: 1px solid $input-gray;
  border-bottom-width: 0;
}

[data-braintree-id='payment-options-container'] {
  padding-bottom: 0;
}

[data-braintree-id="sheet-container"] {
  margin-bottom: 0;
}

[data-braintree-id='save-card-field-group'] {
  margin-bottom: 0 !important;
}


.braintree-sheet--has-error .braintree-sheet {
  border: 1px solid $danger;
  border-radius: 0;
  border-bottom-width: 0;
}

.braintree-sheet--has-error .braintree-sheet__error {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: $spacer;
  border: 1px solid $danger;
  border-top-width: 0;
  color: $danger;

  .braintree-sheet__error-icon use {
    fill: $danger;
  }

  .braintree-sheet__error-text {
    color: $danger;
  }
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field-error-icon use {
  fill: $danger;
}

.braintree-sheet__content--form .braintree-form__field-group.braintree-form__field-group--has-error .braintree-form__field .braintree-form__hosted-field {
  border-color: $danger;
}

// BRAINTREE END
