.search-filters {
  .input-group {
    .input-group-text {
      background-color: $dark;
      transition: $transition-base;
    }

    .custom-select {
      background-color: $dark;
      transition: $transition-base;



    }

    @include hover-focus {
      .input-group-text {
        background-color: $input-gray;
      }

      .custom-select {
        background-color: $input-gray;
      }
    }
  }
}

#hits {
  .card-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-type {
    text-transform: capitalize;
  }
}

#filters {
  select {
    text-transform: capitalize;
  }
}

mark,
.mark {
  background: none;
  color: $primary;
}
