.search {
  .content-holder {
    .container-xl {
      @include media-breakpoint-up(md) {
        padding-top: $spacer;
      }

      padding-top: $spacer;
    }
  }
}

.search-bar-wrapper {
  margin-bottom: $spacer;
}

#hits {
  .content-type {
    text-transform: capitalize;
  }
}

#filters {
  select {
    text-transform: capitalize;
  }

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

mark,
.mark {
  background: $primary;
  color: $charcoal-gray;
}
