.button-toolbar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-toolbar {
  align-self: flex-start;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;

  .btn+.btn,
  .dropdown-menu+.btn {
    margin-left: $spacer / 2;
  }
}

.button-toolbar-details {
  flex-wrap: nowrap;
}

.training-video {

  .video-player,
  .content-locked {
    @include media-breakpoint-down(sm) {
      margin: #{-$spacer / 2} #{-$spacer} 0;
      border-radius: 0;

      .plyr__poster {
        border-radius: 0;
      }
    }

    border-radius: $border-radius;
    overflow: hidden;
  }
}

.modal {
  .content-locked {
    width: 100%;
  }
}

.content-locked {
  position: relative;
  // width: 100%;

  &::after {
    background: $highlight-black-xstrong;
    content: close-quote;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
  }

  &-text {
    max-width: 500px;
    position: relative;
    text-align: center;

    width: 100%;
    z-index: 1;
    margin: $spacer * 4 auto;
  }

  .login-button {
    color: white;
  }

  img {
    width: 100% !important;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
  }
}
