.x-large {
  @include font-size($x-large-font-size);
  font-weight: $font-weight-normal;
}

large,
.large {
  @include font-size($large-font-size);
  font-weight: $font-weight-normal;
}

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
}

x-small,
.x-small {
  @include font-size($x-small-font-size);
  font-weight: $font-weight-normal;
}

u,
.underline {
  text-decoration: underline;
}

.subtitle {
  color: $primary;
  margin-bottom: 0;
}
