.x-large {
  @include font-size($x-large-font-size);
  font-weight: $font-weight-normal;
}

large,
.large {
  @include font-size($large-font-size);
  font-weight: $font-weight-normal;
}

.regular {
  @include font-size($font-size-base);
  font-weight: $font-weight-normal;
}

.medium {
  @include font-size($font-size-md);
  font-weight: $font-weight-normal;
}

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
}

x-small,
.x-small {
  @include font-size($x-small-font-size);
  font-weight: $font-weight-normal;
}

u,
.underline {
  text-decoration: underline;
}

.subtitle {
  color: $highlight-white-xstrong;
  margin-bottom: 0;
}

.subtitle-light {
  color: $highlight-white-xxstrong;
  margin-bottom: 0;
}

.markdown-text {
  word-break: break-word;

  h1,
  .h1 {
    font-size: $markdown-h1-font-size;
  }

  h2,
  .h2 {
    font-size: $markdown-h2-font-size;
  }

  h3,
  .h3 {
    font-size: $markdown-h3-font-size;
  }

  h4,
  .h4 {
    font-size: $markdown-h4-font-size;
  }

  h5,
  .h5 {
    font-size: $markdown-h5-font-size;
  }

  h6,
  .h6 {
    font-size: $markdown-h6-font-size;
  }

  img {
    @extend .img-fluid;
    border-radius: $border-radius;
    margin: $spacer / 2 0;

  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  word-break: break-word;
  overflow-wrap: break-word;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  @include media-breakpoint-down(sm) {
    font-size: $h1-font-size;
  }
}

.font-weight-bold-child {
  >* {
    font-weight: $font-weight-bold;
  }
}

code {
  background: rgba(209, 82, 143, 0.1);
  border-radius: 8px;
  padding: $spacer / 4;
  color: lighten($code-color, 15%);
  vertical-align: middle;
}

pre {
  background: rgba($pre-color, .1);
  border: 0px solid $pre-color;
  border-radius: $border-radius;
  border-left-width: $border-radius;
  padding: $spacer / 2;
  font-size: inherit;

  @include scroll-bar(#2c1e24, rgba($pre-color, .5));

  code {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    color: lighten($code-color, 15%);
    font-size: $code-font-size;
  }
}

.editorial-text-area {
  pre {
    font-size: 1.2rem;
    line-height: 1.25;
  }
}
