.update-feed {
  margin-bottom: $spacer;

  .update-feed-week:last-of-type .update-feed-individual:last-of-type {
    margin-bottom: 0;
  }
}

.update-feed-week {
  @include media-breakpoint-down(sm) {
    margin-left: -$spacer * .75;
  }

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.update-feed-week-header {
  position: relative;
  p {
    @extend .subtitle;
    @extend .small;
  }
}

.update-feed-week-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $input-gray;
  border-radius: 50%;
  position: relative;

  i {
    font-size: $font-size-md;
  }
}

.update-feed-week-column {
  &.column-left {
    flex-shrink: 1;
    position: relative;

    &:before {
      content: close-quote;
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background: $input-gray;
      z-index: -1;
    }
  }

  &.column-right {
    flex-grow: 1;
    margin-left: $spacer/2;
  }
}

.update-feed-individual {
  margin-bottom: $spacer;
  border-bottom: 2px solid $input-gray;
  @extend .row;



  &-summary {
    @extend .col-md-3;

    >*:last-child {
      margin-bottom: $spacer;
    }

    >a {
      display: inline-block;

      img {
        @extend .img-fluid;
      }
    }
  }
}

.update-feed-individual-files {
  @extend .col-md-9;

  margin-bottom: $spacer;

  &-show-more {
    margin-bottom: $spacer;
  }

  >a {
    display: inline-block;
  }

  &>:last-child {
    margin-bottom: 0;

  }
}

.update-feed-individual-summary-profile {
  @extend .row;
  margin-bottom: $spacer / 2;
}
