.update-feed {
  margin-bottom: $spacer;

  .update-feed-week:last-of-type .update-feed-individual:last-of-type {
    margin-bottom: 0;
  }

  .files {
    background: $highlight-black;
    border-radius: $border-radius;
    padding: $spacer $spacer 0 $spacer;
  }
}

.update-feed-week {
  @include media-breakpoint-down(sm) {
    margin-left: -$spacer * .75;
  }

  display: flex;
  flex-direction: row;
  background: $navigation-gray;
  border-radius: $border-radius;
  padding: $spacer;
  margin-bottom: $spacer;
  border: 1px solid $highlight-white;
}

.update-feed-week-column {
  >*:last-child {
    margin-bottom: 0;
  }
}

.update-feed-week-header {
  position: relative;

  h2 {
    margin-bottom: $spacer;
  }
}

.update-feed-week-icon {
  align-items: center;
  background: $input-gray;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  position: relative;
  width: 30px;

  i {
    font-size: $font-size-md;
  }
}

.update-feed-header-summary {
  @extend .row;
}

.update-feed-individual {
  @extend .row;
  margin-bottom: $spacer;

  &-summary {
    @extend .col-md-3;

    >*:last-child {
      margin-bottom: $spacer;
    }

    img {
      @extend .img-fluid;
      border-radius: $border-radius;
    }

    >a {
      display: inline-block;
    }
  }
}

.update-feed-individual-files {
  @extend .col-md-9;

  >a {
    display: inline-block;
  }
}

.update-feed-header-summary-text {
  @extend .col-md-9;
  margin-bottom: $spacer;
}

.update-feed-header-summary-image {
  @extend .col-md-3;

  >*:last-child {
    margin-bottom: $spacer;
  }

  img {
    @extend .img-fluid;
    border-radius: $border-radius;
  }

  >a {
    display: inline-block;
  }
}

.update-feed-individual-summary-profile {
  padding-top: $spacer;
  margin-bottom: $spacer / 2;

  .profile-image {
    align-self: flex-start;
  }

  .profile-name {
    margin-bottom: 0;
  }
}
