.update-feed {
  margin-bottom: $spacer;

  .update-feed-week:last-of-type .update-feed-individual:last-of-type {
    margin-bottom: 0;
  }
}

.update-feed-week {
  background: $navigation-gray;
  border-radius: $border-radius;
  border: 1px solid $input-gray;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacer;
  padding: $spacer;

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.update-feed-week-column {
  width: 100%;

  >*:last-child {
    margin-bottom: 0;
  }
}

.update-feed-week-header {
  position: relative;

  h2 {
    margin-bottom: 0;
  }
}

.update-feed-week-icon {
  align-items: center;
  background: $input-gray;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  position: relative;
  width: 30px;

  i {
    font-size: $font-size-md;
  }
}

.update-feed-header-summary {
  @extend .row;
}

.update-feed-individual {
  @extend .row;
  margin-bottom: $spacer;
  position: relative;

  &-summary {
    @extend .col-md-3;

    @include media-breakpoint-up(md) {
      padding-left: calc(#{$spacer} * 1.5);
    }

    >*:last-child {
      margin-bottom: $spacer;
    }

    img {
      @extend .img-fluid;
      border-radius: $border-radius;
    }

    >a {
      display: inline-block;
    }
  }

  &-files {
    @include media-breakpoint-up(md) {
      padding-left: 0;
    }

    .files {
      @include media-breakpoint-up(md) {
        padding: $spacer $spacer 0 $spacer / 2;
      }

      padding: 0;
    }
  }

  &::before {
    border-radius: $border-radius;
    content: close-quote;
    top: 0;
    position: absolute;
    width: calc(100% - #{$spacer});
    height: 100%;
    left: $spacer / 2;
    background: $highlight-black-strong;

    @include media-breakpoint-down(sm) {
      width: calc(100% + #{$spacer});
      left: - $spacer / 2;
      border-radius: 0;
    }
  }
}

.update-feed-individual-files {
  @extend .col-md-9;

  >a {
    display: inline-block;
  }
}

.update-feed-header-summary-text {
  @extend .col-md-9;
  margin-bottom: $spacer / 2;

  h3 {
    margin-bottom: $spacer / 4;
  }
}

.update-feed-header-summary-image {
  @extend .col-md-3;

  >*:last-child {
    margin-bottom: $spacer;
  }

  img {
    @extend .img-fluid;
    border-radius: $border-radius;
  }

  >a {
    display: inline-block;
  }
}

.update-feed-individual-summary-profile {
  padding-top: $spacer;
  margin-bottom: $spacer / 2;
  flex-wrap: nowrap;

  .profile-image {
    align-self: flex-start;
    flex-shrink: 0;
  }

  .profile-name {
    margin-bottom: 0;
  }
}
