// @import 'utilities/align';
// @import 'utilities/background';
// @import 'utilities/borders';
// @import 'utilities/clearfix';
// @import 'utilities/display';
// @import 'utilities/embed';
// @import 'utilities/flex';
// @import 'utilities/float';
// @import 'utilities/overflow';

@import 'utilities/position';
// @import 'utilities/screenreaders';
// @import 'utilities/shadows';
@import 'utilities/sizing';
// @import 'utilities/stretched-link';
// @import 'utilities/spacing';
@import 'utilities/text';
// @import 'utilities/visibility';

.embed-responsive {
  border-radius: $border-radius;
  background-color: black;
}

.video-player {
  &.rounded {
    .plyr--video {
      border-radius: $border-radius;
    }
  }
}

.spoiler-alert {
  @include border-radius($border-radius-sm);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.96;
  z-index: 1070;
  cursor: pointer;
}
.spoiler-alert-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.spoiler-alert.revealed {
  width: 0;
  height: 0;
  display: none;
}
.spoiler-alert-warning {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1em;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  border: 2px solid;
  border-radius: 8px;
  padding: 11px;
  font-weight: 300;
}
.spoiler-alert-text {
  padding-left: 3px;
}
