//brand colours
$blender-orange: #e87d0d;
$charcoal-gray: #1f1f1f;
$navigation-gray: #282828;
$input-gray: #353535;
$highlight-white: rgba($white, 0.1);
$highlight-black: rgba($black, 0.1);

$blue: #3583d0;
$purple: #8e5bc1;
$pink: #d1528f;
$red: #c34343;
$orange: #dc8648;
$yellow: #ecc154;
$green: #44ab5c;
$teal: #44ae95;
$brown: #785347;
$gray: #5a5a5a;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
	(
		"gray-dark": $gray-800,
		"highlight-white": $highlight-white,
		"highlight-black": $highlight-black,
	),
	$colors
);

$primary: $blender-orange;
$secondary: $navigation-gray;
$info: $teal;
$light: $white;
$dark: $charcoal-gray;
$transparent: rgba(0,0,0,0);
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
	(
		"blue": $blue,
		"green": $green,
		"pink": $pink,
		"purple": $purple,
		"yellow": $yellow,
		"red": $red,
		"orange": $orange,
		"teal": $teal,
		"brown": $brown,
		"gray": $gray,
		"navigation": $navigation-gray,
		"highlight": $highlight-white,
		"darkhighlight": $highlight-black,
		"dark": $dark,
		"transparent": $transparent,
		"input": $input-gray,
		"beginner": $green,
		"intermediate": $blue,
		"advanced": $red,
	),
	$theme-colors
);

$yiq-contrasted-threshold: 185;

$yiq-text-dark: $charcoal-gray;

$spacer: 20px;
$spacers: ();

$spacers: map-merge(
	(
		4: (
			$spacer * 2
		),
		5: (
			$spacer * 4
		)
	),
	$spacers
);

$body-bg: $charcoal-gray;
$body-color: $white;


$link-hover-color: lighten($link-color, 20%);

$emphasized-link-hover-darken-percentage: 20%;

$paragraph-margin-bottom: $spacer / 2;

$grid-gutter-width: 20px;

$border-width: 0px;


$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$font-family-sans-serif: "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-md: $font-size-base * 1.125; //18px

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 0.875;
$h5-font-size: $font-size-base * 0.75;
$h6-font-size: $font-size-base * 0.625;

$headings-font-weight: 700;
$headings-line-height: 1.25;

$x-large-font-size: 1.5rem;
$large-font-size: 1.125rem;
$small-font-size: .875rem;
$x-small-font-size: .75rem;

$table-cell-padding-sm: 0.625rem 0;

$table-border-width: 1px;
$table-border-color: $highlight-white;

$input-btn-padding-y: 0.875rem;
$input-btn-padding-x: 1.25rem;

$input-btn-line-height: 1;

$input-btn-focus-width: 0;

$input-btn-padding-y-sm: 0.625rem;
$input-btn-padding-x-sm: 0.875rem;

$input-btn-line-height-sm: 1;

$input-btn-padding-y-lg: 1.25rem;
$input-btn-padding-x-lg: 1.5rem;

$input-btn-line-height-lg: 1;

$btn-padding-y-ctrl: 0.75rem;
$btn-padding-x-ctrl: 0.75rem;
$btn-font-size-ctrl: $font-size-base * 2.25;
$btn-line-height-ctrl: 1;

$btn-padding-y-nav: 0;
$btn-padding-x-nav: 1.25rem;
$btn-font-size-nav: $font-size-base;
$btn-line-height-nav: 1;

$btn-padding-y-ctrl-sm: .3125rem;
$btn-padding-x-ctrl-sm: .3125rem;
$btn-font-size-ctrl-sm: $font-size-base * 1.5;
$btn-line-height-ctrl-sm: 1;


$btn-padding-y-ctrl-xs: 0rem;
$btn-padding-x-ctrl-xs: 0rem;
$btn-font-size-ctrl-xs: $font-size-base * 1.375;
$btn-line-height-ctrl-xs: 1;

$btn-font-weight: $font-weight-bold;

$label-margin-bottom: $spacer / 4;

$input-padding-y: 0.625rem;
$input-padding-x: 0.625rem;
$input-font-family: $font-family-base;
$input-font-size: $font-size-base;
$input-line-height: $line-height-base;

$input-padding-y-sm: 0.625rem;
$input-padding-x-sm: 0.625rem;

$input-line-height-sm: 1;

$input-line-height-lg: 1.5;

$input-bg: $input-gray;
$input-disabled-bg: lighten($input-gray, 50%);

$input-color: $white;
$input-border-color: $input-gray;
$input-border-width: 0;
$input-box-shadow: 0;

$input-focus-border-color: $input-bg;
$input-focus-box-shadow: 0;

$input-placeholder-color: rbga($body-color, 0.5);


$form-group-margin-bottom: $spacer / 2;

$input-group-addon-bg: $input-gray;

$custom-select-indicator-padding: 1.5rem; // Extra padding to account for the presence of the background-image based indicator

$custom-select-bg-size: 1.5rem; // In pixels because image dimensions
$custom-select-indicator-color: $body-color;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#{$custom-select-indicator-color}' d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");

// Navbar

$navbar-height: 64px;
$navbar-padding-y: 0;
$navbar-padding-x: 0;

//Navdrawer

$nav-drawer-width-closed: 0px;
$nav-drawer-width-open: 380px;
$nav-drawer-animation-duration: .5s;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-padding-y: 0;
$dropdown-spacer: 0;
$dropdown-bg: $navigation-gray;
$dropdown-border-color: null;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;

$dropdown-divider-bg: $highlight-white;
$dropdown-divider-margin-y: 0;
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175);

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: darken($body-color, 5%);
$dropdown-link-hover-bg: $highlight-white;

$dropdown-item-padding-y: $spacer /2;
$dropdown-item-padding-x: $spacer;

// Jumbotron

$jumbotron-padding: $spacer * 2;

// Cards

$card-spacer-y: 0.625rem;
$card-bg: $white;
$card-cap-bg: none;
$card-color: $dark;

// Tooltips

$tooltip-bg: $navigation-gray;
$tooltip-padding-y: 0.125rem;
$tooltip-padding-x: 0.3125rem;


// Badges

$badge-font-size: $small-font-size;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: 0.25rem;
$badge-padding-x: 0.3125rem;

$badge-pill-padding-x: 0.625rem;

// Modals

// Padding applied to the modal body
$modal-inner-padding: $spacer;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: $spacer/2;

$modal-dialog-margin: 0.5rem;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-margin-bottom: $spacer / 2;

// Progress bars

$progress-height: .25rem;
$progress-bg: rgba(255, 255, 255, .5);
$progress-border-radius: 0;
$progress-box-shadow: null;

// List group

$list-group-color: $white;
$list-group-bg: null;
$list-group-border-color: null;
$list-group-border-width: 0;
$list-group-border-radius: null;

$list-group-item-padding-y: $spacer/2;
$list-group-item-padding-x: $spacer;

$list-group-hover-bg: null;
$list-group-active-color: $primary;
$list-group-active-bg: $highlight-white;



// Breadcrumbs

$breadcrumb-font-size: $small-font-size;

$breadcrumb-padding-y: $spacer /2 ;
$breadcrumb-padding-x: 0;

$breadcrumb-margin-bottom: 0;

$breadcrumb-bg: null;


