{% load i18n admin_urls %}
{% block object-tools-items %}
  <li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
  </li>
  {# This is an exact copy of the Django Admin template with an exception of "target" #}
  {% if has_absolute_url %}<li><a href="{{ absolute_url }}" target="_blank" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}
