{% extends "subscriptions/emails/base.html" %}
{% load subscriptions %}

{% block content %}{% with taxable=subscription.taxable %}
  <p>Thank you for subscribing to Blender Studio!</p>
  <p>
    Your {% spaceless %}{% include 'subscriptions/components/info_with_status.html' %}{% endspaceless %}
    and will be activated as soon as we have received and handled your bank transfer.
  </p>
  <p>Please send your payment of {{ taxable.price.with_currency_symbol }} to:</p>
  <p>
    <pre>{% include "subscriptions/components/bank_transfer_details.txt" %}</pre>
  </p>
  <p>
    Use the following as a payment reference:
  </p>
  <p><pre>{% include "subscriptions/components/bank_transfer_reference.txt" %}</pre></p>
  <p>
    You may need to wait a few days until the payment clears before one of our team members activates your account.
  </p>
  <p>
    <strong>Subscription information:</strong>
  </p>
  <p>
    Subscription #: {{ subscription.id }}<br />
    Renewal type: {{ subscription.collection_method }}<br />
    Renewal period: {{ subscription|renewal_period }}
  </p>
  <p>
    Payment method: {{ subscription.payment_method }}<br />
    Recurring total: {{ taxable.price.with_currency_symbol }}<br />
    {% if taxable.tax_is_charged %}
      <span style="margin-left: 8em">{{ taxable.format_tax_amount }}</span>
    {% endif %}
  </p>
{% endwith %}{% endblock content %}
