{% extends "emails/email_base.html" %}

{% block header_logo %}
  {# have a title instead of the logo with the remote image #}
  <div style="text-align: center; font-weight: bold;">{{ subject }}</div>
{% endblock header_logo %}

{% block body %}
  <p>Dear {% firstof user.customer.full_name user.customer.billing_address.full_name user.full_name user.email %},</p>
  {% block content %}{% endblock content %}
  <p>Manage subscription in your billing settings: <a href="{{ billing_url }}">{{ billing_url }}</a>.</p>
  <p>
    --<br />
    Kind regards,<br />
    Blender Studio Team
  </p>
{% endblock body %}
