{% extends 'training/base_training.html' %}

{% block nav_drawer_inner %}
  <div class="nav-drawer-inner">

    <div class="drawer-nav-header">
      <p class="subtitle">
        {% if training.is_free %}
          <i class="material-icons icon-inline small text-success" data-toggle="tooltip" data-placement="top"
            title="Free">lock_open</i>
        {% endif %}
        {{ training.type.label }}
      </p>
      <a class="h2" href="{{ navigation.overview_url }}">{{ training.name }}</a>
    </div>

    <div class="drawer-nav-group">
      <div class="drawer-nav-dropdown-wrapper">
        <a class="drawer-nav-dropdown h3" href="{{ navigation.overview_url }}">
          <i class="material-icons mr-2">feed</i>
          {{ training.type.label }} Overview
        </a>
      </div>
      {% for page in training.flatpages.all %}
        <div class="drawer-nav-dropdown-wrapper">
          <a class="drawer-nav-dropdown h3" href="{{ page.url }}">
            <i class="material-icons mr-2">feed</i>
            {{ page.title }}
          </a>
        </div>
      {% endfor %}
    </div>

    {% for chapter_navigation in navigation.chapters %}
      {% if chapter_navigation.is_published or request.user.is_superuser %}
        <div class="drawer-nav-group">
          <div class="drawer-nav-dropdown-wrapper ">
            <a class="drawer-nav-dropdown h3 {% if chapter_navigation.current %} active {% else %}collapsed{% endif %}"
              data-toggle="collapse" data-target="#nav-{{ chapter_navigation.slug }}">
              <span class="drawer-nav-dropdown-text">{{ chapter_navigation.name }}</span>
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
          </div>
          <div id="nav-{{ chapter_navigation.slug }}"
            class="drawer-nav-list-wrapper collapse {% if chapter_navigation.current %}show{% endif %}">
            <ol class="drawer-nav-list training">

              {% for section_navigation in chapter_navigation.sections %}
                {% if section_navigation.is_published or request.user.is_superuser %}
                  {% if section_navigation.source_type == "video" %}
                    {% include 'common/components/navigation/nav_drawer_section_progress.html' with title=section_navigation.name href=section_navigation.url active=section_navigation.current started=section_navigation.started finished=section_navigation.finished progress_fraction=section_navigation.progress_fraction admin_change_href=section_navigation.admin_url nth=forloop.counter|stringformat:"02d" free=section_navigation.is_free %}
                  {% else %}
                    {% include 'common/components/navigation/nav_drawer_section_file.html' with title=section_navigation.name href=section_navigation.url admin_change_href=section_navigation.admin_url free=section_navigation.is_free %}
                  {% endif %}
                {% endif %}
              {% endfor %}

            </ol>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock nav_drawer_inner %}

{% block nested_nav_drawer_inner %}

  {% block nested_nav_drawer_header %}
    <div class="drawer-nav-header">
      <p class="subtitle small mb-1">
        {% if training.is_free %}
          <i class="material-icons icon-inline small text-success" data-toggle="tooltip" data-placement="top"
            title="Free">lock_open</i>
        {% endif %}
        {% firstof training.type.label training.type|capfirst %}
      </p>
      <a href="{{ navigation.overview_url }}" class="h3">{{ training.name }}</a>
    </div>

  {% endblock nested_nav_drawer_header %}

  <div class="drawer-nav-group">
    <div class="drawer-nav-dropdown-wrapper">
      <a class="drawer-nav-dropdown font-weight-bold" href="{{ navigation.overview_url }}" data-tooltip="tooltip-overflow"
        data-placement="top" title="{{ training.type.label }} Overview">
        <i class="material-icons mr-2">feed</i>
        <span class="overflow-text">{{ training.type.label }} Overview</span>
      </a>
    </div>
    {% for page in training.flatpages.all %}
      <div class="drawer-nav-dropdown-wrapper">
        <a class="drawer-nav-dropdown h3" href="{{ page.url }}" data-tooltip="tooltip-overflow" data-placement="top" title="{{ page.title }}">
          <i class="material-icons mr-2">feed</i>
          <span class="drawer-nav-dropdown-text overflow-text">{{ page.title }}</span>
        </a>
      </div>
    {% endfor %}
  </div>

  {% for chapter_navigation in navigation.chapters %}
    {% if chapter_navigation.is_published or request.user.is_superuser %}

      <div class="drawer-nav-dropdown-wrapper ">
        <a href="{{ chapter_navigation.url }}"
          class="drawer-nav-dropdown dropdown font-weight-bold {% if chapter_navigation.current %} active {% else %}collapsed{% endif %}"
          data-tooltip="tooltip-overflow" data-placement="top" title="{{ chapter_navigation.name }}">
          <span class="drawer-nav-dropdown-text overflow-text">{{ chapter_navigation.name }}</span>
          {% comment %} <i class="material-icons">keyboard_arrow_down</i> {% endcomment %}
        </a>
        <a class="drawer-nav-dropdown icon {% if chapter_navigation.current %} active {% else %}collapsed{% endif %}"
          data-toggle="collapse" data-target="#nav-{{ chapter_navigation.slug }}">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </div>
      <div id="nav-{{ chapter_navigation.slug }}"
        class="drawer-nav-list-wrapper collapse {% if chapter_navigation.current %}show{% endif %}">
        <ol class="drawer-nav-list training">

          {% for section_navigation in chapter_navigation.sections %}
            {% if section_navigation.is_published or request.user.is_superuser %}
              {% if section_navigation.source_type == "video" %}
                {% include 'common/components/navigation/nav_drawer_section_progress.html' with title=section_navigation.name href=section_navigation.url active=section_navigation.current started=section_navigation.started finished=section_navigation.finished progress_fraction=section_navigation.progress_fraction admin_change_href=section_navigation.admin_url nth=forloop.counter|stringformat:"02d" free=section_navigation.is_free %}
              {% else %}
                {% include 'common/components/navigation/nav_drawer_section_file.html' with title=section_navigation.name href=section_navigation.url admin_change_href=section_navigation.admin_url free=section_navigation.is_free %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </ol>
      </div>

    {% endif %}
  {% endfor %}
{% endblock nested_nav_drawer_inner %}
