{% extends 'common/base.html' %}

{% block meta %}
  {% with title=training.name description=training.description image_url=training.thumbnail_m_url %}
    {% include 'common/components/meta.html'  %}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="container-xxl pt-2 pt-md-3 nested-navigation">
    <div class="row">

      <div class="col-md-4 col-lg-3 mb-3 d-none d-md-block">
        <nav class="nav-drawer-nested">
          <div class="nav-drawer-body">
            {% block nested_nav_drawer_inner %}
            {% endblock nested_nav_drawer_inner %}
          </div>
        </nav>
      </div>

      <div class="col col-md-8 col-lg-9">
        {% block nexted_content %}
        {% endblock nexted_content %}
      </div>

    </div>
  </div>



{% endblock content %}
