{% extends 'training/base_with_navigation.html' %}
{% load common_extras %}
{% load pipeline %}

{% block title_prepend %}{{ flatpage.title }} - {{ training.name }} - {% endblock title_prepend %}

{% block meta %}
  {% firstof flatpage.title as title %}
  {% firstof flatpage.thumbnail_m_url training.thumbnail_m_url as image_url %}
  {% with description=flatpage.content|truncatewords:25 %}
    {% include 'common/components/meta.html'  %}
  {% endwith %}
{% endblock %}


{% block nexted_content %}
  {% if flatpage.header %}
    {% include "common/components/helpers/image_resize.html" with alt=asset.name classes="img-fluid img-width-100 rounded mb-3" img_source=flatpage.header width="820" %}
  {% endif %}

  <div class="row">
    <div class="col">

      <div class="row align-items-start">
        <div class="col-12 col-md mb-2 mb-md-3">
          <p class="subtitle small">
            {% if training.is_free %}
              <i class="material-icons icon-inline text-success" data-toggle="tooltip" data-placement="top"
                title="Free">lock_open</i>
            {% endif %}
            {{ training.name }}
          </p>
          <h2 class="mb-0">{{ flatpage.title }}</h2>
        </div>
        <div class="col-12 col-md-auto mb-2 mb-md-0 mt-0 mt-md-3">
          <div class="training-toolbar-container">

            <div class="training-toolbar">

              {% if user.is_staff %}
                <a href="{{ flatpage.admin_url }}" class="btn btn-sm btn-icon btn-dark">
                  <i class="material-icons btn-material-icons">create</i>
                </a>
              {% endif %}

              <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
                <i class="material-icons btn-material-icons">more_horiz</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="https://developer.blender.org/maniphest/task/edit/form/15/" target="_blank"
                  class="dropdown-item">
                  <i class="material-icons">flag</i>
                  <span>Report Problem</span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <section class="mb-3 markdown-text">{% with_shortcodes flatpage.html_content %}</section>
    </div>


  </div>

{% endblock nexted_content %}

{% block scripts %}
  {% javascript 'training' %}
{% endblock scripts %}
