{% extends 'training/base_training.html' %}

{% load static %}
{% load pipeline %}

{% javascript 'training' %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
{{ search_client_config|json_script:"training-search-client-config" }}
{% endblock scripts %}


{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron-overlay header">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{% static "training/images/placeholders/jumbotron.png" %}">
    <!-- TODO(Mike): Impliment image sets when flat-pages are done. -->
    {% comment %}
    {% include "common/components/helpers/image_set.html" with classes="jumbotron-bg" img_source=XXX xsmall_width="576" small_width="758" medium_width="992" large_width="1200" xlarge_width="1920" %}
    {% endcomment %}
  </div>
  <h1>{{ FavoritedTrainingIDs }}</h1>{# FIXME removeme #}
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="jumbotron-body">
          <h1>Training</h1>
          <p class="mb-0">
            Learn from our expert team. Classes, workshops and production lessons with .blend files included.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container-xl pt-3">

  <section id="search">
    <div class="row">

      <div class="col-md-6 mb-3">
        <div id="search_input" class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">search</i>
            </span>
          </div>

        </div>
      </div>

      <div id="search_type" class="col-md-3 col-6 mb-3">

      </div>

      <div id="search_difficulty" class="col-md-3 col-6 mb-3">

      </div>
    </div>
  </section>

  {% comment %}
  {% if recently_watched_sections %}
  <section class="continue-training mb-3">
    <h2 class="mb-0">Continue training</h2>
    <p class="mb-3">Recently watched sections will appear here with your position saved</p>
    <div class="row">
      {% for section in recently_watched_sections|slice:':3' %}
      {% include "training/components/card_section.html" with section=section %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
  <section class="saved-training mb-3">
    <h2 class="mb-0">Your saved training</h2>
    <p class="mb-3">You can add and remove items from this list by clicking the plus or the tick</p>
    {% if favorited_trainings %}
    <div class="row">
      {% for training in favorited_trainings %}
      {% include "training/components/card_training.html" with training=training %}
      {% endfor %}
    </div>
    {% else %}
    <div class="row">
      <div class="col text-center">
        <div class="bg-secondary py-4 rounded">
          <h3 class="mb-0">No saved training</h3>
          <p class="mb-0">You can favorite a few below!</p>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
  {% endcomment %}

  <section>
    <div class="row">
      <div class="col mb-3">
        <h2 class="mb-0">All Training</h2>
      </div>
      <div class="col-auto mb-3">

        <div class="input-group input-group-sm" id="sorting">
          <div class="input-group-prepend">
            <label class="input-group-text" for="searchLicence">Sort by:</label>
          </div>
          {% comment %} <select class="custom-select">
            <option selected>Relevance</option>
            <option value="1">Date (New first)</option>
            <option value="2">Date (Old first)</option>
          </select> {% endcomment %}
        </div>

      </div>
    </div>
    <div class="row" id="hits">
      {% comment %} {% for training in all_trainings %}
      {% include "training/components/card_training.html" with training=training %}
      {% endfor %} {% endcomment %}
    </div>
  </section>
</div>

{% javascript 'training_search' %}

{% endblock content %}
