{% extends 'training/base_with_navigation.html' %}

{% load static %}
{% load pipeline %}
{% load common_extras %}

{% block title_append %} - {{ training.name }}{% endblock title_append %}

{% block scripts %}
{{ block.super }}
{% if request.user.is_authenticated %}
{{ section_progress_reporting_data|json_script:"sectionProgressReportingData" }}
{% endif %}
{% javascript 'training' %}
{% endblock scripts %}

{% block nexted_content %}
{% if video is not none %}
<div class="row mb-3">
  <div class="col training-video">
    {% if request.user.is_authenticated and request.user|has_group:"subscriber" or section.is_free %}
    {% include 'common/components/video_player.html' with url=video.url progress_url=video.progress_url start_position=video.start_position poster=section.thumbnail_m_url %}
    {% else %}
    {% include 'common/components/content_locked.html' with background=section.thumbnail_m_url %}
    {% endif %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col">
    <div class="row align-items-start">
      <div class="col-12 col-md mb-2 mb-md-3">
        <p class="subtitle small">{{ chapter.name_with_index }}</p>
        <h2 class="mb-0">{{ section.name_with_index }}</h2>
      </div>
      <div class="col-12 col-md-auto mb-2 mb-md-0 mt-0 mt-md-3">
        <div class="training-toolbar-container">
          {% comment %} <div class="training-toolbar-details">
            <div class="text-muted x-small">
              <p class="d-inline mr-3">{{ training.date_updated|date:"jS F Y" }}</p>
            </div>
          </div> {% endcomment %}


          <div class="training-toolbar">
            {% comment %} <a class="btn btn-sm btn-dark"><i class="material-icons">favorite_border</i> Like</a> {% endcomment %}
            {% if request.user.is_authenticated and request.user|has_group:"subscriber" or section.is_free %}
            <a href="{{ video.url }}" download class="btn btn-sm btn-dark">Download</a>
            {% endif %}
            <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
              <i class="material-icons">more_horiz</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="https://developer.blender.org/maniphest/task/edit/form/15/" target="_blank"
                class="dropdown-item">
                <i class="material-icons">flag</i>
                <span>Report Problem</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <section class="mb-3">{% with_shortcodes section.text %}</section>

    {% comment %} <div class="card card-dark d-md-none">
      <div class="card-body">
        <!-- TODO(Mike): Get next training -->
        {% if video is not none %}
        <div class="row mb-2 justify-content-between">
          <div class="col-auto">
            <p class="subtitle small">Autoplay Next Section</p>
            <h3 class="mb-0">02. Point Tracking - Part 2</h3>
          </div>
          {% include 'common/components/checkbox_toggle.html' with checked=False %}
        </div>
        {% else %}
        <div class="row mb-2 justify-content-between">
          <div class="col-md-auto">
            <p class="subtitle small">Next Section</p>
            <h3 class="mb-0">02. Point Tracking - Part 2</h3>
          </div>
        </div>
        {% endif %}

        <a href="#" class="video-preview">
          <img src="{% static 'training/images/placeholders/video.jpg' %}" class="img-fluid">
        </a>

      </div>
    </div> {% endcomment %}

    <section class="mb-3">{% include 'comments/components/comment_section.html' %}</section>

  </div>
  {% comment %} <div class="col-md-4">
    <div class="card card-dark d-none d-md-block">
      <div class="card-body">
        {% if video is not none %}
        <div class="row mb-2 justify-content-between">
          <div class="col-md-auto">
            <p class="subtitle small">Autoplay Next Section</p>
            <h3 class="mb-0">02. Point Tracking - Part 2</h3>
          </div>
          {% include 'common/components/checkbox_toggle.html' with checked=False %}
        </div>
        {% else %}
        <div class="row mb-2 justify-content-between">
          <div class="col-md-auto">
            <p class="subtitle small">Next Section</p>
            <h3 class="mb-0">02. Point Tracking - Part 2</h3>
          </div>
        </div>
        {% endif %}
        <a href="#" class="video-preview">
          <img src="{% static 'training/images/placeholders/video.jpg' %}" class="img-fluid">
        </a>

      </div>
    </div>
  </div> {% endcomment %}
</div>

{% endblock nexted_content %}
