<section class="mb-4">
  <h1>Buttons</h1>
  <div class="row mb-3">
    <div class="col">
      <h2>Regular Button</h2>
      <a href="#" class="btn btn-primary">Button</a>
      <a href="#" class="btn btn-primary">
        <i class="material-icons">cancel</i>
        Icon Button
      </a>
      <a href="#" class="btn btn-primary btn-icon">
        <i class="material-icons">cancel</i>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h2>Large Button</h2>
      <a href="#" class="btn btn-lg btn-primary">Button</a>
      <a href="#" class="btn btn-lg btn-primary">
        <i class="material-icons">cancel</i>
        Button
      </a>
      <a href="#" class="btn btn-lg btn-primary btn-icon">
        <i class="material-icons">cancel</i>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h2>Small Button</h2>
      <a href="#" class="btn btn-sm btn-primary">Button</a>
      <a href="#" class="btn btn-sm btn-primary">
        <i class="material-icons">cancel</i>
        Button
      </a>
      <a href="#" class="btn btn-sm btn-primary btn-icon">
        <i class="material-icons">cancel</i>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h2>Extra Small Button</h2>
      <a href="#" class="btn btn-xs btn-primary">Button</a>
      <a href="#" class="btn btn-xs btn-primary">
        <i class="material-icons">cancel</i>
        Button
      </a>
      <a href="#" class="btn btn-xs btn-primary btn-icon">
        <i class="material-icons">cancel</i>
      </a>
    </div>
  </div>
</section>
