{% extends 'common/base.html' %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
{% endblock scripts %}


{% block content %}
  <div>
    <h1>Search Blender Studio</h1>
    <div>
      <div id="searchbox"></div>
      <div id="hits"></div>
    </div>
  </div>

{% verbatim search_script %}
<script>

const search = instantsearch({
  indexName: "studio",
  searchClient: instantMeiliSearch(
    "http://0.0.0.0:7700",
    //  TODO(Nat): api key goes here
  )
});

search.addWidgets([
  instantsearch.widgets.searchBox({
    container: "#searchbox"
  }),
  instantsearch.widgets.hits({
    container: "#hits",
    templates: {
      item: `
        <div>
          <div class="hit-name">
            {{#helpers.highlight}}{ "attribute": "name" }{{/helpers.highlight}}
<!---            {{#helpers.highlight}}{ "attribute": "description" }{{/helpers.highlight}}#} --->
          </div>
        </div>
      `
    }
  })
]);

search.start();
</script>
{% endverbatim search_script %}

{% endblock content %}
