{% extends 'common/base.html' %}
{% load pipeline %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch@v0.2.1/dist/instant-meilisearch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.7.2"></script>
{{ search_client_config|json_script:"search-client-config" }}
{% endblock scripts %}

{% block bodyclasses %}search{% endblock bodyclasses %}

{% block content %}

<div class="container-xl">

  <section>

    <div class="row">
      <div class="col search-bar-wrapper">
        <div class="input-group" id="search-container">

          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">search</i>
            </span>
          </div>

          <div class="input-group-append">

          </div>

        </div>
      </div>
    </div>

    <div class="row search-filters mb-3 d-md-none">

      <div class="col-auto">
        <a class="btn btn-sm btn-dark" data-toggle="collapse" href="#filters" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="material-icons">filter_list</i>
          Filters
        </a>
      </div>

      <div class="col-auto ml-auto">
        <div class="input-group input-group-sm" id="sorting-mobile">
          <div class="input-group-prepend">
            <label class="input-group-text" for="searchLicence">Sort by:</label>
          </div>
          {% comment %} <select class="custom-select" >
            <option selected>Relevance</option>
            <option value="1">Date (New first)</option>
            <option value="2">Date (Old first)</option>
          </select> {% endcomment %}
        </div>
      </div>

    </div>

    <div class="row search-filters collapse" id="filters">

      <div class="col-md-auto mb-3">
        <div class="input-group input-group-sm" id="searchType">
          <div class="input-group-prepend">
            <label class="input-group-text">Type:</label>
          </div>

        </div>
      </div>

      <div class="col-md-auto mb-3">
        <div class="input-group input-group-sm" id="searchMedia">
          <div class="input-group-prepend">
            <label class="input-group-text">Media:</label>
          </div>

        </div>
      </div>

      <div class="col-md-auto mb-3">
        <div class="input-group input-group-sm" id="searchFree">
          <div class="input-group-prepend">
            <label class="input-group-text">Is Free:</label>
          </div>

        </div>
      </div>

      <div class="col-md-auto mb-3">
        <div class="input-group input-group-sm" id="searchLicence">
          <div class="input-group-prepend">
            <label class="input-group-text">License:</label>
          </div>

        </div>
      </div>

      <div class="col-auto mb-3 ml-auto d-none d-md-block">
        <div class="input-group input-group-sm" id="sorting">
          <div class="input-group-prepend">
            <label class="input-group-text" for="searchLicence">Sort by:</label>
          </div>
          {% comment %} <select class="custom-select">
            <option selected>Relevance</option>
            <option value="1">Date (New first)</option>
            <option value="2">Date (Old first)</option>
          </select> {% endcomment %}
        </div>
      </div>

    </div>
  </section>

  <div class="row" id="hits"></div>

</div>

{% javascript 'search' %}

{% endblock content %}
