{% extends "settings/base.html" %}
{% block content_settings %}

  <p class="subtitle">Settings: Subscription</p>
  <h1 class="mb-3">Payment Methods</h2>
  <p class="pb-3">
    Here you can view and delete payment methods. You can add a new one while changing an old
    one, or while paying for something.
  </p>

  <table class="table table-sm text-center table-receipts">
    <thead>
      <tr>
        <th class="text-left">Payment Method</th>
        <th class="text-right">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for payment_method in object_list %}
        {% with payment_method.gateway_properties as pm_props %}
          <tr>
            {% if pm_props is None %}
              <td>
                Invalid or unsupported payment method.<br/>
                The payment method was either deleted at the payment service provider
                or is no longer supported.
              </td>
            {% else %}
              {% if payment_method.method_type == 'cc' %}
                <td class="text-left">
                  <img class="img-responsive mr-2" width="40" src="{{ pm_props.image_url }}"/>
                  {{ pm_props.card_type }} Ending with <strong>{{ pm_props.last_4 }}</strong>
                </td>
                <td>Expires <strong>{{ pm_props.expiration_date }}</strong></td>
              {% elif payment_method.method_type == 'paypal_account'%}
                <td class="text-left">
                  <img class="img-responsive mr-2" width="40" src="{{ pm_props.image_url }}"/>
                  With email <strong>{{ pm_props.email }}</strong>
                </td>
              {% else %}
                <td class="text-left">{{ pm_props.recognisable_name }}</td>
                <td></td>
              {% endif %}
            {% endif %}
            <td class="actions text-right">
              <a class="text-danger" href="{% url 'looper:payment_method_delete' pk=payment_method.pk %}">Remove</a>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
{% endblock content_settings %}
