{% extends "pdf_layout.html" %}
{% load subscriptions %}
{% block title %}Blender Studio Invoice #{{ order.id }}{% endblock %}
{% block main_content %}
  <table style="margin-bottom: 6em">
    <tr>
      <td colspan=2>
        <p><strong>Billing Address</strong></p>
        E-mail: {{ order.email }}
        <p>
          {{ order.billing_address|linebreaksbr }}
        </p>
        {% if order.vat_number %}
          <p>
            <b>VATIN</b>: {{ order.vat_number }}
          </p>
        {% endif %}
      </td>

      <td>
        <table>
          <tr>
            <td>
              Invoice Number:
            </td>
            <td>
              {{ order.display_number }}
            </td>
          </tr>
          <tr>
            <td>
              Invoice Date:
            </td>
            <td>
              {{ order.paid_at|default:order.created_at|date }}
            </td>
          </tr>
          <tr>
            <td>
              Payment method:
            </td>
            <td>
              {% if order.payment_method.method_type == 'ba' %}
                {{ order.payment_method.recognisable_name }}
              {% else %}
                {{ order.payment_method.get_method_type_display }}
              {% endif %}
            </td>
          </tr>
          {% if order.payment_method.method_type == 'ba' %}
            <tr><td colspan=2></td></tr>
            <tr>
              <td colspan=2>
                <pre>{% include "subscriptions/components/bank_transfer_details.txt" %}</pre>
              </td>
            </tr>
          {% endif %}
        </table>
      </td>
    </tr>
  </table>

  {% with taxable=order.taxable %}
    <table>
      <thead>
        <tr>
          <th colspan=2 class="outline-left">Product</th>
          <th class="outline-y">Quantity</th>
          <th class="outline-right">Price</th>
        </tr>
      </thead>

      <tbody>
        <tr class="first underline">
          <td colspan=2 style="padding-left: 3px">
            {{ order.subscription.plan.product.name }}
            <div style="font-size: small; padding-left: 7px;">
              <div>
                <b>Subscription #:</b> {{ order.subscription_id }}
              </div>
              <div>
                <b>Renewal type:</b> {{ order.subscription.collection_method|capfirst }}
              </div>
              <div>
                <b>Renewal period:</b> {{ order.subscription|renewal_period|capfirst }}
              </div>
            </div>
          </td>
          <td>
            1
          </td>
          <td>
            {{ taxable.price_without_tax.with_currency_symbol_nonocents }}
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan=2>
            {% if taxable.tax_type.value == 'VATRC' %}
              <small>
                Under the regulations of the EU we do not charge VAT on services provided to
                VAT-registered businesses in other member countries.
                According to the reverse-charge regulations on tax liability transfers to the recipient of services.
              </small>
            {%  endif %}
          </td>
          <td class="underline-muted"><b>Subtotal</b></td>
          <td class="underline-muted">{{ taxable.price_without_tax.with_currency_symbol_nonocents }}{% if taxable.tax_type.value %} (ex. VAT){% endif %}</td>
        </tr>
        {% if taxable.tax_is_charged %}
          <tr>
            <td colspan=2></td>
            <td class="underline"><b>VAT</b> ({{ taxable.tax_rate }}%)</td>
            <td class="underline">{{ taxable.tax.with_currency_symbol_nonocents }}</td>
          </tr>
        {% endif %}
        <tr>
          <td colspan=2></td>
          <td class="underline"><b>Total</b></td>
          <td class="underline"><b>{{ taxable.price.with_currency_symbol_nonocents }}</b></td>
        </tr>
      </tfoot>
    </table>
  {% endwith %}


  {% comment %}
    <table style="width: 40em">
      <tr>
        <th>Status</th>
        <td>PAID</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ order.billing_address|linebreaksbr }}</td>
      </tr>
      {% if order.vat_number %}
        <tr>
          <th>VATIN</th>
          <td>{{ order.vat_number }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Amount paid</th>
        <td>
          {{ order.price.with_currency_symbol_nonocents }}
          {% with taxable=order.taxable %}
            {% if taxable.tax_is_charged %}<br />
              {{ taxable.format_tax_amount }}
            {% endif %}
          {% endwith %}
        </td>
        {% with refunded=order.total_refunded %}
          {% if refunded %}
          </tr>
          <tr>
            <th>Amount refunded</th>
            <td>{{ refunded.with_currency_symbol_nonocents }}</td>
          {% endif %}
        {% endwith %}
      </tr>
    </table>
  {% endcomment %}
{% endblock %}
