{% extends 'users/settings/base.html' %}
{% load common_extras %}
{% load subscriptions %}
{% block settings %}




  <ul class="receipt list-group list-group-flush list-group-account">

    <a class="btn btn-sm btn-secondary admin-float" href="{% url 'subscriptions:receipts' %}"><i class="material-icons">arrow_back</i> Back to invoices</a>

    <p class="subtitle">Invoices</p>
    <h1 class="h2 mb-2">Invoice #{{ order.display_number }}</h1>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Invoice ID</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.display_number }}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Status</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">PAID</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Payment Received on</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.paid_at|default:order.created_at }}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item pb-2">
      <div class="row">
        <div class="col">
          <p class="h3 mt-2 mb-0">Subscription #{{ order.subscription_id }}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Renewal Type</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.subscription.collection_method|capfirst}}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Renewal Period</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.subscription|renewal_period|capfirst }}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item pb-2">
      <div class="row">
        <div class="col">
          <p class="h3  mt-2 mb-0">Billing Address</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col justify-content-start">
          <p class=" h4 mb-0 subtitle">Address</p>
        </div>
        <div class="col-auto text-end">
          <div class="mb-0 small mb-0-child">{{ order.billing_address|linebreaks }}</p>
        </div>
      </div>
    </li>

    {% if order.vat_number %}
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <p class=" h4 mb-0 subtitle">VATIN</p>
          </div>
          <div class="col-auto">
            <p class="mb-0 small">{{ order.vat_number }}</p>
          </div>
        </div>
      </li>
    {% endif %}

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Email</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.email }}</p>
        </div>
      </div>
    </li>

    <li class="list-group-item pb-2">
      <div class="row">
        <div class="col">
          <p class="h3 mt-2 mb-0">Payment Information</p>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col justify-content-start">
          <p class=" h4 mb-0 subtitle">Amount Paid</p>
        </div>
        <div class="col-auto text-end">
          <p class="mb-0 small">{{ order.price.with_currency_symbol_nonocents }}</p>
          {% with taxable=order.taxable %}
            {% if taxable.tax_is_charged %}
              <p class="mb-0 small">{{ taxable.format_tax_amount }}</p>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </li>

    {% with refunded=order.total_refunded %}
      {% if refunded %}
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <p class=" h4 mb-0 subtitle">Amount Refunded</p>
            </div>
            <div class="col-auto">
              <p class="mb-0 small">{{ refunded.with_currency_symbol_nonocents }}</p>
            </div>
          </div>
        </li>
      {% endif %}
    {% endwith %}

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p class=" h4 mb-0 subtitle">Payment Method</p>
        </div>
        <div class="col-auto">
          <p class="mb-0 small">{{ order.payment_method.recognisable_name }}</p>
        </div>
      </div>
    </li>

  </ul>
{% endblock settings %}
