{% load pipeline %}
{% load static %}
{% load comment_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blender Cloud{% block title_append %}{% endblock title_append %}</title>
  <meta name="description" content="Blender Cloud">
  <meta name="author" content="Blender Institute">
  <link rel="shortcut icon" href="{% static 'common/images/favicon/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% stylesheet 'studio' %}
  {% javascript 'vendor' %}
  {% javascript 'studio' %}

  {% block html_templates %}
  <template id="comment-template">
    {% include 'comments/components/comment.html' %}
  </template>

  <template id="comment-reply-input-template">
    {% comment_input profile_image_url='' button_label='Reply' div_class='comment-reply-input' %}
  </template>

  <template id="comment-edit-input-template">
    {% comment_input profile_image_url='' button_label='Save' div_class='comment-edit-input' %}
  </template>
  {% endblock %}

  {{ user_dict|json_script:"current-user" }}
  {% block scripts %}{% endblock scripts %}
</head>

<body class="{% block bodyclasses %}{% endblock bodyclasses %}"
  data-authenticated="{% if request.user.is_authenticated %}true{% else%}false{% endif %}">
  <!-- When the body has a nav-drawer, it should have the class 'has-nav-drawer' and when it's wide, 'has-nav-drawer nav-drawer-wide' -->
  <div class="progress global-progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <nav class="navbar">
    <div class="navdrawer-offset">
      <div class="container-xl flex-nowrap">

        <div class="navbar-main-mobile">
          <button class="btn btn-secondary btn-nav btn-icon navdrawertoggle">
            <i class="material-icons">menu</i>
          </button>
        </div>

        <a href="/" class="navbar-brand">
          <img src="{% static 'common/images/blender_cloud_logo.svg' %}" alt="Blender Cloud">
        </a>

        <div class="navbar-main-nav">
          <a href="{% url 'film-list' %}" class="btn btn-secondary btn-nav">
            <span>Films</span>
          </a>
          <a href="{% url 'training-home' %}" class="btn btn-secondary btn-nav">
            <span>Training</span>
          </a>
          {% comment %} <a href="/services/" class="list-group-item">
            <span>Services</span>
          </a> {% endcomment %}
          <a href="{% url 'post-list' %}" class="btn btn-secondary btn-nav">
            <span>Blog</span>
          </a>

          <a href="/services" class="btn btn-secondary btn-nav">
            <span>Services</span>
          </a>
        </div>
        {% if request.user.is_authenticated %}

        <div class="navbar-main-nav-toolbar">

          <a href="{% url 'search' %}" class="btn btn-secondary btn-nav btn-icon search-button">
            <i class="material-icons">search</i>
          </a>

          {% comment %} <div class="searchbar-wrapper">
            <div class="searchbar">
              <div class="input-group-prepend"><span class="input-group-text"><i
                    class="material-icons">search</i></span>
              </div>
              <input type="text" placeholder="Search tags and keywords" class="form-control">
            </div>
          </div> {% endcomment %}

          <button data-toggle="dropdown" class="btn btn-secondary btn-nav btn-profile">
            {% if request.user.is_authenticated and request.user.profile %}
            <div style="background-image:url('{{ request.user.profile.image_url }}');" class="profile">
            {% else %}
            <div style="background-image:url('{% static 'common/images/blank-profile-pic.jpg' %}');" class="profile">
            {% endif %}
            </div>
          </button>
          <div class="dropdown-menu dropdown-menu-right">

            <a href="/" class="dropdown-item">
              <i class="material-icons">home</i>
              <span>My Cloud</span>
            </a>

            <a href="/settings" class="dropdown-item">
              <i class="material-icons">settings</i>
              <span>Settings</span>
            </a>

            <a href="/settings/subscription" class="dropdown-item">
              <i class="material-icons">credit_card</i>
              <span>Subscription</span>
            </a>

            <div class="dropdown-divider"></div>

            {% if user.is_superuser %}
            <a href="/admin" class="dropdown-item">
              <i class="material-icons">security</i>
              <span>Admin</span>
            </a>
            {% endif %}

            <a href="{% url 'oauth:logout' %}" class="dropdown-item">
              <i class="material-icons">exit_to_app</i>
              <span>Sign Out</span>
            </a>

          </div>

        </div>
        {% else %}
        <div class="navbar-login-wrapper">
          <a href="{% url 'oauth:login' %}" class="btn btn-transparent btn-nav login-button">Login</a>
          <a href="#" class="btn btn-primary ">Join <span class="d-none d-lg-inline-block">Blender Cloud</span></a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>




  {% block jumbotron %}{% endblock jumbotron %}


  {% block secondary_nav %}{% endblock secondary_nav %}
  {% comment %} <div class="navbar-secondary">
    <div class="content-holder">
      <div class="container-xl">
        <div class="list-group list-group-flush list-group-horizontal small">

        </div>
      </div>
    </div>
  </div> {% endcomment %}

  {% block nav_drawer %}

  <nav class="nav-drawer">
    <div class="nav-drawer-body">
      {% comment %} <div class="px-2 py-2 d-block d-md-none">
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">search</i></span>
          </div><input class="form-control" type="text" placeholder="Search tags and keywords" />
        </div>
      </div> {% endcomment %}
      <div class="navbar-secondary d-md-none">
        <div class="navdrawer-offset">
          <div class="container-xl">
            <div class="list-group list-group-flush list-group-horizontal px-2">
              <a class="list-group-item" href="{% url 'film-list' %}">Films</a>
              <a class="list-group-item" href="{% url 'training-home' %}">Training</a>
              {% comment %} <a class="list-group-item" href="#">Services</a>{% endcomment %}
              <a class="list-group-item" href="{% url 'post-list' %}">Blog</a>
              <a class="list-group-item" href="/services">Services</a>
              <a class="list-group-item" href="/admin">Login</a>
              <a class="list-group-item search" href="{% url 'search' %}">
                <i class="material-icons icon-inline">search</i>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% block nav_drawer_inner %}
      {% endblock nav_drawer_inner %}
    </div>
  </nav>

  {% endblock nav_drawer %}

  <div class="content-holder navdrawer-offset">
    {% block breadcrumbs %}{% endblock breadcrumbs %}
    {% comment %} <nav class="navbar-secondary" aria-label="breadcrumbs">
      <div class="content-holder">
        <div class="container-xl">

        </div>
      </div>
    </nav> {% endcomment %}

    {% block content %}{% endblock content %}
  </div>
  {% block footer %}
  <footer class="bg-navigation py-4">
    <div class="navdrawer-offset">
      <div class="container-xl">
        <div class="row">
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
            <a href="#">
              <img src="{% static 'common/images/blender_cloud_logo.svg' %}" alt="Blender Cloud" class="mb-2">
            </a>
            <p class="text-muted x-small">Blender Cloud is the creative hub for your projects, powered by
              Free
              and Open Source Software.</p>
            <div class="footer-social-media">
              <a href="#" class="mr-3">
                <img alt="Facebook Logo" src="{% static 'common/images/icons/facebook.svg' %}">
              </a>
              <a href="#" class="mr-3">
                <img alt="Twitter Logo" src="{% static 'common/images/icons/twitter.svg' %}">
              </a>
              <a href="#">
                <img alt="YouTube Logo" src="{% static 'common/images/icons/youtube.svg' %}">
              </a>
            </div>
          </div>
          <div class="col-md-8 offset-lg-1">
            <div class="row text-white">
              <div class="col-md-3 col-6"><a href="{% url 'training-home' %}" class="h3 text-white">Training</a>
                <ul>
                  <li>
                    <a href="#" class="small text-white">Courses</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Workshops</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Production Lessons</a>
                  </li>
                </ul><a href="{% url 'film-list' %}" class="h3 text-white">Films</a>
              </div>
              <div class="col-md-3 col-6"><a href="#" class="h3 text-white">Libraries</a>
                <ul>
                  <li>
                    <a href="#" class="small text-white">HDRIs</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Textures</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Characters</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Art Gallery</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-6">
                <a href="#" class="h3 text-white">Services</a>
                <ul>
                  <li>
                    <a href="#" class="small text-white">Add-on</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Blender Sync</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Attract</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Flamenco</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Image Sharing</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-6">
                <a href="#" class="h3 text-white">Cloud</a>
                <ul>
                  <li>
                    <a href="{% url 'post-list' %}" class="small text-white">Blog</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Terms &amp; Conditions</a>
                  </li>
                  <li>
                    <a href="#" class="small text-white">Privacy Policy</a>
                  </li>
                </ul>
                <a href="#" class="small text-white">Blender.org</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}

  <div id="file-modal" class="modal modal-asset" tabindex="-1" role="dialog" aria-hidden="true">
    {# This is the modal div, the contents from "modal_asset.html" are inserted here. #}
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div id="file-zoom-modal" class="modal modal-asset-zoom" tabindex="-1" role="dialog" aria-hidden="true">
    {# This is the zoom modal div, the contents from "modal_asset_zoom.html" are inserted here. #}
  </div>

  <div id="videoModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <button class="modal-navigation modal-close btn btn-icon btn-lg" data-dismiss="modal">
      <i class="material-icons btn-material-icons">close</i>
    </button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-body p-0">
          <div class="embed-responsive embed-responsive-16by9 js-youtube-embed">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
