{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid jumbotron-overlay overlay-wide-content jumbotron header mb-4">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{% static "common/images/home/sf-background.jpg" %}">
    <!-- TODO(Mike): Impliment image sets when flat-pages are done. -->
    {% comment %}
    {% include "common/components/helpers/image_set.html" with classes="jumbotron-bg" img_source=XXX xsmall_width="576" small_width="758" medium_width="992" large_width="1200" xlarge_width="1920" %}
    {% endcomment %}
  </div>
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="jumbotron-body">
          <p class="mb-2"><span class="badge badge-primary mr-2">New</span><span class="subtitle">Open Movie Announcement</span>
          </p>
          <img class="mb-2 film-logo" src="{% static "common/images/home/sf-logo.png" %}">
          <p class="mb-3">Blender Studio’s 13th open movie will be an 80’s-inspired horror comedy, set in Britain: When a group of rowdy teenagers trek into an isolated forest, they discover peaceful mushroom creatures that turn out to be an unexpected force of nature.</p>
          <a href="blog/announcing-sprite-fright-a-horror-comedy" class="btn btn-primary">Read the Blog Post</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-xl">


  <!-- Recently watched -->
  {% if recently_watched_sections %}
  {% include 'training/components/continue_training_carousel.html' %}
  {% endif %}

  <section class="mb-4">

    <div class="row justify-content-center mb-2">
      <div class="col">
        <h2 class="mb-0">Latest Blog Posts</h2>
        <p class="mb-0">Hear the latest news about the Blender Cloud right here.</p>
      </div>
      <div class="col-md-auto d-none d-md-block carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if latest_posts|length <= 1 %}onlyOne{% elif latest_posts|length <= 4 %} lessThanFour {% endif %}"
          href="#latestPosts" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if latest_posts|length <= 1 %}onlyOne{% elif latest_posts|length <= 4 %} lessThanFour {% endif %}"
          href="#latestPosts" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="latestPosts" class="carousel carousel-card-3 slide w-100" data-touch="true" data-ride="carousel"
        data-interval="0">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            {% for post in latest_posts|slice:':1' %}
            {% include 'blog/card_blog.html' %}
            {% endfor %}
          </div>
          {% for post in latest_posts|slice:'1:6' %}
          <div class="carousel-item">
            {% include 'blog/card_blog.html' %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row d-block d-md-none">
      <div class="col-md-auto carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if latest_posts|length <= 1 %}onlyOne{% elif latest_posts|length <= 4 %} lessThanFour {% endif %}"
          href="#latestPosts" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if latest_posts|length <= 1 %}onlyOne{% elif latest_posts|length <= 4 %} lessThanFour {% endif %}"
          href="#latestPosts" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </section>

  <section class="mb-4">

    <div class="row justify-content-center mb-2">
      <div class="col-md">
        <h2 class="mb-0">Latest Training</h2>
        <p class="mb-0">Want to see more? <a href="/training">Explore all training</a></p>
      </div>
      <div class="col-md-auto d-none d-md-block carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_trainings|length <= 1 %}onlyOne{% elif featured_trainings|length <= 4 %} lessThanThree {% endif %}"
          href="#continueLearning" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_trainings|length <= 1 %}onlyOne{% elif featured_trainings|length <= 4 %} lessThanThree {% endif %}"
          href="#continueLearning" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>

    <div class="row">
      <div id="continueLearning" class="carousel carousel-card-3 slide w-100" data-touch="true" data-ride="carousel"
        data-interval="0">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            {% for training in featured_trainings|slice:':1' %}
            {% include "common/components/cards/card_training.html" with training=training card_sizes="col-12 col-sm-6 col-lg-4" %}
            {% endfor %}
          </div>
          {% for training in featured_trainings|slice:'1:6' %}
          <div class="carousel-item">
            {% include "common/components/cards/card_training.html" with training=training card_sizes="col-12 col-sm-6 col-lg-4" %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row d-block d-md-none">
      <div class="col-md-auto carousel-card-toolbar">
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_trainings|length <= 1 %}onlyOne{% elif featured_trainings|length <= 4 %} lessThanFour {% endif %}"
          href="#continueLearning" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="btn btn-lg btn-transparent btn-icon {% if featured_trainings|length <= 1 %}onlyOne{% elif featured_trainings|length <= 4 %} lessThanFour {% endif %}"
          href="#continueLearning" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <div class="row justify-content-center mb-3">
      <div class="col-md-6 text-center">
        <h2 class="mb-0">Featured Open Movies</h2>
        <p class="mb-0">The Blender <a href="/films">Open Movie projects</a> are made possible by subscriptions to the
          Blender Cloud.</p>
      </div>
    </div>
    <div class="row">
      {% for film in featured_films|slice:':3' %}
      {% include "films/components/card_film.html" with film=film %}
      {% endfor %}
    </div>
  </section>

  {% include 'common/components/cards/archive_carousel.html' %}

</div>

{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}
