{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="container-xl py-3">
  <section>

    <div class="row mb-3">
      <div class="col">
        {% include 'common/components/cards/card_jumbotron.html' with img="static/common/images/welcome/coffee-run-background.png" title="Coffee Run" subtitle="Open Movie" description="Coffee Run was directed by Hjalti Hjalmarsson and produced by the team at Blender Animation Studio.</p><p>Fueled by caffeine, a young woman runs through the bittersweet memories of her past relationship."  %}
      </div>
    </div>

    {% include 'common/components/home_grid.html' %}

  </section>
</div>

<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });

  $grid.imagesLoaded().progress(function () {
    $grid.masonry('layout');
  });
</script>

{% endblock content %}
