<div class="row mb-3">
  <div class="col-auto">
    <div class="row">
      <div style="background-image:url('{{ post.author.image_url }}');" class="profile-image profile ml-2">
      </div>
      <div class="col-auto">
        <p class="profile-name h4 mb-0">{{ post.author.full_name }}</p>
        <p class="profile-title subtitle text-white-50 x-small">
          {{ user_film_role|default_if_none:"Author" }}
        </p>
      </div>
    </div>
  </div>

  <div class="file-toolbar col-auto col-sm">

    <button data-like-url="{{ post.like_url }}"
      class="btn btn-transparent btn-sm btn-icon comment-material-button checkbox-like {% if not user.is_authenticated %}disabled{% endif%}"
      {% if not user.is_authenticated %}disabled{% endif%} {% if post.liked %}data-checked="checked" {% endif %}>
      <i class="material-icons checkbox-like-icon-checked text-primary">favorite</i>
      <i class="material-icons checkbox-like-icon-unchecked">favorite_border</i>
      {% if post.likes.count != 0 %}<span class="likes-count">{{ post.likes.count }}</span>{% endif %}
    </button>

    {% comment %}
      <a href="http://www.facebook.com/share.php?u=cloud.blender.org/blog/{{ post.post.slug }}"
        class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">facebook</i>
      </a>
    {% endcomment %}

    {% comment %}
      <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">share</i>
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item copy-url-clipboard">
          <i class="material-icons">link</i>
          <span>Copy link</span>
        </button>
        <a href="http://www.facebook.com/share.php?u=cloud.blender.org/blog/{{ post.post.slug }}" target="_blank"
          class="dropdown-item">
          <i class="material-icons">facebook</i>
          <span>Share to Facebook</span>
        </a>
      </div>
    {% endcomment %}

    {% if user_can_edit_post %}
      <a href="{{ post.admin_url }}" class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">edit</i>
      </a>
    {% endif %}

    <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
      <i class="material-icons">more_horiz</i>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <a href="https://developer.blender.org/maniphest/task/edit/form/15/" target="_blank" class="dropdown-item">
        <i class="material-icons">flag</i>
        <span>Report Problem</span>
      </a>
    </div>

  </div>
</div>
