{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-blog">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{{ post.thumbnail.url }}">
    <!-- TODO(Mike): Impliment image sets when flat-pages are done. -->
  </div>
</div>


<section class="container-blog mt-3 mb-4">
  <p class="subtitle">{{ post.topic }}</p>
  <h1 class="">{{ post.title }}</h1>
  <p class="subtitle small mb-3">{{ post_date_created|date:"jS M Y" }}</p>
  <div class="training-toolbar-container mb-3">
    <div class="training-toolbar-details row">
      <div style="background-image:url('{% static 'common/images/blank-profile-pic.jpg' %}');"
        class="profile-image profile ml-2">
      </div>
      <div class="col-auto">
        <h4 class="profile-name mb-0">{{ post_author }}</h4>
        <p class="profile-title subtitle text-white-50 x-small">Author</p>
      </div>
    </div>

    <div class="file-toolbar">

      <a class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">favorite_border</i>
        <span class="likes-count">1</span>
      </a>

      {% comment %} TODO(Mike): Add working share buttons {% endcomment %}
      <a href="http://www.facebook.com/share.php?u=studiobeta.blender.org/blog/{{ post.post.slug }}"
        class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">facebook</i>
      </a>

      <a href="#" class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">share</i>
      </a>

      {% if user_can_edit_post %}
      <a href="{{ post.admin_url }}" class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">edit</i>
      </a>
      {% endif %}

      <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
        <i class="material-icons">more_horiz</i>
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <a href="google.com" class="dropdown-item">
          <i class="material-icons">flag</i>
          <span>Report Problem</span>
        </a>

      </div>

    </div>

  </div>


  <div class="mb-3">

  </div>
  <div>{{ post.html_content|safe }}</div>

  <section class="mb-3">{% include 'comments/components/comment_section.html' %}</section>

</section>


{% endblock %}
