{% extends 'common/base.html' %}

{% block content %}

<div class="container-xl pt-4">
  {% include "common/components/simple_header.html" with title="Blog" subtitle="Follow the latest updates from the Blender Cloud." %}

  <div class="row">
    {% for post in posts %}
      {% include 'blog/card_blog.html' %}
    {% endfor %}

  </div>

</div>

<script>
  // Humanizes dates
  document.querySelectorAll('.date').forEach( i => {
    i.textContent = timeDifference(epochToDate(i.textContent));
  });
</script>

{% endblock content %}
