{% load static %}

</div>
<div class="jumbotron jumbotron-overlay jumbotron-inline overlay-flipped header my-4 mx-md-n4">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{% static "common/images/welcome/dweebs-bg.png" %}">
  </div>
  <div class="row">
    <div class="col-md-7 col-lg-6 offset-md-5 offset-lg-6">
      <div class="jumbotron-body">
        <h2>Subscribe to Blender Cloud today</h2>
        <p class="mb-4">Join Blender Cloud and get access to hundreds of hours of training, production assets and files
          from the Open Movies. All on a platform that lets you learn at your own pace, in your own time.</p>
        <a href="https://store.blender.org/product/membership/" target="_blank" class="btn btn-primary">Subscribe
          for €9.90/month</a>
      </div>
    </div>
  </div>
</div>
<div class="markdown-text">
