{% if link %}
  {% if link == 'self' %}
  <a class="expand-image-links" href="{{ static_asset.thumbnail_m_url }}">
    <img class="img-fluid" src="{{ static_asset.thumbnail_m_url }}" alt="{{ static_asset.original_filename }}"/>
  </a>
  {% else %}
    <a href="{{ link }}" target="_blank">
      <img class="img-fluid" src="{{ static_asset.thumbnail_m_url }}" alt="{{ static_asset.original_filename }}"/>
    </a>
  {% endif %}

{% else %}
  <img class="img-fluid blog-image{% if class %} {{ class }}{% endif %}" src="{{ static_asset.thumbnail_m_url }}" alt="{{ static_asset.original_filename }}" />
{% endif %}
