{% if is_processing %}
<p>Content is processing</p>
{% else %}
{% if caption %}
{% if link %}
{% if link == 'self' %}

<figure class="figure blog-video {{ class }}">
  {% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}

  <figcaption class="figure-caption">{{ caption }} <a href="{{ static_asset.source.url }}" target="_blank">[File]</a>
  </figcaption>
</figure>

{% else %}

<figure class="figure blog-video {{ class }}">

  {% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}

  <figcaption class="figure-caption">{{ caption }} <a href="{{ link }}" target="_blank">[ View File ]</a></figcaption>
</figure>

{% endif %}

{% else %}
<figure class="figure blog-video {{ class }}">
  {% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}
  <figcaption class="figure-caption">{{ caption }}</figcaption>
</figure>
{% endif %}
{% else %}

{% firstof class|default:""|add:" img-fluid blog-video" as classes %}
{% if link %}
{% if link == 'self' %}
<figure class="figure blog-video {{ class }}">

  {% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}

  <figcaption class="figure-caption"><a href="{{ static_asset.source.url }}" target="_blank">[ View File ]</a></figcaption>
</figure>
{% else %}
<figure class="figure blog-video {{ class }}">

  {% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}

  <figcaption class="figure-caption"><a href="{{ link }}" target="_blank">[ View File ]</a></figcaption>
</figure>
{% endif %}

{% else %}

{% include 'common/components/video_player.html' with url=static_asset.video.default_variation_url poster=static_asset.thumbnail_m_url rounded=True %}
{% endif %}

{% endif %}

{% endif %}






