{% if caption %}
  <figure class="figure blog-image {% if zoom %}image-zoom-wrapper{% endif %} {{ class }}">
    {% if link %}
      <a href="{% if link == 'self'%}{{ static_asset.source.url }}{% else %}{{ link }}{% endif%}" target="_blank">
        {% include "common/components/helpers/image_set.html" with alt=caption classes=classes img_source=static_asset.source xsmall_width="600" small_width="740" medium_width="740" large_width="940" xlarge_width="940" %}
      </a>
    {% else %}
      {% include "common/components/helpers/image_set.html" with alt=caption classes=classes img_source=static_asset.source xsmall_width="600" small_width="740" medium_width="740" large_width="940" xlarge_width="940" %}
    {% endif %}
    {% if zoom %}
      <button class="btn btn-darkhighlight-xstrong btn-sm btn-icon image-zoom" data-image="{{ static_asset.source.url }}">
        <i class="material-icons btn-material-icons">zoom_in</i>
      </button>
    {% endif %}
    <figcaption class="figure-caption">{{ caption }}</figcaption>
  </figure>
{% else %}
  {% if link %}
    <div class="image-zoom-wrapper blog-image {{ class }}">
      <a href="{% if link == 'self'%}{{ static_asset.source.url }}{% else %}{{ link }}{% endif%}" target="_blank">
        {% include "common/components/helpers/image_set.html" with alt=static_asset.original_filename classes=classes img_source=static_asset.source xsmall_width="600" small_width="740" medium_width="740" large_width="940" xlarge_width="940" %}
      </a>

      {% if zoom %}
        <button class="btn btn-darkhighlight-xstrong btn-sm btn-icon image-zoom" data-image="{{ static_asset.source.url }}">
          <i class="material-icons btn-material-icons">zoom_in</i>
        </button>
      {% endif %}
    </div>
  {% else %}
    <div class="image-zoom-wrapper blog-image {{ class }}">
      {% include "common/components/helpers/image_set.html" with alt=static_asset.original_filename classes=classes img_source=static_asset.source xsmall_width="600" small_width="740" medium_width="740" large_width="940" xlarge_width="940" %}
      {% if zoom %}
        <button class="btn btn-darkhighlight-xstrong btn-sm btn-icon image-zoom" data-image="{{ static_asset.source.url }}">
          <i class="material-icons btn-material-icons">zoom_in</i>
        </button>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
