@import "common/static/common/styles/cloud/mixins/buttons";
@import "common/static/common/styles/cloud/variables";

.card-training {
  .checkbox-favorite {
    @include button-variant($secondary, $secondary);

    .checkbox-favorite-icon-unchecked {
      display: initial;
    }

    .checkbox-favorite-icon-checked {
      display: none;
    }

    &[data-checked] {
      @include button-variant($primary, $primary);

      .checkbox-favorite-icon-unchecked {
        display: none;
      }

      .checkbox-favorite-icon-checked {
        display: initial;
      }

      &:hover {
        text-decoration: initial;
      }
    }

    &:hover {
      text-decoration: initial;
    }
  }
}
