[Unit]
Description=Clear expired sessions by calling a management command

[Service]
Type=oneshot
User=www-data
Group=www-data
ExecStart=/var/www/venv/bin/python /var/www/blender-studio/manage.py clearsessions
StandardError=syslog
