{% extends 'common/base.html' %}

{% block nav_drawer_inner %}
  {% include 'users/settings/tabs.html' %}
{% endblock nav_drawer_inner %}

{% block bodyclasses %}spacer{% endblock bodyclasses %}

{% block content %}
  <div class="container-xxl my-3">
    <div class="row">
      <div class="d-none d-md-block col-md-3">
        <nav class="nav-drawer-nested">
          <div class="nav-drawer-body fw-bold">

            <div class="drawer-nav-header">
              <h2>Settings</h2>
            </div>

            {% include 'users/settings/tabs.html' %}
          </div>
        </nav>
      </div>
      <div class="col-md-9">
        {% block settings%}
        {% endblock settings %}
      </div>
    </div>
  </div>
{% endblock content %}
