{% extends 'users/settings/base.html' %}
{% load common_extras %}
{% load waffle_tags %}
{% load looper %}

{% block settings %}
  {% show_new_subscription_billing as show_new_subscription_billing_ %}

  <p class="subtitle">Settings</p>
  <h1 class="mb-0">Subscription{% if show_new_subscription_billing_ and not user|has_group:"demo" and user.subscription_set.count %} #{{ user.subscription_set.first.pk }}{% endif %}</h1>
  <p class="mb-2 subtitle">If you have any problems with billing, contact the team directly on <a href="mailto:cloudsupport@blender.org">cloudsupport@blender.org</a>.</p>

  <div class="settings-billing">

    {% if user|has_group:"demo" %}

      <div class="row mb-3">
        <div class="col">
          <h2 class="mb-0">Manage Subscription</h2>
          <p>
            You have full access to the Blender Cloud, provided by the Blender Institute. This account is meant for
            free evaluation of the service. Get in touch with <a href="mailto:{{ ADMIN_MAIL }}">{{ ADMIN_MAIL}}</a> if you
            have any questions.
          </p>
        </div>
      </div>

    {% else %}{# for everyone except demo #}
      <div class="row">
        <div class="col">


          {# **Do not** rearrange the ifs, unless the logic is obviously broken. #}
          {% if show_new_subscription_billing_ %}
            {% include "subscriptions/components/manage.html" %}

          {% elif user|has_active_subscription %}
            {# they don't have new-kind-of-subscription, this must be coming from Store #}
            <p>If you want to change or cancel your billing, visit the <a target="_blank"
              href="{{ STORE_MANAGE_URL }}">Blender Store</a>.</p>

          {% else %}
            <p>
              If you want to subscribe to Blender Cloud visit the
              <a target="_blank" href="{{ STORE_PRODUCT_URL }}">Blender Store</a>.
            </p>
          {% endif %}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock settings %}
