{% load waffle_tags %}
<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings'%}">
    <i class="material-icons mr-2">person</i>
    <span>Profile</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-emails' %}">
    <i class="material-icons mr-2">email</i>
    <span>Emails</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-billing' %}">
    <i class="material-icons mr-2">credit_card</i>
    <span>Subscription</span>
  </a>
</div>

{% flag "SUBSCRIPTIONS_ENABLED" and user.subscription_set.count %}
  <div class="drawer-nav-list-wrapper collapse show">
    <ol class="drawer-nav-list">

      <li class="drawer-nav-section">
        <a href="{% url 'subscriptions:billing-address' %}" class="drawer-nav-section-link " data-tooltip="tooltip-overflow" data-placement="top" title="" data-original-title="">
          <h4 class="overflow-text">Billing addresss</h4>
        </a>
      </li>

      <li class="drawer-nav-section">
        <a href="{% url 'subscriptions:receipts' %}" class="drawer-nav-section-link " data-tooltip="tooltip-overflow" data-placement="top" title="" data-original-title="">
          <h4 class="overflow-text">Receipts</h4>
        </a>
      </li>

      <li class="drawer-nav-section">
        <a href="{% url 'looper:payment_methods' %}" class="drawer-nav-section-link " data-tooltip="tooltip-overflow" data-placement="top" title="" data-original-title="">
          <h4 class="overflow-text">Payment methods</h4>
        </a>
      </li>
    </ol>
  </div>
{% endflag %}

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="/settings/roles">
    <i class="material-icons mr-2">settings</i>
    <span>Roles &amp; Capabilities</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-delete' %}">
    <i class="material-icons mr-2">delete</i>
    <span>Delete account</span>
  </a>
</div>
