<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings'%}">
    <i class="material-icons mr-2">person</i>
    <span>Profile</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-emails' %}">
    <i class="material-icons mr-2">email</i>
    <span>Emails</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-billing' %}">
    <i class="material-icons mr-2">credit_card</i>
    <span>Subscription</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="/settings/roles">
    <i class="material-icons mr-2">settings</i>
    <span>Roles &amp; Capabilities</span>
  </a>
</div>

<div class="drawer-nav-dropdown-wrapper font-weight-bold">
  <a class="drawer-nav-dropdown" href="{% url 'user-settings-delete' %}">
    <i class="material-icons mr-2">delete</i>
    <span>Delete account</span>
  </a>
</div>
