<nav class="nav-drawer nested">
  <div class="nav-drawer-body font-weight-bold">

    <div class="drawer-nav-header">
      <h2>Settings</h2>
    </div>

    <div class="drawer-nav-dropdown-wrapper">
      <a class="drawer-nav-dropdown" href="{% url 'user-settings'%}">
        <i class="material-icons mr-2">person</i>
        <span>Profile</span>
      </a>
    </div>

    <div class="drawer-nav-dropdown-wrapper">
      <a class="drawer-nav-dropdown" href="{% url 'user-settings-emails' %}">
        <i class="material-icons mr-2">email</i>
        <span>Emails</span>
      </a>
    </div>

    <div class="drawer-nav-dropdown-wrapper">
      <a class="drawer-nav-dropdown" href="{% url 'user-settings-billing' %}">
        <i class="material-icons mr-2">credit_card</i>
        <span>Subscription</span>
      </a>
    </div>

    <div class="drawer-nav-dropdown-wrapper">
      <a class="drawer-nav-dropdown" href="/settings/roles">
        <i class="material-icons mr-2">settings</i>
        <span>Roles &amp; Capabilities</span>
      </a>
    </div>


  </div>
</nav>
