<a href="{% if action.action_object %}{% firstof action.action_object.get_absolute_url action.action_object_url %}{% else %}{{ action.target.get_absolute_url }}{% endif %}"
  class="list-group-item activity-list-item {% if notification and not notification.date_read %}unread{% endif %}"
  {% if notification %} data-mark-read-url="{{ notification.mark_read_url }}"
    data-is-read={% if notification.date_read %}"true"{% else %}"false"{% endif %} {% endif %}>
  <span class="name">
    <span style="background-image: url({{ action.actor.image_url }});" class="profile col-profile"></span>
    {% if action.actor %}
      {% if action.actor == request.user %}
        You
      {% else %}
        {% firstof action.actor.full_name action.actor.username %}
      {% endif %}
    {% else %}
      Someone
    {% endif %}
  </span>
  <span class="text">
    {{ action.verb|capfirst }}
    {% if action.action_object %}
      {% if action.action_object.user == user and user != action.actor %}
        your {{ action.action_object_content_type.name|lower }}
      {% elif action.action_object.user != action.actor %}
        {{ action.action_object }}
      {% endif %}
    {% endif %}
    {% if action.action_object and action.target %}
      on {{ action.target }}
    {% else %}
      {{ action.target }}
    {% endif %}
  </span>
  <span class="date">{{ action.timestamp|date:"U" }}</span>
</a>
