{% load static %}

<div class="row comment" data-comment-id="{{ comment.id }}" data-profile-image-url="{{ comment.profile_image_url }}"
  data-like-url="{{ comment.like_url }}" {% if comment.edit_url is not None %}data-edit-url="{{ comment.edit_url }}"
  {% endif %} {% if comment.delete_url is not None %}data-delete-url="{{ comment.delete_url }}" {% endif %}>
  <div class="col comment-content">
    <div class="row comment-content-inner">
      <div class="comment-body col">
        <div class="comment-name-date-wrapper">
          <div style="background-image:url('{% static 'common/images/blank-profile-pic.jpg' %}');"
            class="profile col-profile"></div>
          <h4 class="comment-name">{{ comment.full_name }}</h4>
          <p class="comment-date">{{ comment.date|date:"jS F Y - H:i" }}</p>
        </div>
        <p class="comment-text">{{ comment.message }}</p>

        {% if not comment.is_deleted %}
        <div class="comment-toolbar row">
          <div class="col d-flex align-items-center">

            <button class="btn btn-dark btn-xs comment-material-button checkbox-like"
              {% if comment.liked %}data-checked="checked" {% endif %}>
              <i class="material-icons checkbox-like-icon-checked text-primary">favorite</i>
              <i class="material-icons checkbox-like-icon-unchecked">favorite_border</i>
              <span class="comment-likes-count">{{ comment.likes }}</span>
            </button>

            <button class="btn btn-dark btn-xs comment-action comment-reply">Reply</button>

            <button class="btn btn-dark btn-xs btn-icon comment-material-button comment-dropdown"
              data-toggle="dropdown">
              <i class="material-icons">more_horiz</i>
            </button>
            <div class="dropdown-menu">

              <a href="" class="dropdown-item comment-edit">
                <i class="material-icons">create</i>
                <span>Edit</span>
              </a>

              <a href="" class="dropdown-item comment-delete">
                <i class="material-icons">delete</i>
                <span>Delete</span>
              </a>

              <a href="" class="dropdown-item comment-report">
                <i class="material-icons">flag</i>
                <span>Report</span>
              </a>

              {% if request.user.is_staff %}
              <!-- TODO(Mike): Make admin controlls work -->
              <a href="" class="dropdown-item">
                <i class="material-icons">delete</i>
                <span>Admin Delete Tree</span>
              </a>

              <a href="" class="dropdown-item">
                <i class="material-icons">delete</i>
                <span>Admin Delete Comment</span>
              </a>
              {% endif %}
            </div>



            {% comment %} <a href="" class="btn btn-dark btn-ctrl-xs comment-action comment-edit">Edit</a>
            <a href="" class="btn btn-dark btn-ctrl-xs comment-action comment-delete">Delete</a> {% endcomment %}
          </div>

        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-12 comment-edit-inputs">
  </div>
  <div class="col-md-12 comment-reply-inputs">
  </div>
  <div class="col-md-12 replies">
    <div class="comments">
      {% if c.replies %}
      {% include 'comments/components/comment_tree.html' with comment_trees=c.replies %}
      {% endif %}
    </div>
  </div>
</div>
