<div class="row">
  <div class="col text-danger">
    {{ form.non_field_errors }}
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    {% with field=form.full_name %}
      {% include "common/components/field_label_wrapped.html" %}
    {% endwith %}
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    {% with field=form.email %}
      {% include "common/components/field_label_wrapped.html" %}
    {% endwith %}
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    {% with field=form.country %}
      {% include "common/components/field_label_wrapped.html" %}
    {% endwith %}
  </div>
</div>


{# Make sure the rest of the address is expanded if any of its fields are filled #}
<div class="collapse {% if form.postal_code.value or form.street_address.value or form.city.value or form.extended_address.value or form.region.value or form.locality.value or form.company.value or form.vat_number.value %}show{% endif %}" id="collapseCompany">

  <div class="row mb-2">
    <div class="col-12">
      {% with field=form.street_address %}
        {% include "common/components/field_label_wrapped.html" with collapse_link=True collapse_link_target="collapseExtendedAddress" collapse_link_text="extended address" collapse_field=form.extended_address %}
      {% endwith %}
    </div>
  </div>

  {% with field=form.extended_address %}
    <div class="collapse {% if field.value %}show{% endif %}" id="collapseExtendedAddress">
      <div class="row">
        <div class="col-12 mb-2 x-extended-address">
          {% include "common/components/field_label_wrapped.html" %}
        </div>
      </div>
    </div>
  {% endwith %}
  {% with field=form.region %}
    <div class="row mb-2">

      <div class="col">
        {% include "common/components/field_label_wrapped.html" %}
      </div>

    </div>
  {% endwith %}
  <div class="row mb-2">
    <div class="col">
      {% with field=form.locality %}
        {% include "common/components/field_label_wrapped.html" %}
      {% endwith %}
    </div>
    <div class="col">
      {% with field=form.postal_code %}
        {% include "common/components/field_label_wrapped.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      {% with field=form.vat_number %}
        {% include "common/components/field_label_wrapped.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      {% with field=form.company %}
        {% include "common/components/field_label_wrapped.html" %}
      {% endwith %}
    </div>
  </div>

</div>

{% with field=form.vat_number%}
  <div class="row">
    <div class="col text-center mb-2">
      <a class="small subtitle-light text-decoration-underline" data-bs-toggle="collapse" href="#collapseCompany" role="button"
        aria-expanded="false" aria-controls="collapseCompany"><span
          class="add-remove">{% if form.postal_code.value or form.street_address.value or form.city.value or form.extended_address.value or form.region.value or form.locality.value or form.company.value or form.vat_number.value %}Remove{% else %}Add{% endif %}</span>
        billing and VAT details (optional)</a>
    </div>
  </div>
{% endwith %}
