<div class="subtitle small">
  <div>
    <span class="fw-bold-child">
      {% with field=form.full_name %}
        {{ field.value }}
        {{ field.as_hidden }}
      {% endwith %}
    </span>

    {% with field=form.company %}
      <div class="{% if not field.value %}d-none{% endif %}">
        {{ field.value }}
        {{ field.as_hidden }}
      </div>
    {% endwith %}
  </div>
  <div>
    {% with field=form.email %}
      {{ field.value }}
      {{ field.as_hidden }}
    {% endwith %}
  </div>



  <div>
    {% with field=form.street_address %}
      {{ field.value }}
      {{ field.as_hidden }}
    {% endwith %}

    {% with field=form.extended_address %}
      <div class="{% if not field.value %}d-none{% endif %}">
        {{ field.value }}
        {{ field.as_hidden }}
      </div>
    {% endwith %}
  </div>

  <div>
    {% with field=form.postal_code %}
      {{ field.value }}
      {{ field.as_hidden }}
    {% endwith %}

    {% with field=form.region %}
      <span class="{% if not field.value %}d-none{% endif %}">
        {{ field.value }}
        {{ field.as_hidden }}
      </span>
    {% endwith %}

    {% with field=form.locality %}
      {{ field.value }}
      {{ field.as_hidden }}
    {% endwith %}
    {% with field=form.country %}
      {{ field.value }}
      {{ field.as_hidden }}
    {% endwith %}
  </div>



  <div>
    {% with field=form.vat_number %}
      <div class="{% if not field.value %}d-none{% endif %}">
        VATIN: {{ field.value }}
        {{ field.as_hidden }}
      </div>
    {% endwith %}
  </div>
</div>
