{% load looper %}
{% load subscriptions %}
{% get_taxable current_plan_variation.price current_plan_variation.plan.product.type as current_price %}
<div class="selected-plan-variation-details">
  <div class="row">
    <div class="col">
      <h4 class="mb-0">Renewal</h4>
    </div>
    <div class="col text-right">
      {{ current_plan_variation.collection_method|capfirst }}, {{ current_plan_variation|recurring_pricing:current_price.price }}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-bold due-today">
      <h2 class="mb-0">Total</h2>
    </div>
    <div class="col text-right">
      <h2 class="mb-0"><span>{{ current_price.price.with_currency_symbol }}</span></h2>
      <p class="subtitle x-small"><span>{{ current_price.format_tax_amount }}</span></p>
    </div>
  </div>
</div>
