{% load static %}
<div class="jumbotron jumbotron-fluid jumbotron-overlay header">
  <div class="jumbotron-bg-wrapper">
    <img class="jumbotron-bg" src="{% static 'common/images/join/dweebs-wide.png' %}" alt="Cartoon dog eating tasty treats">
  </div>
  <div class="container-xxl">
    <div class="row">
      <div class="col">
        <div class="jumbotron-body">
          <h1 class="mb-0">Subscribe to Blender Studio</h1>
          <p class="mb-0">
            Choose your plan below, you can stop or cancel at any time!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
