{% load subscriptions %}

<table class="table table-receipts">
  <tbody>
    {% for subscription in user.subscription_set.all %}
      <tr>
        <td class="fw-bold">Subscription #{{ subscription.pk }}</td>
        <td>{{ subscription.status }}</td>
        <td><a href="{% url 'subscriptions:manage' subscription_id=subscription.pk %}">Manage</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if user|can_subscribe %}
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-block" href="{% url 'subscriptions:join' %}">Subscribe</a>
    </div>
  </div>
{% endif %}
