<footer class="container-xxl py-2">
  <div class="row ">

    <div class="col-12">
      <div class="row">
        <div class="col-auto">
          <a href="/terms-and-conditions" class="small text-highlight-xstrong">Terms &amp; Conditions</a>
        </div>
        <div class="col-auto">
          <a href="/privacy" class="small text-highlight-xstrong">Privacy Policy</a>
        </div>
        <div class="col-auto">
          <a href="https://www.blender.org/" target="_blank" class="small text-highlight-xstrong">Blender.org</a>
        </div>
      </div>
    </div>
  </div>
</footer>
