{% load static %}
{% load common_extras %}

<footer class="pb-3 container-xl">
  <div class="navdrawer-offset">
    <div class="footer-inner">
      <div class="row">

        <div class="col-lg-3 col-md-4 mb-4 mb-md-0 justify-content-center align-items-center d-flex flex-column text-center">

          <a href="/" class="text-white">
            <h1 class="mb-2 h2 text-uppercase">Blender Studio</h1>
          </a>

          <p class="text-muted x-small">The Creators Who Share.</p>

          <div class="footer-social-media">
            <a href="https://www.facebook.com/BlenderStudioOfficial/" target="_blank" class="mr-3">
              <img alt="Facebook Logo" src="{% static 'common/images/icons/facebook.svg' %}">
            </a>
            <a href="https://twitter.com/Blender_Cloud" target="_blank" class="mr-3">
              <img alt="Twitter Logo" src="{% static 'common/images/icons/twitter.svg' %}">
            </a>
            <a href="https://www.youtube.com/channel/UCz75RVbH8q2jdBJ4SnwuZZQ" target="_blank">
              <img alt="YouTube Logo" src="{% static 'common/images/icons/youtube.svg' %}">
            </a>
          </div>

        </div>

        <div class="col-md-8 offset-lg-1">
          <div class="row text-white">

            <div class="col-md-3 col-6">
              <ul class="subtitle">
                <li class="mb-2">
                  <a href="{% url 'film-list' %}" class="h3 text-white">Films</a>
                </li>
                <li class="mb-2">
                  <a href="{% url 'training-home' %}" class="h3 text-white">Training</a>
                </li>
                <li class="mb-2">
                  <a href="{% url 'post-list' %}" class="h3 text-white">Blog</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <a href="/tools" class="h3 text-white">Tools</a>
              <ul class="mb-0">
                <li>
                  <a href="https://gitlab.com/blender/CloudRig" class="small subtitle" rel="nofollow" target="_blank">Cloud Rig</a>
                </li>
                <li>
                  <a href="https://cloud.blender.org/services" class="small subtitle" rel="nofollow" target="_blank">Blender Cloud Services</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <a href="https://cloud.blender.org/p/characters/" rel="nofollow" target="_blank" class="h3 text-white">Characters</a>
              <ul>
                <li>
                  <a href="https://cloud.blender.org/p/characters/5f1ed640e9115ed35ea4b3fb" rel="nofollow" target="_blank" class="small subtitle">Rain</a>
                </li>
                <li>
                  <a href="https://cloud.blender.org/p/characters/5d41b19f28b38e1763906a9a" rel="nofollow" target="_blank" class="small subtitle">Victor</a>
                </li>
                <li>
                  <a href="https://cloud.blender.org/p/characters/5d41a32b8307e9cd1023fa78" rel="nofollow" target="_blank" class="small subtitle">Sintel</a>
                </li>
                <li>
                  <a href="https://cloud.blender.org/p/characters/5d40511bfe6b50fb62faea7d" rel="nofollow" target="_blank" class="small subtitle">Franck</a>
                </li>

              </ul>
            </div>

            <div class="col-md-3 col-6">
              <a href="/" class="h3 text-white">Studio</a>
              <ul>
                <li>
                  <a href="/terms-and-conditions" class="small subtitle">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a href="/privacy" class="small subtitle">Privacy Policy</a>
                </li>
                <li>
                  <a href="/contact" class="small subtitle">Contact</a>
                </li>
                <li>
                  <a href="/p/gallery/" class="small subtitle">Remixing Music</a>
                </li>
                <li>
                  <a href="https://www.blender.org/" target="_blank" class="small subtitle">Blender.org</a>
                </li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
