<li class="drawer-nav-section">
  <a href="{{ href }}" class="drawer-nav-section-link {% if active %}active{% endif %}" data-tooltip="tooltip-overflow"
    data-placement="top" title="{{ title }}">
    <i class="material-icons mr-2">insert_drive_file</i>
    <h4 class="overflow-text">{{ title }}</h4>
    {% if free %}
    <span class="ml-auto">
      <i class="material-icons icon-inline small text-success ml-1 mr-0" data-toggle="tooltip" data-placement="top" title="Free">lock_open</i>
    </span>
    {% endif %}
  </a>
</li>
