<li class="drawer-nav-section {% if finished %}complete{% endif %}">
  <a href="{{ href }}" class="drawer-nav-section-link {% if active %}active{% endif %}" data-tooltip="tooltip-overflow"
    data-placement="top" title="{{ title }}">
    <div class="nav-drawer-section-progress-wrapper">
      {% comment %} <i class="material-icons">play_arrow</i> {% endcomment %}
      <h5>{{ nth }}</h5>

      {% comment %} TODO(Anna): Fix fraction calculation {% endcomment %}
      <svg width="30" height="30" class="drawer-nav-section-icon-progress"
        style="--progress-fraction: {% if finished %} 1.0 {% else %} {{ progress_fraction }} {% endif %}">
        <circle class="background" cx="15" cy="15" r="12" />
        <circle class="progress" cx="15" cy="15" r="12" />
      </svg>
    </div>
    <p class="overflow-text h4">{{ title }}</p>
    {% if published %}
      {% if free %}
        <span class="ml-auto">
          <i class="material-icons icon-inline small text-success ml-1 mr-0" data-toggle="tooltip" data-placement="top" title="Free">lock_open</i>
        </span>
      {% endif %}
    {% else %}
      <span class="ml-auto">
        <i class="material-icons icon-inline small text-danger ml-1 mr-0" data-toggle="tooltip" data-placement="top" title="Unpublished">visibility_off</i>
      </span>
    {% endif %}
  </a>
</li>
