{% load static %}
{% load common_extras %}
<div class="update-feed">

  {% for production_log in production_logs_page %}
  {% include 'films/components/production_log.html' %}
  {% endfor %}

</div>

{% if production_logs_page.has_next and show_more_button %}
<div class="col text-center">
  <a id="load-more-weeks" data-toggle="collapse" href="#" role="button" aria-expanded="false"
    aria-controls="logs-page-{{ production_logs_page.next_page_number }}"
    data-url="{% url 'api-logs-page' film.id %}?page={{ production_logs_page.next_page_number }}"
    class="btn btn-sm btn-secondary collapsed">Load more weeks</a>
</div>
{% endif %}
