<div class="update-feed">
  {% for production_log in production_logs_page %}
  <div class="update-feed-week">
    <div class="update-feed-week-column column-left">
      <div class="update-feed-week-icon">
        <i class="material-icons">calendar_today</i>
      </div>
    </div>
    <div class="update-feed-week-column column-right">
      <div class="update-feed-week-header">
        {% if production_log.start_date.month == production_log.end_date.month %}
        <p>{{ production_log.start_date|date:'jS' }} - {{ production_log.end_date|date:'jS M' }} </p>
        {% else %}
        <p>{{ production_log.start_date|date:'jS M' }} - {{ production_log.end_date|date:'jS M' }} </p>
        {% endif %}
        <h3>{{ production_log.name }}</h3>
      </div>
      {% if production_log.summary %}
      <div class="update-feed-individual">
        <div class="update-feed-individual-summary">
          <a href="#">
            <img src="{{ production_log.picture_16_9.url }}" alt="production log preview">
          </a>
        </div>
        <div class="update-feed-individual-files">
          <h3>This week on {{ film.title }}</h3>
          {{ production_log.summary | safe | linebreaks }}
        </div>
      </div>
      {% endif %}

      {% for entry in production_log.log_entries.all %}
      <div class="update-feed-individual">
        <div class="update-feed-individual-summary">
          <div class="update-feed-individual-summary-profile">
            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
              class="profile-image profile ml-2">
            </div>
            <div class="col-auto">
              <p class="subtitle text-white-50 x-small">{{ entry.author_role }}</p>
              <h4 class="comment-name">{{ entry.author_name }}</h4>
            </div>
          </div>
          <p class="small">{{ entry.description }}</p>
        </div>
        <div class="update-feed-individual-files">
          <div class="files">
            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
              <!--TODO(Mike): Need an API to handle file requests-->
              {% for entry_asset in entry.assets|slice:':4' %}
              <div class="col">
                {% include "common/components/file.html" with asset=entry_asset.asset site_context="weeklies" %}
              </div>
              {% endfor %}
              {% if entry.assets|length > 4 %}
              <div class="collapse" id="entry-{{ entry.id }}">
                {% for entry_asset in entry.assets|slice:'4:' %}
                {% include "common/components/file.html" with asset=entry_asset.asset site_context="weeklies" %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
          {% if entry.assets|length > 4 %}
          <div class="row update-feed-individual-files-show-more">
            <div class="col text-center">
              <a data-toggle="collapse" href="#entry-{{ entry.id }}" role="button" aria-expanded="false"
                aria-controls="entry-{{ entry.id }}" class="btn btn-sm btn-secondary collapsed show-more-less">Show </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  {% endfor %}

</div>

{% if production_logs_page.has_next and show_more_button %}
<div class="col text-center">
  <a data-toggle="collapse" href="#" role="button" aria-expanded="false"
    aria-controls="logs-page-{{ production_logs_page.next_page_number }}"
    data-url="{% url 'api-logs-page' film.id %}?page={{ production_logs_page.next_page_number }}"
    class="btn btn-sm btn-secondary collapsed show-more-less">Show </a>
</div>
{% endif %}
