{% load common_extras %}
{% load film_extras %}

<nav class="row mb-2" aria-label="breadcrumb">

  <ol class="breadcrumb col mb-n2">
    {% for name, url in breadcrumbs %}
    <a class="breadcrumb-item btn btn-dark btn-sm mb-2" href="{{ url }}">
      {{ name }}
    </a>
    {% endfor %}
    <li class="breadcrumb-item active btn btn-sm disabled mb-2">{{ current_location }}</li>
  </ol>

  <div class="file-toolbar col-auto mt-0 flex-shrink-1 flex-grow-0">

    {% if user_can_edit_collection %}
    {% url 'admin:films_asset_changelist' as list_url %}
    {% url 'admin:films_asset_add' as add_url %}
    <a href="{{ add_url }}?film={{ film.id }}&is_published=1{% if current_collection.admin_url %}&collection={{ current_collection.id }}{% elif featured_artwork %}&is_featured=1{% endif %}" class="btn btn-sm btn-dark" title="Add a new asset to {% firstof current_collection "featured" %}">
      <i class="material-icons">add</i>
      Add
    </a>
    <a href="{% if current_collection.admin_url %}{{ current_collection.admin_url }}{% elif featured_artwork %}{{ list_url }}?film__id__exact={{ film.id }}&is_featured__exact=1{% endif %}" class="btn btn-sm btn-dark" title="Edit {% firstof current_collection "featured assets" %}">
      <i class="material-icons">edit</i>
      Edit
    </a>
    {% endif %}

    <button data-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
      <i class="material-icons">more_horiz</i>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <a href="https://developer.blender.org/maniphest/task/edit/form/15/" target="_blank" class="dropdown-item">
        <i class="material-icons">flag</i>
        <span>Report Problem</span>
      </a>
    </div>

  </div>

</nav>
