<div class="{{ card_sizes|default:"col-12 col-sm-6 col-md-4 col-lg-4" }} card-grid-item">
  <div class="card card-dark card-media card-poster card-hover">
    <div class="card-header">
      <a href="{{ film.url }}" class="card-header-link">

        {% include "common/components/helpers/image_set.html" with alt=film.title classes="img-fluid" img_source=film.poster xsmall_width="250" small_width="300" medium_width="375" large_width="400" xlarge_width="500" %}

      </a>
    </div>

    <a class="card-body text-center" href="{{ film.url }}">
      <h2 class="card-title">
        {{ film.title }}

        {% if film.status == "2_released" %}
        <div class="badge badge-production badge-highlight">
          {{ film.release_date|date:"Y" }}
        </div>
        {% else %}
        <div class="badge badge-production badge-primary">
          {{ film.get_status_display }}
        </div>
        {% endif %}

      </h2>
      <p class="card-text">{{ film.description }}</p>
    </a>

  </div>
</div>
