{% load static %}
<div style="background-image:url({{ film.picture_header.url }})"
	class="jumbotron jumbotron-fluid jumbotron-overlay overlay-wide-content header">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-xl-5">
				<div class="jumbotron-body">
					<img class="mb-3 film-logo" src="{{ film.logo.url }}">
					<p class="mb-3">
						{{ film.summary|linebreaksbr }}
					</p>
					{% if film.watch_link != null %}
					<button class="btn btn-primary mb-0" data-toggle="modal" data-target="#watchVideoModal"
						target="_blank">Watch
						{{ film.title }}</button>
					<a class="btn btn-transparent mb-0" href="{% url 'film-gallery' film_slug=film.slug %}">Explore
						Content</a>
					{% else %}
					<a class="btn btn-primary mb-0" href="{% url 'film-gallery' film_slug=film.slug %}">Explore Content</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-asset" id="watchVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<button class="modal-navigation modal-close btn btn-ctrl" href="#" data-dismiss="modal">
		<i class="material-icons btn-material-icons">close</i>
	</button>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bg-dark">
			<div class="modal-body p-0">
				<div class="embed-responsive embed-responsive-16by9 js-youtube-embed">

				</div>
			</div>
		</div>
	</div>
</div>

<!-- TODO(Mike): Move this into a external script? Speak with Francesco about local vs global -->
<script>
	function getYouTubeID(url) {
		let video_url = url;
		let video_id = video_url.split('v=')[1];
		let ampersandPosition = video_id.indexOf('&');
		if (ampersandPosition != -1) {
			video_id = video_id.substring(0, ampersandPosition);
		}
		return video_id;
	}

	function insertYouTubeEmbed(url, element){
		let id = getYouTubeID(url);
		let iframeMarkup = '<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + id + '" allowfullscreen></iframe>';

		document.querySelectorAll(element).forEach((item) =>{
			item.innerHTML = iframeMarkup;
		})
	}

	document.addEventListener("DOMContentLoaded", function () {
		insertYouTubeEmbed('{{ film.watch_link }}', '.js-youtube-embed')
	});
</script>
