{% load static %}
{% load common_extras %}

<div class="production-log-week">

  <div class="production-log-week-header">
    {% if production_log_link != "false" %}
    <a href="{{ production_log.url }}" class="h2">{{ production_log.name }}</a>
    {% else %}
    <h2>{{ production_log.name }}</h2>
    {% endif %}

    {% if production_log.start_date %}
    <p class="subtitle small mb-3"><i class="material-icons icon-inline small">calendar_today</i>
      {{ production_log.start_date|date:'M jS Y' }}</p>
    {% endif %}


    {% if user_can_edit_production_log %}

    <a href="{{ production_log.admin_url }}" class="btn btn-ctrl-sm btn-sm btn-icon btn-secondary btn-float">
      <i class="material-icons">create</i>
    </a>

    {% endif %}

    <div class="production-log-header-summary">
      <div class="production-log-header-summary-image">

        {% if production_log.youtube_link != "" %}
        <a class="video-modal-link video-preview" data-toggle="modal" data-target="#videoModal"
          data-video="{{ production_log.youtube_link }}">
          <img src="{{ production_log.thumbnail.url }}" alt="Video Preview">
        </a>
        {% elif production_log.thumbnail %}
        <img src="{{ production_log.thumbnail.url }}" alt="production log preview">
        {% endif %}

      </div>

      {% if production_log.summary %}
      <div class="production-log-header-summary-text">
        <h3>This week on {{ film.title }}</h3>
        {% with_shortcodes production_log.summary|markdown %}
        {% if production_log.youtube_link != "" %}
        <a href="{{ production_log.youtube_link }}" class="video-modal-link mb-0" data-toggle="modal"
          data-target="#videoModal" data-video="{{ production_log.youtube_link }}">Watch the video</a>
        {% endif %}

      </div>
      {% endif %}

    </div>

  </div>

  <div class="production-log-individual-wrapper">
    {% for entry in production_log.log_entries.all %}
    <div class="production-log-individual">
      <div class="production-log-individual-summary">

        <div class="production-log-individual-summary-profile row">
          <div style="background-image:url('{{ entry.author_image_url }}');" class="profile-image profile ml-2">
          </div>
          <div class="col-auto flex-shrink-1">
            <h4 class="profile-name">{{ entry.author_name }}</h4>
            <p class="profile-title subtitle text-white-50 x-small">{{ entry.author_role }}</p>
          </div>
        </div>

        <p class="small">{{ entry.description }}</p>
        {% if user_can_edit_production_log_entry %}
        <div class="admin-button">
          <a href="{{ entry.admin_url }}" class="btn btn-sm btn-icon btn-secondary">
            <i class="material-icons">create</i>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="production-log-individual-files">
        <div class="files">
          <div class="row row-cols-1 row-cols-md-3  row-cols-2">
            {% for asset in entry.assets.all|slice:':4' %}

            {% include "common/components/file.html" with card_sizes="col-6 col-sm-6 col-md-6 col-lg-3" aspect_ratio="fourbythree" asset=asset site_context="production_logs" %}

            {% endfor %}
          </div>

          {% if entry.assets.count > 4 %}
          <div class="collapse" id="entry-{{ entry.id }}">
            <div class="row row-cols-1 row-cols-md-3  row-cols-2">
              {% for asset in entry.assets.all|slice:'4:' %}

              {% include "common/components/file.html" with card_sizes="col-6 col-sm-6 col-md-6 col-lg-3" aspect_ratio="fourbythree" asset=asset site_context="production_logs" %}

              {% endfor %}
            </div>
          </div>
          <div class="row production-log-individual-files-show-more">
            <div class="col text-center">
              <a data-toggle="collapse" data-objects-type="files" href="#entry-{{ entry.id }}" role="button"
                aria-expanded="false" aria-controls="entry-{{ entry.id }}"
                class="btn btn-sm btn-dark collapsed show-more-less">Show </a>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% if user_can_edit_production_log %}
  <div class="add-entry">
    <a href="{% url 'admin:films_productionlogentry_add' %}?production_log={{ production_log.pk }}"
      class="btn btn-sm btn-darkhighlight-strong">Add Entry</a>
  </div>
  {% endif %}

</div>
