<div class="row justify-content-center mt-3">
  <div class="col-auto text-center">
    <nav aria-label="ProductionLog page navigation">
      <ul class="pagination mb-0">
        {% if next %}
        <li class="page-item">
          <a href="{% url 'film-production-log' film_slug=film.slug pk=next.pk %}" class="page-link">Previous</a>
        </li>
        {% endif %}
        <li class="page-item active">
          <span class="page-link">{{ production_log.name }}</span>
        </li>
        {% if previous %}
        <li class="page-item">
          <a href="{% url 'film-production-log' film_slug=film.slug pk=previous.pk %}" class="page-link">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
