<div class="navbar-secondary">
    <div class="container">
        <div class="list-group list-group-flush list-group-horizontal small">
            <a class="list-group-item" href="{% url 'film-detail' slug=film.slug %}">
                {{ film.title }}
            </a>
            <a class="list-group-item" href="{% url 'film-about' slug=film.slug %}">
                About
{#                TODO (Natalia): any way to make the right item active?#}
            </a>
            <a class="list-group-item" href="{% url 'film-gallery' slug=film.slug %}">
                Gallery
            </a>
            <a class="list-group-item" href="{% url 'film-weeklies' slug=film.slug %}">
                Weeklies
            </a>
        </div>
    </div>
</div>
