{% extends 'training_main/base.html' %}
{% import 'common/components.html' as components %}

{% block html_templates %}
    {{ super() }}
    {{ components.comment_template() }}
    {{ components.comment_reply_input_template() }}
    {{ components.comment_edit_input_template() }}
{% endblock html_templates %}

{% block scripts %}
    {{ super() }}
    <script id="sectionProgressReportingData" type="application/json">
        {{ section_progress_reporting_data | tojson }}
    </script>
{% endblock scripts %}

{% block breadcrumbs %}
    {% call components.breadcrumbs() %}
        {{ components.breadcrumb(label='Home', url=url('home')) }}
        {{ components.breadcrumb(label=training.name, url=training.url) }}
        {{ components.breadcrumb(label=chapter.name_with_index, url=chapter.url) }}
        {{ components.breadcrumb(label=section.name_with_index) }}
    {% endcall %}
{% endblock breadcrumbs %}

{% block content %}
    {% if video is not none %}
        <div class="row mb-3">
            <div class="col">
                {{ components.video_player(url=video.url, progress_url=video.progress_url, start_position=video.start_position) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="row mb-2 justify-content-between">
                <div class="col-md-auto">
                    <p class="subtitle small">{{ chapter.name_with_index }}</p>
                    <h2 class="mb-0">{{ section.name_with_index }}</h2>
                </div>
            </div>
            <div class="row mb-3 justify-content-between">
                <div class="col-md-auto">
                    <div class="text-muted x-small">
                        <p class="d-inline mr-3">{{ training.date_updated.strftime('%d %B %Y') }}</p>
                    </div>
                </div>
            </div>
            <section class="mb-3">{{ section.text }}</section>
            <section class="mb-3">{{ components.comment_section(comments) }}</section>
        </div>
        <div class="col-md-4">
            <div class="card card-dark">
                <div class="card-body">
                    {% if video is not none %}
                        <div class="row mb-2 justify-content-between">
                            <div class="col-md-auto">
                                <p class="subtitle small">Autoplay Next Section</p>
                                <h3 class="mb-0">02. Point Tracking - Part 2</h3>
                            </div>
                            {{ components.checkbox_toggle(checked=False) }}
                        </div>
                    {% else %}
                        <div class="row mb-2 justify-content-between">
                            <div class="col-md-auto">
                                <p class="subtitle small">Next Section</p>
                                <h3 class="mb-0">02. Point Tracking - Part 2</h3>
                            </div>
                        </div>
                    {% endif %}
                    <img src="{{ static('training_main/images/placeholders/video.jpg') }}" class="img-fluid mb-2">
                    <p class="small mb-0">
                        Finally we are creating the high-res model for our scene! In this chapter we
                        will go over a few basic modeling techniques as well as the first part of the production
                        timelapse.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
