.material-icons {
	font-weight: normal !important;
}

.icon-inline {
	line-height: $line-height-base;
	vertical-align: top;
}

.btn-material-icons {
	vertical-align: top;
	line-height: 1;
	font-size: 1em;
}
