{%  extends 'films/gallery.html' %}
{% load static %}

{% block gallery_files %}

<div class="modal-header p-0 bg-secondary">
	<img class="img-fluid mx-auto" src="{{ asset.static_asset.preview.url }}">
</div>
<div class="modal-body">
	<p class="subtitle small">Image</p>
	<h2 class="mb-0">{{ asset.name }}</h2>
	<div class="training-toolbar-container">
		<div class="training-toolbar-details">
			<div class="text-muted x-small">
				<p class="d-inline mr-3">12th July 2019</p>
			</div>
		</div>

		<div class="training-toolbar">
			<a class="btn btn-sm btn-dark"><i
					class="material-icons btn-material-icons btn-material-icons-lg">favorite_border</i>
				Like</a>
			<a href="{{ asset.static_asset.source.url }}" download class="btn btn-sm btn-dark">Download</a>
			<button data-toggle="dropdown" class="btn btn-sm btn-ctrl-sm btn-dark">

				<i class="material-icons btn-material-icons">more_horiz</i>

				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item">
						<i class="material-icons">flag</i>
						<span>Report Problem</span>
					</a>
				</div>
			</button>
		</div>
	</div>
	<div class="row mb-2">
		<div style="background-image:url('https://blender.chat/avatar/MikeNewbon');" class="profile ml-2">
		</div>
		<div class="col-auto">
			<p class="subtitle text-white-50 x-small">Author</p>
			<h4 class="comment-name">Mike Newbon</h4>
		</div>
	</div>
	<p>Finally we are creating the high-res model for our scene! In this chapter we will go over a few basic
		modeling techniques as well as the first part of the production timelapse.</p>

	<div class="comment-section mt-3" data-comment-url="/training/api/sections/1/comment/"
		data-profile-image-url="https://blender.chat/avatar/fsiddi">
		<h3>2 Comments</h3>


		<div class="comment-input row comment-main-input">
			<div class="col-auto pr-0 d-flex">
				<div style="background-image:url(https://blender.chat/avatar/fsiddi);" class="profile">
				</div>
			</div>
			<div class="col">
				<form class="input-group input-group-sm" _lpchecked="1">
					<input type="text" placeholder="Comment publicly" class="form-control">
					<div class="input-group-append">
						<button class="btn btn-input">Comment</button>
					</div>
				</form>
			</div>
		</div>


		<div class="row mb-2">
			<div class="col text-center">
				<a href="#" class="btn btn-sm btn-secondary">Show Comments</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock gallery_files %}