{% extends 'common/base.html' %}

{% block bodyclasses %}
has-secondary-nav
{% endblock bodyclasses %}

{% block secondary_nav %}
<div class="navbar-secondary">
	<div class="content-holder">
		<div class="container-xl">
			<div class="list-group list-group-flush list-group-horizontal small">
				<a class="list-group-item" href="{% url 'film-detail' film_slug=film.slug %}">
					{{ film.title }}
				</a>
				<a class="list-group-item" href="{% url 'film-about' film_slug=film.slug %}">
					About
				</a>
				<a class="list-group-item" href="{% url 'film-gallery' film_slug=film.slug %}">
					Gallery
				</a>
				<a class="list-group-item" href="{% url 'film-production-logs' film_slug=film.slug %}">
					Weeklies
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock secondary_nav %}
