{% extends 'films/gallery.html' %}
{% load film_extras %}

{% block title_append %} - {{ film.title }} {{ current_collection.name }}{% endblock title_append %}

{% block gallery_files %}

<div>

  <p>{{ current_collection.text|linebreaksbr }}</p>
  <div class="files">
    <div class="card-columns">

      {% if child_collections %}
        {% for child_collection in child_collections %}
        {% include "common/components/folder.html" %}
        {% endfor %}
      {% endif %}

      {% if current_assets %}
        {% for asset in current_assets %}
          {% if asset.is_published or request.user.is_superuser %}
            {% include "common/components/file.html" with asset=asset site_context="gallery" %}
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  </div>

</div>

{% endblock gallery_files %}
