{%  extends 'films/gallery.html' %}

{% block gallery_files %}

<div>

	{% if current_collection.parent %}
	    <a href="{{ current_collection.parent.url }}" class="btn btn-sm btn-secondary  mb-3">
            Back to {{ current_collection.parent.name }}
        </a>
	{% endif %}

	<p class="subtitle">{{ current_collection.parent.name }}</p>
	<h2>{{ current_collection.name }}</h2>

	<div class="files">
		<div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

			{% if nested_collections %}
                {% for child_collection in nested_collections %}
                    {% include "components/file.html" with asset=asset %}
                {% endfor %}
			{% endif %}

			{% if current_assets %}
                {% for asset in current_assets %}
                    {% include "components/file.html" with asset=asset %}
                {% endfor %}
			{% endif %}

		</div>
	</div>

</div>

{% endblock gallery_files %}
