{% macro wide_jumbotron(bg_path='films/images/spring-header.png') %}
    <div style="background-image:url('/static/{{ bg_path }}')"
         class="jumbotron jumbotron-fluid jumbotron-overlay overlay-wide-content header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="jumbotron-body">
                        {{ caller() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro sub_navigation() %}
<div class="navbar-secondary">
    <div class="container">
        <div class="list-group list-group-flush list-group-horizontal small">
            {{ caller() }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro update_feed() %}
<div class="update-feed">
    {{ caller() }}
</div>
{% endmacro %}

{% macro update_feed_week(dates, prod_week) %}
<div class="update-feed-week">
    <div class="update-feed-week-column column-left">
        <div class="update-feed-week-icon">
            <i class="material-icons">calendar_today</i>
        </div>
    </div>
    <div class="update-feed-week-column column-right">
		<div class="update-feed-week-header">
			<p>{{ dates }}</p>
			<h3>Production Week {{ prod_week }}</h3>
		</div>
        {{ caller() }}
    </div>
</div>
{% endmacro %}