{% extends 'films/base_films.html' %}
{% load static %}

{% block jumbotron %}
{% include "films/components/jumbotron_film.html" with film=film %}
{% endblock jumbotron %}

{% block content %}
<div class="container-xl pt-4">
	<section class="mb-5">
		{% if film.status != "2_released" %}
		<!-- Latest Updates -->

		<div class="row justify-content-center mb-3">
			<div class="col-md-6 text-center">
				<h2 class="mb-0">Latest Updates</h2>
				<p class="mb-0">Want to see more updates from {{ film.title }}?
					<a href="{% url 'film-weeklies' film.slug %}">See all weeklies</a></p>
			</div>
		</div>

		{% include "films/components/update_feed.html" with production_logs=production_logs %}

		<div class="row">
			<div class="col text-center">
				<p class="mb-0">Want to see more updates from {{ film.title }}?
					<a href="{% url 'film-weeklies' film.slug %}">See all weeklies</a></p>
			</div>
		</div>
		{% else %}

		<div class="row justify-content-center mb-3">
			<div class="col-md-6 text-center">
				<h2 class="mb-0">Featured Gallery</h2>
				<p class="mb-0">Want to see more?
					<a href="{% url 'film-gallery' film.slug %}">Explore the Gallery</a></p>
			</div>
		</div>

		{% if featured_artwork %}
		<div class="grid">
			{% for asset in featured_artwork %}
			<div class="grid-item">
				<a href="#" data-toggle="modal" data-target="#file-modal"
                        data-url="{% url 'api-asset' asset.id %}?from_site=featured_artwork">
					<img src="{{ asset.static_asset.preview.url }}">
				</a>
			</div>
			{% endfor %}
		</div>

		{% else %}
		<div class="row bg-secondary">
			<div class="col my-4 text-center">
				<h3 class="mb-0">No Featured Artwork to display</h3>
			</div>
		</div>

		{% endif %}

		{% endif %}
	</section>
</div>

<!-- TODO(Mike): Add blog posts -->

{% endblock %}
