{% extends 'films/base.html' %}
{% import 'common/components.html' as components %}
{% import 'films/components.html' as film_components %}



{% block content %}
<div class="row justify-content-center my-3">
    <div class="col-md-6 text-center">
        <h1>Films</h1>
        <p clas="mb-0">The iconic Blender Open Movies. Featuring all the production files, assets, artwork, and
            never-seen-before content.</p>
    </div>
</div>
<section>
    <div class="row">

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/settlers.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                    <div class="badge badge-difficulty badge-primary">
                        <i class="material-icons btn-material-icons">theaters</i>
                        In Production
                    </div>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Settlers</h2>
                    <p class="card-text">A gift from the Blender Animation Studio team to the community.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/agent2.png") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                    <div class="badge badge-difficulty badge-primary">
                        <i class="material-icons btn-material-icons">theaters</i>
                        In Production
                    </div>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Agent 327 II</h2>
                    <p class="card-text">The agent is back for his second mission!.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/coffeerun.png") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                    <div class="badge badge-difficulty badge-primary">
                        <i class="material-icons btn-material-icons">theaters</i>
                        In Production
                    </div>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Coffee Run</h2>
                    <p class="card-text">Exploring cartoon animation and rendering in Blender 2.6x viewport.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/masonry/5.jpg") }})'>
                    <a href="/films/spring" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/spring">
                    <h2 class="card-title">Spring</h2>
                    <p class="card-text">A poetic fantasy film written and directed by Andy Goralczyk.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/hero.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Hero</h2>
                    <p class="card-text">A Blender '2D' open movie project, directed by Daniel Martinez Lara.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/dweebs.png") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">The Daily Dweebs</h2>
                    <p class="card-text">A fun animation featuring an adorable dog going though an emotional rollercoaster.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/agent.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Agent 327</h2>
                    <p class="card-text">Operation Barbershop is the first animation test for the Agent 327 project.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/caminades2.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Caminades: Llamigos</h2>
                    <p class="card-text">Koro has to struggle and fight to get one berry. But this time, he is not alone!</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/glasshalf.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Glass Half</h2>
                    <p class="card-text">Exploring cartoon animation and rendering in Blender 2.6x viewport.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/cosmos.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Cosmos Laundromat</h2>
                    <p class="card-text">The first episode of Cosmos Laundromat was the biggest Blender production so far.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/caminades.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Caminades</h2>
                    <p class="card-text">Koro has to struggle and fight to get one berry. But this time, he is not alone!</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/tears.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Tears of Steel</h2>
                    <p class="card-text">Exploring cartoon animation and rendering in Blender 2.6x viewport.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/sintel.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Sintel</h2>
                    <p class="card-text">The first episode of Cosmos Laundromat was the biggest Blender production so far.</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/bunny.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Big Buck Bunny</h2>
                    <p class="card-text">Koro has to struggle and fight to get one berry. But this time, he is not alone!</p>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 card-grid-item">
            <div class="card card-dark card-media card-poster">

                <div class="card-header" style='background-image: url({{ static("films/images/posters/dream.jpg") }})'>
                    <a href="/films/coffee-run" class="card-header-link"></a>
                </div>
                <a class="card-body" href="/films/coffee-run">
                    <h2 class="card-title">Elephants Dream</h2>
                    <p class="card-text">Exploring cartoon animation and rendering in Blender 2.6x viewport.</p>
                </a>
            </div>

        </div>

    </div>
</section>


{% endblock content %}
