{% extends 'films/base.html' %}

{% block jumbotron %}
    {% include "films/components/jumbotron_film.html" with film=film %}
    {% include 'films/components/sub_navigation_film.html' with film=film %}
{% endblock jumbotron %}

{% block content %}
    <section class="mb-5">
    <!-- Latest Updates -->
    <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
            <h2 text>Latest Updates</h2>
            <p clas="mb-0">Want to see more updates from {{ film.title }}?
                <a href="{% url 'film-weeklies' slug=film.slug %}">See all weeklies</a></p>
        </div>
	</div>


        <div class="row">
        <div class="col text-center">
            <p clas="mb-0">Want to see more updates from {{ film.title }}?
                <a href="{% url 'film-weeklies' slug=film.slug %}">See all weeklies</a></p>
        </div>
    </div>
</section>



	<!-- TODO(Mike): Add secondary navigation -->

	<!-- TODO(Mike): Add everything else (Waiting on Gallery Data, weeklies, blog posts, etc)-->

{% endblock %}
