{% extends 'films/base_films.html' %}
{% load common_extras %}

{% block title_prepend %}{{ film.title }}: {{ flatpage.title }} - {% endblock title_prepend %}

{% block meta %}
{% capture title %}{{ film.title }}: {{ flatpage.title }}{% endcapture %}
{% firstof title flatpage.title film.title as title %}
{% with description=film.description %}
{% include 'common/components/meta.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container-fluid pt-4">
  <section class="flat-page-content editorial-text-area mb-4">
    {% if user_can_edit_flatpage %}
    <div class="admin-button">
      <a href="{{ flatpage.admin_url }}" class="btn btn-sm btn-secondary btn-icon btn-float">
        <i class="material-icons">create</i>
      </a>
    </div>
    {% endif %}
    <div class="text-center mb-3">
      <p class="subtitle">{{ film.title }}</p>
      <h1 class="mb-0">{{ flatpage.title }}</h1>
    </div>
    <div>{% with_shortcodes flatpage.html_content %}</div>
  </section>
</div>

{% endblock content %}
