{% extends 'films/base_films.html' %}
{% load static %}
{% load film_extras %}

{% block bodyclasses %}
has-nav-drawer
has-secondary-nav
{% endblock bodyclasses %}

{% block nav_drawer_spacer %}
<div class="nav-drawer-spacer">
  <div class="list-group list-group-flush list-group-horizontal small">
    <p class="list-group-item mb-0">Weeklies</p>
  </div>
</div>
{% endblock nav_drawer_spacer %}

{% block nav_drawer_inner %}

<div class="drawer-nav-header">
  <p class="subtitle">{{ film.title }}</p>
  <h2>Gallery</h2>
</div>

<div class="drawer-nav-group">

  <div class="drawer-nav-dropdown-wrapper">

    <a class="drawer-nav-dropdown h3 " href="{% url 'film-gallery' film_slug=film.slug %}"><i
        class="material-icons">grade</i>Featured Artwork</a>

    {% if admin_change_href is not none %}
    <a href="{{ admin_change_href }}">edit</a>
    {% endif %}
  </div>
</div>

{% for collection, child_collections in collections.items %}

<div class="drawer-nav-group">
  <div class="drawer-nav-dropdown-wrapper ">

    <a class="drawer-nav-dropdown h3 {% if current_collection.parent != collection and current_collection != collection %}collapsed{% endif %}"
      href="{{ collection.url }}" {% if child_collections %}data-toggle="collapse"
      data-target="#collection-{{ collection.id }}" {% endif %}>
      {% if child_collections %}
      <i class="material-icons">keyboard_arrow_down</i>
      {% endif %}
      <span>
        {{ collection.name }}
      </span>
    </a>
    {% if user_can_edit_collection %}
    <button class="btn btn-secondary btn-ctrl-xs btn-save-media" data-toggle="dropdown">
      <i class="material-icons btn-material-icons">more_horiz</i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a href="{{ collection.admin_url }}" target="_blank" class="dropdown-item">
        <i class="material-icons">create</i>
        <span>Admin Edit</span>
      </a>
    </div>
    {% endif %}
  </div>







  <ol id="collection-{{ collection.id }}"
    class="drawer-nav-list collapse {% if current_collection.parent == collection or current_collection == collection %}show{% endif %}">

    {% for child_collection in child_collections %}
    <li class="drawer-nav-section">
      <a href="{{ child_collection.url }}" class="drawer-nav-section-link">

        <i class="material-icons">folder</i>
        <h4>{{ child_collection.name }}</h4>

      </a>
      {% if user_can_edit_collection %}
      <button class="btn btn-secondary btn-ctrl-xs btn-save-media" data-toggle="dropdown">
        <i class="material-icons btn-material-icons">more_horiz</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="{{ child_collection.admin_url }}" target="_blank" class="dropdown-item">
          <i class="material-icons">create</i>
          <span>Admin Edit</span>
        </a>
      </div>
      {% endif %}
    </li>

    {% endfor %}

  </ol>
</div>
{% endfor %}

{% endblock nav_drawer_inner %}

{% block content %}

<div class="container-xl pt-3">
  {% show_breadcrumbs %}

  {% block gallery_files %}

  <div>

    <div class="files">
      {% if featured_artwork %}
      <div class="card-columns">

        {% for asset in featured_artwork %}
        {% include "common/components/file.html" with asset=asset site_context="featured_artwork" %}
        {% endfor %}

      </div>
      {% else %}
      <div class="d-inline-block w-100 bg-secondary">
        <div class=" my-4 text-center">
          <h3 class="mb-0">No Featured Artwork to display</h3>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
  {% endblock gallery_files %}
  <div class="gallery-load-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}
<footer class="bg-navigation py-2">
  <div class="content-holder">
    <div class="container-xl">
      <div class="row">

        <div class="col-12">
          <div class="row">
            <div class="col-auto">
              <a href="#" class="small text-highlight-strong">Terms &amp; Conditions</a>
            </div>
            <div class="col-auto">
              <a href="#" class="small text-highlight-strong">Privacy Policy</a>
            </div>
            <div class="col-auto">
              <a href="#" class="small text-highlight-strong">Blender.org</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock footer%}
