{% extends 'films/base.html' %}

{% block secondary_nav %}
	<a class="list-group-item" href="{% url 'film-detail' slug=film.slug %}">
		{{ film.title }}
	</a>
	<a class="list-group-item" href="{% url 'film-about' slug=film.slug %}">
		About
		{#                TODO (Natalia): any way to make the right item active?#}
	</a>
	<a class="list-group-item active" href="{% url 'film-gallery' slug=film.slug %}">
		Gallery
	</a>
	<a class="list-group-item" href="{% url 'film-weeklies' slug=film.slug %}">
		Weeklies
	</a>
{% endblock secondary_nav %}


{% block content %}

    {% for collection, child_collections in collections.items %}
        <div>
            <h2><a href="#">{{ collection.name }}</a></h2>
            <div>
                {% for child_collection in child_collections %}
                    <p><a href="#">{{ child_collection.name }}</a></p>
                {% endfor %}
            </div>
        </div>

    {% endfor %}

{% endblock content %}
