{% extends 'films/base_films.html' %}
{% load static %}

{% block bodyclasses %}
has-nav-drawer
has-secondary-nav
{% endblock bodyclasses %}

{% block nav_drawer_inner %}
<div class="drawer-nav-header">
	<p class="subtitle">Gallery</p>
	<h2>{{ film.title }}</h2>
</div>
{% if featured_artwork %}
<div class="drawer-nav-group">
	<ol class="drawer-nav-list">
		<li class="drawer-nav-section">
			<a href="{% url 'film-gallery' film_slug=film.slug %}"
				class="drawer-nav-section-link">
				<div class="drawer-nav-section-icon">
					<i class="material-icons">view_carousel</i>
					<svg width="30" height="30" class="drawer-nav-section-icon-progress">
						<circle cx="15" cy="15" r="14" />
					</svg>
				</div>
				<div>

					<h4>Featured Artwork</h4>
				</div>
			</a>
			{% if admin_change_href is not none %}
			<a href="{{ admin_change_href }}">edit</a>
			{% endif %}
		</li>
	</ol>
</div>
{% endif %}
{% for collection, child_collections in collections.items %}

<div class="drawer-nav-group">
	<div class="drawer-nav-dropdown-wrapper ">
		<div class="btn btn-ctrl {% if current_collection.parent != collection %}collapsed{% endif %}" data-toggle="collapse"
		data-target="#collection-{{ collection.id }}">
			<i class="material-icons">keyboard_arrow_down</i>
		</div>
		<a class="drawer-nav-dropdown h3 " href="{{ collection.url }}"><span>{{ collection.name }}</span></a>
	</div>
	{% comment %} <h3 class="drawer-nav-dropdown {% if collapsed %}collapsed{% endif %}" data-toggle="collapse"
		data-target="#collection-{{ collection.id }}">
		<i class="material-icons">keyboard_arrow_down</i>
		{{ collection.name }}
	</h3> {% endcomment %}
	<ol id="collection-{{ collection.id }}" class="drawer-nav-list collapse {% if current_collection.parent == collection %}show{% endif %}">

		{% for child_collection in child_collections %}
		<li class="drawer-nav-section">
			<a href="{{ child_collection.url }}" class="drawer-nav-section-link">
				<div class="drawer-nav-section-icon">
					<i class="material-icons">folder</i>
				</div>
				<div>
					<h4><span>{{ child_collection.name }}</span></h4>
				</div>
			</a>
			{% if admin_change_href is not none %}
			<a href="{{ admin_change_href }}">edit</a>
			{% endif %}
		</li>

		{% endfor %}

	</ol>
</div>
{% endfor %}

{% endblock nav_drawer_inner %}

{% block content %}

<div class="container-xl pt-3">

	{% block gallery_files %}
	<div>

		<p class="subtitle">{{ film.title }}</p>
		<h2>Featured Artwork</h2>

		<div class="files">
			<div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">


				{% if featured_artwork %}
                    {% for asset in featured_artwork %}
                        {% include "common/components/file.html" with asset=asset site_context="featured_artwork" %}
                    {% endfor %}
				{% endif %}

			</div>
		</div>

	</div>
	{% endblock gallery_files %}

</div>

{% endblock content %}
