{% extends 'films/base_films.html' %}
{% load static %}

{% block content %}
<div class="container-xl pt-4">
  <section class="mb-5">
    <!-- Latest Updates -->
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2>Latest Updates</h2>
        {% if user_can_edit_production_log %}
          <div>
            <a href="/admin/films/productionlog/add/" class="btn btn-sm btn-secondary">Add Weekly</a>
            <a href="/admin/films/productionlog/?film__id__exact={{ film.id }}" class="btn btn-sm  btn-secondary">Manage Weeklies</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div id="activity-feed">
      {% include "films/components/activity_feed.html" %}
    </div>

  </section>
</div>
{% endblock content %}
