{% extends 'films/base_films.html' %}
{% load static %}

{% block title_append %} - {{ film.title }} Weeklies{% endblock title_append %}

{% block content %}
<div class="container-xl pt-4">
  <section class="mb-5">
    <!-- Latest Updates -->
    <div class="row justify-content-center">
      <div class="col-md-12 mb-3 text-center">
        <p class="subtitle">{{ film.title }}</p>
        <h1 class="mb-0">Production Logs</h2>
          <p>Follow the latest updates and progress on {{ film.title }} right here.</p>
          {% if user_can_edit_production_log %}
          <div>
            <a href="{% url 'admin:films_productionlog_add' %}?film={{ film.id }}" class="btn btn-sm btn-secondary">Add Production Log</a>
            <a href="{% url 'admin:films_productionlog_changelist' %}?film__id__exact={{ film.id }}"
              class="btn btn-sm  btn-secondary">Manage Production Logs</a>
          </div>
          {% endif %}
      </div>
    </div>

    <div id="activity-feed">
      {% if production_logs_page %}
      {% include "films/components/activity_feed.html" %}
      {% else %}
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="bg-secondary py-4 rounded">
          <h3 class="mb-0">No Weeklies to show</h3>
        </div>
      </div>
    </div>
    {% endif %}
</div>

</section>
</div>
{% endblock content %}
