{% extends 'films/base.html' %}
{% load static %}
{#{% import 'common/components.html' as components %}#}
{#{% import 'films/components.html' as film_components %}#}

{% block jumbotron %}
<div class="navbar-secondary">
    <div class="container">
        <div class="list-group list-group-flush list-group-horizontal small">
            <a class="list-group-item" href="{% url 'film-detail' slug=film.slug %}">
                {{ film.title }}
            </a>
            <a class="list-group-item" href="{% url 'film-about' slug=film.slug %}">
                About
            </a>
            <a class="list-group-item" href="{% url 'film-gallery' slug=film.slug %}">
                Gallery
            </a>
            <a class="list-group-item active" href="{% url 'film-weeklies' slug=film.slug %}">
                Weeklies
            </a>
        </div>
    </div>
</div>
{% endblock jumbotron %}


{% block content %}
<section class="mb-5">
    <!-- Latest Updates -->
    <div class="row justify-content-center my-3">
        <div class="col-md-6 text-center">
            <p class="subtitle">Coffee Run</p>
            <h1>Weeklies</h1>
            <p clas="mb-0">Keep up to date with the latest upload and progress on Coffee Run, see what the team are up to and check out their progress.</p>
        </div>
    </div>

    <div class="update-feed">

        <div class="update-feed-week">
            <div class="update-feed-week-column column-left">
                <div class="update-feed-week-icon">
                    <i class="material-icons">calendar_today</i>
                </div>
            </div>
            <div class="update-feed-week-column column-right">
                <div class="update-feed-week-header">
                    <p class="subtitle small">1st - 7th March</p>
                    <h3>Production Week 7</h3>
                </div>

                <div class="update-feed-individual row">
                    <div class="update-feed-individual-summary col-md-4">
                        <div class="row mb-2">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
                                class="profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files col-md-8">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-n2 mb-3">
                            <div class="col text-center">
                                <a href="#" class="btn btn-sm btn-secondary">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="update-feed-individual row">
                    <div class="update-feed-individual-summary col-md-4">
                        <div class="row mb-2">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
                                class="profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files col-md-8">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-n2 mb-3">
                            <div class="col text-center">
                                <a href="#" class="btn btn-sm btn-secondary">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="update-feed-week">
            <div class="update-feed-week-column column-left">
                <div class="update-feed-week-icon">
                    <i class="material-icons">calendar_today</i>
                </div>
            </div>
            <div class="update-feed-week-column column-right">
                <div class="update-feed-week-header">
                    <p class="subtitle small">1st - 7th March</p>
                    <h3>Production Week 7</h3>
                </div>
                <div class="update-feed-individual row">
                    <div class="update-feed-individual-summary col-md-4">
                        <div class="row mb-2">
                            <div style="background-image:url('https://blender.chat/avatar/MikeNewbon');"
                                class="profile ml-2">
                            </div>
                            <div class="col-auto">
                                <p class="subtitle text-white-50 x-small">Author</p>
                                <h4 class="comment-name">Mike Newbon</h4>
                            </div>
                        </div>
                        <p class="small">This week i’m working on the paint-overs for the Restaurant and Coffee shop.
                            Getting the atmosphere for these settings right is important to the story delivery.</p>
                    </div>
                    <div class="update-feed-individual-files col-md-8">
                        <div class="files">
                            <div class="row row-cols-1 row-cols-md-4  row-cols-2">
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Folder</p>
                                            <h4>About this Training</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Image</p>
                                            <h4>Poster.jpeg</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Video</p>
                                            <h4>Spring.mp4</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="file" href="#">
                                        <div class="file-header"
                                            style="background-image:url({% static 'films/images/files-example.jpg' %})">
                                        </div>
                                        <div class="file-body">
                                            <p class="subtitle">Blend File</p>
                                            <h4>Scene.blend</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col text-center">
            <a href="#" class="btn btn-sm btn-secondary">Show more</a>
        </div>
    </div>
</section>
{% endblock content %}
