{% load cache %}
{% load thumbnail %}

{% cache 500 thumbnails img_source classes small_width xlarge_width %}
<picture>

  <source sizes="(max-width: 767px) {{ small_width }}px, {{ xlarge_width }}px" srcset="
    {% thumbnail img_source small_width format='WEBP' as im %}{{ im.url }} {{ small_width }}w{% endthumbnail %},
		{% thumbnail img_source xlarge_width format='WEBP' as im %}{{ im.url }} {{ xlarge_width }}w{% endthumbnail %}"
    type="image/webp">

  <img src="{% thumbnail img_source xlarge_width as im %}{{ im.url }}{% endthumbnail %}" alt="{{ alt }}"
    sizes="(max-width: 767px) {{ small_width }}px, {{ xlarge_width }}px" srcset="{% thumbnail img_source small_width as im %}{{ im.url }} {{ small_width }}w{% endthumbnail %},
		{% thumbnail img_source xlarge_width as im %}{{ im.url }} {{ xlarge_width }}w{% endthumbnail %}"
    class="{{ classes }} {% if img_source and img_source|is_portrait %}portrait{% endif %}">
</picture>

{% endcache %}
