{% load cache %}
{% load thumbnail %}

{% cache 500 thumbnails img_source classes width %}
<picture>
  {% thumbnail img_source width format="WEBP" as im %}
  <source srcset="{{ im.url }}" type="image/webp">
  {% endthumbnail %}
  {% thumbnail img_source width as im %}
  <source srcset="{{ im.url }}" type="image/jpeg">
  <img src="{{ im.url }}" class="{{ classes }} {% if img_source and img_source|is_portrait %}portrait{% endif %}"
    alt="{{ alt }}">
  {% endthumbnail %}
</picture>
{% endcache %}
