// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	color: $body-color;
	text-align: center;
	white-space: $btn-white-space;
	vertical-align: middle;
	cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
	user-select: none;
	background-color: transparent;
	border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
	@include transition($btn-transition);

	@include hover() {
		color: $body-color;
		text-decoration: none;
		p{
			text-decoration: none;
		}
	}
	p{
		color: rgba($body-color, 0.5);
	}
	&:focus,
	&.focus {
		outline: 0;
		box-shadow: $btn-focus-box-shadow;
	}

	// Disabled comes first so active can properly restyle
	&.disabled,
	&:disabled {
		opacity: $btn-disabled-opacity;
		@include box-shadow(none);
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		@include box-shadow($btn-active-box-shadow);

		&:focus {
			@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
		}
	}
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}
}

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}

.btn-transparent{
	&:hover{
		background: $transparent;
		text-decoration: underline;
	}
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
	font-weight: $font-weight-normal;
	color: $link-color;
	text-decoration: $link-decoration;

	@include hover() {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus,
	&.focus {
		text-decoration: $link-hover-decoration;
		box-shadow: none;
	}

	&:disabled,
	&.disabled {
		color: $btn-link-disabled-color;
		pointer-events: none;
	}

	// No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
	@include button-size(
		$btn-padding-y-lg,
		$btn-padding-x-lg,
		$btn-font-size-lg,
		$btn-line-height-lg,
		$btn-border-radius-lg
	);
}

.btn-sm {
	@include button-size(
		$btn-padding-y-sm,
		$btn-padding-x-sm,
		$btn-font-size-sm,
		$btn-line-height-sm,
		$btn-border-radius-sm
	);
}

.btn-ctrl {
	@include button-size(
		$btn-padding-y-ctrl,
		$btn-padding-x-ctrl,
		$btn-font-size-ctrl,
		$btn-line-height-ctrl,
		$border-radius
	);
}

.btn-nav {
    display: flex;
	align-items: center;
	position: relative;
	@include button-size(
		$btn-padding-y-nav,
		$btn-padding-x-nav,
		$btn-font-size-nav,
		$btn-line-height-nav,
		0
    );
    .material-icons{
        line-height: 1;
        // display: block;
    }
    @include hover() {
		text-decoration: none;
		background: $highlight-white;
	}
}

.btn-ctrl-sm{
	@include button-size(
		$btn-padding-y-ctrl-sm,
		$btn-padding-x-ctrl-sm,
		$btn-font-size-ctrl-sm,
		$btn-line-height-ctrl-sm,
		$border-radius
	);
}

.btn-ctrl-xs {
	@include button-size(
		$btn-padding-y-ctrl-xs,
		$btn-padding-x-ctrl-xs,
		$btn-font-size-ctrl-xs,
		$btn-line-height-ctrl-xs,
		$border-radius
	);
}

//
// Block button
//

.btn-block {
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+ .btn-block {
		margin-top: $btn-block-spacing-y;
	}
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}


//add left padding to any button with a button before it

.btn + .btn{
	margin-left: $spacer/2;
}

.btn.btn-ctrl + .btn.btn-ctrl{
	margin-left: $spacer;
}