.jumbotron {
	padding: $jumbotron-padding ($jumbotron-padding / 2);
	margin-bottom: $jumbotron-padding;
	color: $jumbotron-color;
	background-color: $jumbotron-bg;
	background: center / cover;
	position: relative;
	@include border-radius($border-radius-lg);

	@include media-breakpoint-up(sm) {
		padding: ($jumbotron-padding * 2) $jumbotron-padding;
	}
	.card-pills {
		margin-top: $spacer;
	}
	&.jumbotron-overlay {
		&:before {
			display: block;
			content: close-quote;
			width: 100%;
			height: 100%;
			background: radial-gradient(
				75.4% 209.68% at 75.4% 51.9%,
				rgba(0, 0, 0, 0) 30.35%,
				rgba(0, 0, 0, 0.75) 100%
			);
			position: absolute;
			top: 0;
			left: 0;
			@include media-breakpoint-down(sm) {
				background: rgba(0, 0, 0, 0.5);
			}
		}
		&.overlay-flipped {
			&:before {
				background: radial-gradient(
					95.13% 205.95% at 27.8% 43.3%,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.5325) 100%
				);
			}
		}
		&.overlay-wide-content {
			&:before {
				background: radial-gradient(
					78.58% 218.51% at 78.58% 51.9%,
					rgba(0, 0, 0, 0) 11.87%,
					rgba(0, 0, 0, 0.525) 34.9%,
					rgba(0, 0, 0, 0.75) 100%
				);
			}
		}
	}
}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
	@include border-radius(0);
}

a.jumbotron-body {
	color: white;
	&:hover {
		text-decoration: none;
		h1 {
			text-decoration: underline;
		}
	}
}
