body {
	&.has-nav-drawer {
		@include media-breakpoint-up(xl) {
			margin-left: $nav-drawer-width-closed;
		}
		.content-holder {
			@include media-breakpoint-up(xl) {
				margin-left: $nav-drawer-width-closed;
			}
		}
		&.nav-drawer-open {
			.content-holder {
				@include media-breakpoint-up(xl) {
					margin-left: $nav-drawer-width-open;
				}
			}
			.nav-drawer {
				transform: translateX(0px);
				@include media-breakpoint-down(sm) {
					transform: translateY(0px);
				}
				.drawer-overlay {
					@include media-breakpoint-down(lg) {
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}
		&.nav-drawer-wide {
			.nav-drawer {
				width: $nav-drawer-wide-width-open;
				transform: translateX(-$nav-drawer-wide-width-open);
				@include media-breakpoint-down(sm) {
					width: 100%;
					height: auto;
					left: 0;
					transform: translateY(-100%);
				}
			}
			.nav-drawer-spacer {
				width: $nav-drawer-wide-width-open;
			}
			&.nav-drawer-open {
				.nav-drawer {
					transform: translatex(0px);
					@include media-breakpoint-down(sm) {
						transform: translateY(0px);
					}
				}
				.content-holder {
					@include media-breakpoint-up(xl) {
						margin-left: $nav-drawer-wide-width-open;
					}
				}
			}
		}
	}
}

.nav-drawer {
	background: $navigation-gray;
	width: $nav-drawer-width-open;
	height: 100vh;
	position: fixed;
	z-index: 1020;
	top: 0;
	transform: translateX(-$nav-drawer-width-open);
	transition: transform $nav-drawer-animation-duration;
	&-body{
		height:100%;
		max-height: calc(100vh - #{$navbar-height});
		overflow-y: auto;
		@include media-breakpoint-up(md) {
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background: none;
			}
			&::-webkit-scrollbar-thumb {
				background: $highlight-white;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
		height: auto;
		left: 0;
		transform: translateY(-100%);
	}
	.drawer-overlay {
		pointer-events: none;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transition: opacity $nav-drawer-animation-duration;
		@include media-breakpoint-down(sm) {
			left: 0;
			top: 100%;
		}
	}
}

.nav-drawer-spacer {
	height: $navbar-height;
	width: $nav-drawer-width-open;
	display: flex;
	align-items: stretch;
}

.nav-drawer-list {
	list-style: none;
	padding: 0;
	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		& > li {
			width: 50%;
		}
	}

	li {
		a {
			color: $white;
			display: flex;
			flex-wrap: wrap;
		}

		.btn-nav {
			padding: $spacer/2;
			line-height: 1.5;
		}
		i {
			padding-left: $spacer/2;
			padding-right: $spacer/2;
		}
		a.active {
			color: $primary;
		}
	}
}

.nav-drawer-sub-list {
	padding-left: 54px;
	list-style: none;
	display: none;
}

.content-holder {
	margin-top: $navbar-height;
	transition: margin-left $nav-drawer-animation-duration;
}

// Training

.training-nav-group, .training-nav-header {
	padding: $spacer/2 0;
	border-bottom: 1px solid $highlight-white;
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	a {
		margin-bottom: 0;
	}
}

.training-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	.training-nav-section{
		&.complete{
			.training-nav-section-icon:before {
				background-color: $primary;
			}
		}
		&:last-of-type {
			.training-nav-section-icon:before {
				content: none;
			}
		}
	}
}

.training-nav-header{
	padding:$spacer;

}

.training-nav-section {


	a {
		padding: $spacer/2 $spacer;
		color: inherit;
		display: flex;
		flex-direction: row;
		align-items: center;
		&.active{
			background-color: $highlight-white;
		}
		&:hover {
			text-decoration: none;
			background-color: $highlight-white;
		}
	}
}

$circle-radius: 14;
$circle-diameter: $circle-radius*2;
$circle-circumfrance: $circle-diameter*3.14;

.training-nav-section-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $input-gray;
	margin-right: $spacer;
	position: relative;
	&:before {
		content: close-quote;
		width: 2px;
		background: $input-gray;
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 100%);
		z-index: -1;
	}
	&.progress {
		border: 2px solid $primary;
	}
	i {
		font-size: $font-size-base * 1.125;
	}
	&-progress {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(-90deg);
		circle {
			stroke: $primary;
			stroke-width: 2px;
			fill: none;
			stroke-dasharray: $circle-circumfrance;
			stroke-dashoffset: $circle-circumfrance;
			stroke-linecap: square;
		}
		&.progress-half {
			circle {
				stroke-dashoffset: calc( #{$circle-circumfrance} / 2);
			}
		}
		&.progress-complete {
			circle {
				stroke-dashoffset: 0;
			}
		}
	}
}

.training-nav-dropdown{
	padding: $spacer/2 $spacer;
	cursor: pointer;
	&.collapsed{
		i{
			transform:rotate(180deg);
		}
	}
	i{
		transition:transform 0.35s ease;
		margin-right: $spacer/2;
		vertical-align: text-top;
	}
}