.training-toolbar-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $spacer;
	flex-wrap: wrap;
}

.training-toolbar{
	flex-grow: 1;
	justify-content: flex-end;
	display: flex;
	align-self: flex-start;
	flex-shrink: 0;
}

.training-toolbar-details{
	flex-wrap: nowrap;
}

.training-video .video-player{
	@include media-breakpoint-down(lg) {
		margin: -20px -20px 0 -20px
	}
}