{% extends 'common/base.html' %}
{% load common_extras %}
{% load looper %}
{% load pipeline %}
{% load static %}

{% block content %}
{% include "subscriptions/components/header_jumbotron.html" %}

<form id="payment-form" class="checkout-form" method="post">
  {% with form|add_form_classes as form %}
  <div class="container-xl my-4">
    <div class="row">
      <div class="col-md-7">
        <h2>Learn to make Movies from the Blender Animation Team</h2>
        <p>Follow along with our expert team at your own pace — on every subject from Animation to UV
          unwrapping.</p>
        <p class="mb-3">With <strong>hundreds of hours of training</strong> and <strong>1000's of production
            files</strong>, you're getting the best resources Blender has to offer.</p>

        <div class="row">
          <div class="col-12">
            <figure class="figure blog-image">
              <img class="img-fluid rounded" src="{% static 'common/images/join/sf-phil.jpg' %}"
                alt="A chubby teenager enjoying some snacks in a forest.">
              <figcaption class="figure-caption">A render from the upcoming Open Movie: Sprite Fright</figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 offset-lg-1 mb-3">
        {% include "subscriptions/components/plan_selector.html" %}
      </div>
    </div>

    {% include 'common/components/faq.html' with classes="mt-4" %}

  </div>
  {% endwith %}
</form>

{% endblock content %}

{% block scripts %}
{% javascript "subscriptions" %}
{% endblock scripts %}
