{% extends 'checkout/checkout_base.html' %}
{% load common_extras %}
{% load looper %}
{% load pipeline %}
{% load static %}

{% block content %}
  {% if not plans %}
    <p>No subscription plans available.</p>
  {% else %}
    <form id="payment-form" class="checkout-form" method="post">
      {% csrf_token %}
      {% with form|add_form_classes as form %}
        {% include "subscriptions/components/plan_selector.html" %}
      {% endwith %}
    </form>
  {% endif %}
{% endblock content %}

{% block scripts %}
  {% javascript "subscriptions" %}
{% endblock scripts %}
